// DIT colour palette


// Greyscale
$black: #0b0c0c;
$white: #ffffff;
$grey-1: #333333;
$grey-2: #bfc1c3;
$grey-3: #d8d8d8;
$grey-4: #999999; // rgb(153, 153, 153)
$grey-5: #666666;

// Red
$red-1: #C80651;
$red-2: #d53880;
$red-3: #f2dede;
$red-4: #ebccd1;
$red-5: #a94442;
$great-red: #e41f13; // rgb(228,  31,  19)

// Blue
$blue-1: #005ea5;
$blue-2: #2e8aca;

// Green
$green-1: #00823b;
$green-2: #00692f;
$green-3: #92c569;
$green-4: #dff0d8;
$green-5: #d6e9c6;
$green-6: #3c763d;

// Stone
$stone: #dfd5c5; // rgb(223, 213, 197)
$stone-90: #e2d9cb;
$stone-80: #e5ddd1;
$stone-70: #e9e2d6;
$stone-60: #ece6dc;
$stone-50: #efeae2;
$stone-40: #f2eee8;
$stone-30: #f5f2ed; // rgb(245, 242, 237)
$stone-20: #fcfbf9;
$stone-10: #fdfdfc;

// White
$offwhite: #fafafa; // rgb(220, 224, 223)
$white: #ffffff; // rgb(255, 255, 255)

// Other
$focus-yellow: #ffbf47;
$olive:        #aab2b2;
$olive-grey:   #e1e8e8;
