// GENERAL SITE STYLES
// ---------------------


/* Hidden or disabled */
.js-header-toggle.menu {
  display: none;
}

/* Minimal reset */
a, body, button, dd, div, dl, dt, form, input, img, li, ol, pre, textarea, ul {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

/* ... */
body {
  box-sizing: border-box;
  color: $grey-1;
  font-family: $brand-font-standard;
  font-size: $font-size-body-m;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

p {
  box-sizing: border-box;
}

main {
  margin-bottom: $spacing-3;
}

.authenticator {
  margin-bottom: 0;
  width: auto;

  .button {
    border: none;
    float: right;
    font-size: $font-size-body-s;
    font-weight: normal;
    height: auto;
    line-height: 1.2em;
    padding: 7px 15px;
    position: relative;
    right: 0;
    top: 24px;
  }
}

.flash {
  @include container;
  border-style: solid;
  border-width: 0 0 0 5px;
  font-size: $font-size-body-s;
  padding: $spacing-4;

  &.alert {
    background-color: $green-4;
    border-color: $green-5;
    color: $green-6;
  }

  &.announcement {
    background-color: $olive-grey;
    border-color: $olive;
  }

  &.error {
    background-color: $red-3;
    border-color: $red-4;
    color: $red-5;
  }

  // Temporary rule - you can safely delete if grep 
  // of views reveals classname no longer exists.
  &.ptu-announcement {
    background-color: #539C95;
    border: none;
    color: $white;
    font-weight: bold;

    a {
      color: $white;
      font-weight: normal;
    }
  }
}

.navigation {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    padding: 0;
    &::before {
      display: none;
    }
  }
}


// COMPONENTS
// -------------------------------------
.content-directory {
  margin-bottom: $spacing-3;
  padding-bottom: $spacing-1;

  a {
    font-size: $font-size-body-l;
    font-weight: bold;
    text-decoration: none;
  }

  li {
    margin-bottom: $spacing-3;
  }

  .title {
    font-size: $font-size-body-l;
    font-weight: normal;
    margin-bottom: $spacing-2;
  }
}

.content-meta {
  @include clear_floats;
  margin-bottom: $spacing-3;
  position: relative;
  top: -$spacing-3;

  dd {
    float: left;
    font-size: $font-size-body-s;
    margin: 0 0 10px 0;
  }

  dt {
    clear: left;
    float: left;
    font-size: $font-size-body-s;
    margin: 0 $spacing-3 10px 0;

    &:after {
      content: ":";
    }
  }
}


/* Menu (primary navigation)
 ****************************/
#menu  {
  display: inline-block;
  padding: 13px 0 9px 0;
  text-align: left;

  a {
    color: $white;
    font-size: $font-size-body-xs;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  li {
    display: inline-block;
    margin: 0 $spacing-4 0 0;
  }

  .title {
    color: $white;
    display: inline-block;
    font-size: $font-size-body-l;
    margin: 0;
  }

  ul {
    line-height: 1.2em;
  }
}


/* Header
 *********************/
#header {
  background-color: $black;
  min-height: 78px;
  text-align: center;

  .container {
    position: relative;
  }
}

#logo {
  color: $white;
  display: inline-block;
  float: left;
  left: 0;
  line-height: 1.2em;
  position: relative;
  text-align: left;
  text-decoration: none;
  top: 11px;
  vertical-align: top;
  width: 136px;
}

#phase-banner {
  @include container;
  border-top: $red-1 solid 10px;
  font-size: $font-size-body-s;
  margin-bottom: $spacing-3;
  padding-top: 7px;

  strong {
    background-color: $red-2;
    color: $white;
    display: inline-block;
    margin-right: 5px;
    padding: 2px 10px;
    text-transform: uppercase;
  }
}


/* Footer
 ************************/
.feedback-section {
  p {
    font-size: $font-size-body-s;
  }
}

#footer {
  clear: both;
  margin-bottom: $spacing-3;

  .container {
    border-top: $grey-2 solid 1px;
    padding: $spacing-3 0;
  }
}




// TABLET
@media (max-width: 768px) {
  #header {
    text-align: left;
  }

  #menu {
    margin-top: 10px;
  }
}
