- if label[:description].nil? or label[:description].empty?
  = field.label :title, label[:text]
  -#= label_tag(label[:field_id], label[:text])
- else
  = field.label :title, label[:text]
  -#= label_tag(label[:field_id], label[:text], 'aria-describedby': label[:description_id])
  %p.description{ id: label[:description_id] }
    = label[:description]
