.container
  .results.margin-top-20
    %h1.h1 You have been unsubscribed
    %p.large
      You will no longer receive requests for feedback
    %p
      If you have more to say on the service, #{link_to 'complete our short feedback form', 'https://contact-us.export.great.gov.uk/feedback/export_ops/'}.
