= content_for :hero do
  %h1 You will no longer receive requests for feedback
  %p
    If you have more to say on the service, #{link_to 'complete our short feedback form', 'https://contact-us.export.great.gov.uk/feedback/export_ops/'}.
