%meta{:charset => "utf-8"}
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
%link{:href => "#{asset_path('favicon-192x192.png')}", :rel => 'icon', :type => 'image/x-icon'}
