%meta{:charset => "utf-8"}
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
%link{:href => "#{asset_path('favicon-lg.png')}", :rel => 'icon', :type => 'image/x-icon'}
/[if IE] <link rel="shortcut icon" href="https://www.export.great.gov.uk/images/favicon.ico" type="image/x-icon">
