%meta{:charset => "utf-8"}
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
%meta{:content => "UsYPpFjZgK_HPJX0BmyaiSEFr6VDk-8kD4NARXzhhCE", :name => "google-site-verification"}
%link{:href => "#{asset_path('favicon-lg.png')}", :rel => 'icon', :type => 'image/x-icon'}
= render 'export_components/cookie_domain_meta'
/[if IE] <link rel="shortcut icon" href="https://www.export.great.gov.uk/images/favicon.ico" type="image/x-icon">
