.btn {
  @include link-box($white, $blue);

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover {
    background-color: $action-color;
  }

  &--dark {
    @include link-box($blue, $white);
  }
}

.button-no-box:hover {
  color: $white;
  background-color: transparent;
}

.arrow-link,
%arrow-link {
  padding: 0;
  color: $blue;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: color .1s ease-out;

  &:after {
    content: "";
    width: 12px;
    height: 12px;
    background: url('arrow-blue.svg') no-repeat;
    background-size: 12px 12px;
    display: inline-block;
    margin-left: 0.3em;
    transform: translateX(0);
    transition: transform .1s ease-out;

    .lt-ie10 & {
      content: "";
      background: transparent url('arrow-blue.png') no-repeat;
      height: 14px;
      margin-left: 10px;
      margin-bottom: -1px;
    }
  }

  &:hover,
  &:focus {
    &:after {
      transform: translateX(5px);
    }
  }
}

// TODO: refactor to remove the existing styling

#{$all-buttons} {
  background-color: $button-colour;
}

#{$all-buttons-focus},
#{$all-buttons-hover} {
  outline: 3px solid $focus-colour;
}

#{$all-buttons-active} {
  background-color: shade($button-colour, 10%);
}

.button {
  background: $button-colour;
  border: 0;
  color: $white !important;
  display: block;
  font-size: 1em;
  font-weight: 600;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  width: auto;

  @include media($medium-screen) {
    width: 50%;

    &-wide {
      width: 100%;
    }
  }

  &.button--slimline {
    white-space: nowrap;
    line-height: 50px;
    display: inline;
    padding: 10px 12px;
    width: auto;
    border: 2px solid $button-colour;
    &:hover {
      border-bottom-width: 2px;
    }
  }

  &:hover {
    background-color: #003666;
    border-color: #003666;
    border-bottom-width: 0px;
    outline: none;
  }

  &:active {
    background-color: $aqua;
    border-color: $aqua;
    box-shadow: none;
    outline: none;
    top: 1px;
  }

  &:focus {
    background-color: #003666;
    border-color: #003666;
    outline: 3px solid $focus-colour;
  }

  &.button--naked {
    background: white;
    color: $button-colour !important;
    border: 2px solid $button-colour;
  }
}

// Fix unwanted button padding in Firefox
.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

// Disabled buttons
.button[disabled="disabled"] {
  background: $button-colour;
  cursor: not-allowed;

  &:focus {
    outline: none;
  }
}
