body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: 'kern', 'liga', 'pnum';
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: $base-line-height;
}

h5,
h6 {
  color: $header-font-color;
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $heading-font-size / 2;
  text-transform: inherit;
}


h3 {
  span {
    color: $flag-red;
    display: block;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
  }
}

h4 {
  font-size: 112.5%; // 18px
}

h4,
h5,
h6 {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: none;
}

p {
  font-size:15px;
  font-weight:400;
  line-height: 1.53;
  margin: 0 0 1em;
  &.large {
    font-size: 18px;
    font-weight:400;
    line-height: 1.39;
  }
  &.larger {
    font-size: 19px;
    font-weight:400;
    line-height: 30px;
  }
  &.width-60 {
    @include media($medium-screen) {
      width: 60%;
    }
  }
}

a,
a.no-link-styles {
  color: $mid-blue;
  text-decoration: none;
  // transition: color $base-duration $base-timing;
  border-bottom: 1px solid $mid-blue;

  &:visited {
    border-bottom: 1px solid $purple;
    color: $mid-blue;
  }

  &:active,
  &:hover,
  &:focus {
    border-bottom: 1px dashed $aqua;
    color: $aqua;
  }

  &:focus {
    outline: 3px solid #ffbf47;
  }
}

a.external-link {
  text-decoration: none;
  word-break: break-all;

  &:after {
    background: url('external-link.svg') no-repeat;
    background-size: 12px 12px;
    content: "";
    display: inline-block;
    height: 12px;
    margin-left: 0.5em;
    transform: translate(0, 0);
    transition: transform .1s ease-out;
    width: 12px;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
