- if breadcrumbs && breadcrumbs.length > 0
  %p.breadcrumbs
    %span.label.verbose You are here:
    - breadcrumbs.each do |item|
      - if item[:slug].blank? || item == breadcrumbs.last
        %span.current
          = item[:title]
      - else
        = link_to item[:title], item[:slug]
        %span.separator ,
