%blockquote.quote
  %p.text
    = quote["text"]
  %cite
    %span.name 
      = quote["name"]
    %span.verbose ,
    %span.company
      = quote["company"]
    %span.separator ,
    %span.country
      = quote["country"]
