<nav aria-label="Process steps">
  <progress class="verbose" max="5" value="4">You are on step 4 of 5 in this process</progress>
  <p id="steps-progress-explaination" class="verbose">List of steps required to complete the process:</p>
  <ul class="navigation steps-progress-indicator" aria-labelledby="steps-progress-explaination">
    <li class="complete">
      <span class="verbose">Completed:</span>
      <span>Select your business type</span>
    </li>
    <li class="complete">
      <span class="verbose">Completed:</span>
      <span>Enter your email and set a password</span>
    </li>
    <li class="current" aria-current="step">
      <span class="verbose">Current:</span>
      <span>Confirm the validation code from your email</span>
    </li>
    <li><span>Confirm your business' details</span></li>
    <li><span>Enter personal details</span></li>
  </ul>
</nav>
