<nav aria-label="Form steps">
  <progress class="verbose" max="5" value="4">You are on step 4 of 5 in this form</progress>
  <p id="steps-progress-explaination" class="verbose">You can revisit completed stages using links available in this list of steps required to complete the form:</p>
  <ul class="navigation steps-progress-indicator" aria-labelledby="steps-progress-explaination">
    <li class="done"><a href="#">Select your business type</a></li>
    <li class="done"><a href="#">Enter your email and set a password</a></li>
    <li class="variant"><a href="#">Confirm the validation code from your email</a></li>
    <li class="current" aria-current="step"><span>Confirm your business' details</span></li>
    <li><span>Enter personal details</span></li>
  </ul>
</nav>
