.opportunity-search-results {
  dd {
    background-color: $white;
    margin: 0 0 10px 0;
    padding: 0 $spacing-3;
  }

  dt {
    @include body-l;
    background-color: $white;
    margin: 0;
    padding: $spacing-3 $spacing-3 0 $spacing-3;
  }


  .actions {
    @include body-s;
    border-top: 1px solid $light-grey;
    margin-top: $spacing-3;
    padding: $spacing-4 0;
  }

  .all {
    @include button-ghost($active-blue, $white);
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 165px;
  }

  .pagination {
    a {
      @include button-ghost($active-blue, $white);
      padding-left: $spacing-4;
      padding-right: $spacing-4;
    }

    li {
      display: inline-block;
    }

    span {
      @include button-disabled($active-blue, transparent);
      padding-left: $spacing-4;
      padding-right: $spacing-4;
    }
  }

  .save {
    background: transparent image_url("star.png") 0 40% no-repeat;
    background-size: 17px;
    padding-left: 25px;
  }

  .share {
    float: right;
  }
}

.volume_opps {
  position: relative;

  a,
  .text {
    display: block;
    margin-right: 155px;
  }

  .source {
    color: $mid-grey;
    display: block;
    font-size: 12px;
    position: absolute;
    right: $spacing-3;
    top: 0;

    img {
      display: block;
      width: 110px;
    }
  }
}


// RESPONSIVE
@media screen and (max-width: 767px) {
  .opportunity-search-results {
    dd {
      padding: 0 $spacing-3-m;
    }

    dt {
      padding: $spacing-3-m $spacing-3-m 0 $spacing-3-m;
    }
  }
}

@media screen and (max-width: 480px) {
  .volume_opps {
    a,
    .text {
      margin-right: 0;
    }

    .source {
      padding-top: $spacing-3-m;
      position: static;
      right: $spacing-3;
    }
  }
}
