@import 'transformation/config';
@import 'transformation/effects/selective_lookup';
@import 'transformation/components/confirmation_notice';



.business {
  .checkbox {
    margin-bottom: $spacing-2;
  }
}

.RestrictedInputCount {
  position: relative;
  top: -#{$spacing-3 - 10};
}

