@import 'transformation/config';
@import 'transformation/forms';
@import 'transformation/components/opportunity_list';
@import 'transformation/components/search_form';
@import 'transformation/components/steps_indicator';
@import 'transformation/components/quote';
@import 'transformation/components/opportunity_summary_list';
@import 'transformation/effects/carousel';
@import 'transformation/effects/tabbed_area';
@import 'transformation/effects/filter_select';

section {
  padding: $spacing-1 0;
}

.benefit {
  @include items(3, $spacing-3);
  padding-top: $spacing-1;

  p {
    @include body-s;
    color: $mid-grey;
  }
}

.breadcrumbs {
  a {
    color: inherit;
  }
}

.companies {
  border-top: 1px solid $grey;
  clear: both;
  padding-top: $spacing-3;

  img {
    background-color: $mid-grey;
    display: block;
    height: 210px;
    width: 100%;
  }

  .company {
    @include items(3, $spacing-3);
  }
}

.feedback {
  display: none;
}

.hero-section {
  background-image: asset_url("backgrounds/ExOpps_HeroBanner1290x400_27@2x.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 $spacing-3 0;

  h1 {
    @include heading-hero;
    margin-bottom: $spacing-4;
  }

  p {
    width: $cols-6;
  }

  &.international {
    padding-top: $spacing-2;

    h1 {
      max-width: 500px;
    }
  }
}

.non-breadcrumb {
  margin-bottom: $spacing-4;
}

.quote {
  margin-left: auto;
  margin-right: auto;
  width: $cols-6;
}

.sector {
  @include body-m;
}

.search-section {
  background-color: $great-blue;
  color: $white;

  p {
    width: $cols-6;
  }
}

.Carousel {
  margin: 0 auto;
  width: $cols-6;
}

#create-opportunities {
  background-color: $offwhite;
  position: relative;

  .heading {
    margin-bottom: $spacing-1;
  }

  &:before {
    @include section-connector($white, $offwhite);
  }
}

#featured-industries {
  background-color: $stone-light;
}

#recent-opportunities {
  padding-bottom: $spacing-3;

  form,
  .information,
  .pagination {
    display: none;
  }
}

#how-it-works {
  .intro {
    margin-bottom: $spacing-3;
  }
}

#service-promotion {
  background: $great-blue image_url('backgrounds/ExOpps_Benefits1290x830_3@2x.jpg') no-repeat center;
  background-size: 100%;
  overflow: hidden;
  padding: $spacing-1 0;

  h2, ul {
    color: $white;
    max-width: 545px;
    width: $cols-8;
  }

  img {
    float: right;
    width: $cols-5;
  }

  li {
    @include items(2, $spacing-3);
    @include body-s;
    border-top: 4px solid $great-red;
    color: $white;
    margin-bottom: $spacing-3;
    padding-top: $spacing-4;
  }

  strong {
    @include body-l;
    color: $white;
    display: block;
    margin-bottom: $spacing-4;
  }
}

#testimonials {
  background-image: image_url('backgrounds/EXOpps_Quote1290x450@2x.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
  position: relative;

  .Carousel {
    padding-bottom: 0;
  }

  .controls {
    @include access-hidden;
  }

  &:before {
    background-color: $stone-20;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: auto;
  }
}

// RESPONSIVE
@media screen and (max-width: 1200px) {
  #service-promotion {
    background-size: auto 100%;
  }
}

@media screen and (max-width: 767px) {
  .benefit {
    float: none;
    margin-left: 0;
    padding-top: $spacing-3;
    width: auto;
  }

  .companies {
     margin-bottom: $spacing-1;
    .company {
      float: none;
      margin-left: 0;
      width: auto;
    }
  }
  
  .Carousel {
    width: auto;
  }


  #service-promotion {
    background-image: none;
    h2, ul {
      max-width: none;
      width: auto;
    }
  }
}

@media screen and (max-width:768px) {
  .quote {
    width: 75%;
  }
}

@media screen and (max-width:480px) {
  .hero-section {
    h1 {
      @include heading-hero-mob;
    }

    p {
      width: auto;
    }
  }

  .quote {
    width: auto;
  }
}

