@import 'transformation/config';
@import 'transformation/components/confirmation_notice';

form,
.thankyou {
  padding: $spacing-3 0;
}

.alert-panel {
  background-color: $stone-40;
  margin-bottom: $spacing-3;
  padding: $spacing-3;
  position: relative;

  &:after {
    @include great-red-trim;
  }
}

.back {
  margin: $spacing-1 0;
}

.subscriptions li {
  @include body-s;
  background-color: $stone;
  border-radius: 5px;
  clear: both;
  display: inline-block;
  margin: 0 0 5px 0;
  padding: 2px 15px;
}
