// GLOBAL ELEMENT STYLES
// ----------------------------
//


.link-back-to {
  @include body-s;
}

.link-continuity {
  border-color: $light-grey;
  border-style: solid;
  border-width: 1px 0;
  clear: both;
  margin-bottom: $spacing-1;
  
  a {
    @include heading-l;
    border-bottom: 6px solid $active-blue;
    display: block;
    margin-bottom: 0;
    padding-bottom: $spacing-3;
    padding-right: #{$spacing-4 + 52px};
    position: relative;
    text-decoration: none;
    
    &:after {
      @include continue-arrow;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  
  p {
    margin-bottom: 0;
    padding-top: $spacing-2;
  }
  
  span {
    display: block;
  }
}

.link-portal {
  border: $light-grey solid 1px;
  margin-bottom: $spacing-3;
  overflow: hidden;
  padding: $spacing-3;
  position: relative;
  
  a {
    margin-right: $spacing-3;
  }
  
  img {
    position: absolute;
    right: $spacing-3;
    top: $spacing-3;
    width: $cols-3;
  }
  
  p {
    width: $cols-7;
  }
}

.link-top {
  @include body-s;
}



// TABLET
@media (max-width: 767px) {
  .link-portal {
    margin-left: 0;
    margin-right: 0;
    
    img {
      float: right;
      margin-bottom: $spacing-3;
      position: static;
    }
    
    p {
      width: auto;
    }
  }
}


// MOBILE
@media (max-width: 420px) {
  .link-continuity {
    border-width: 0;
    a {
      @include heading-l-mob;
      &:after {
        @include continue-arrow-mob;
      }
    }
  }
  
  .link-portal {
    padding: $spacing-4;
    
    img {
      width: 100%;
    }
  }
}
