.opportunities-summary-list {
 a {
    text-decoration: none;
  }

  img {
    margin-bottom: $spacing-4;
    width: 100%;
  }

	li {
    @include items(6, $spacing-3);
    @include body-m-mob;
    font-weight: bold;
  }

  .bracket {
    @include access_hidden;
  }

  .name {
    display: block;
    margin-bottom: $spacing-4;
  }

  .number {
    @include heading-m;
    display: block;
    margin: 0;
  }

  .text {
    @include body-s-mob;
  }
}
