// Language Selector Component
// ---------------------------
@import '../config';

.language-selector-control {
  overflow: hidden;
  
  button {
    color: $white;
    font-size: 14px;
    line-height: 24px;
    padding: 0 10px;
  }
    
  form {
    color: $white;
    margin: 5px 0 0 0;
    position: relative;
    z-index: 0;
    
    &.enhancedLanguageSelector {
      button {
        display: none;
      }
    }
  }
  
  option {
    background-color: $mid-grey;
    color: $black;
  }
  
  p,
  select {
    @include body-s;
    background-color: transparent;
    border: 1px solid $mid-grey;
    border-radius: 0;
    color: $white;
    cursor: pointer;
    height: 27px;
    line-height: 27px;
    margin: 0;
    padding: 0;
    width: auto;
  }
  
  .SelectTraker-Tracker {
    background-image: image-url("icons/language-icon.svg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 20px;
    border: none;
    display: inline-block;
    padding-left: 30px;
    .code {
      text-transform: uppercase;
      &:after {
        content: " - ";
      }
    }
  }
  
  .SelectTracker-Select {
    border: none;
    opacity: 0;
    position: absolute;
    right: 0;
    text-indent: -1000px;
    top: 0;
    &:focus {
      min-width: 150px;
      & + p {
        outline: 3px solid $focus-yellow;
      }
    }
  }
}


.language-selector-dialog {
  background-color: $white;
  color: $black;
  padding: $spacing-3;
   
  a {
    @include body-s;
  }
  
  li {
    display: inline-block;
    margin-right: 30px;
    white-space: nowrap;
  }
   
  p {
    @include body-s;
    display: inline-block;
    margin-bottom: 0;
  }

  .domestic-redirect {
    padding-top: $spacing-4;
  }

  .languages {
    border-bottom: $light-grey solid 1px;
    padding-bottom: $spacing-4;
  }
}


.LanguageSelectorDialog-Modal {
  a {
    font-size: inherit;
  }
  
  li {
    float: left;
    margin-bottom: $spacing-3;
  }
  
  p {
    @include heading-m;
    display: block;
  }
  
  ul {
    display: block;
  }
  
  .countries {
    overflow: hidden;
    a {
      background-position: top left;
      background-repeat: no-repeat;
      background-size: 40px 40px;
      display: block;
      min-height: 40px;
      padding: 5px 0 0 50px;
    }
  }
  
  .languages {
    border-bottom: $light-grey solid 1px;
    margin-bottom: $spacing-3;
    overflow: hidden;
    padding-bottom: $spacing-3;
  }
  
  // Country flags
  .br { background-image: image-url("flags/br.svg"); }
  .cn { background-image: image-url("flags/cn.svg"); }
  .de { background-image: image-url("flags/de.svg"); }
  .es { background-image: image-url("flags/es.svg"); }
  .in { background-image: image-url("flags/in.svg"); }
  .jp { background-image: image-url("flags/jp.svg"); }
  .us { background-image: image-url("flags/us.svg"); }
  .uk { background-image: image-url("flags/uk.svg"); }
}

.LanguageSelectorDialog-Tracker {
  @include body-s;
  background-image: image-url("icons/language-icon.svg");
  background-position: 0px 6px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  height: 27px;
  line-height: 27px;
  margin-left: $spacing-4;
  padding: 3px 3px 3px 25px;
  text-decoration: none;
  
  &:hover {
    color: $white;
    text-decoration: underline;
  }
  
  .label {
    text-transform: capitalize;
    &:before {
      content: " - ";
    }
  }
  
  .lang {
    text-transform: uppercase;
  }
}

// DESKTOP ONLY
@media (min-width: 768px) {
  .LanguageSelectorDialog-Modal {
    .countries {
      li {
        @include items(4, $spacing-3);
      }
    }
  
    .languages {
      li {
        @include items(4, $spacing-3);
      }
    }
  }
}

// TABLET
@media (min-width: 481px) and (max-width: 767px) {
  .LanguageSelectorDialog-Tracker {
    .label {
      display: none;
    }
  }

  .LanguageSelectorDialog-Modal {
    .countries {
      li {
        @include items(2, $spacing-3);
      }
    }
  
    .languages {
      li {
        @include items(3, $spacing-3);
      }
    }
  }
}


// MOBILE
@media screen and (max-width: 480px) {
  .LanguageSelectorDialog-Tracker {
    .label {
      display: none;
    }
  }

  .LanguageSelectorDialog-Modal {
    p {
      @include heading-m-mob;
    }

    .countries {
      a {
        background-size: 20px 20px;
        min-height: 20px;
        padding: 0 0 0 30px;
      }
      
      li {
        @include items(2, $spacing-3);
      }
    }
  
    .languages {
      li {
        @include items(2, $spacing-4);
      }
    }
  }
}
