#menu {
  background-color: $white;
  padding-top: 5px;

  a {
    @include body-s;
    background-color: inherit;
    font-weight: bold;
    position: relative;
    text-decoration: none;
  }

  li {
    margin-bottom: $spacing-4;
    position: static;
  }

  .description {
    @include body-s-mob;
    display: block;
    margin-bottom: 5px;
  }

  .level-2 {
    overflow: hidden;

    li {
      float: left;
      margin-bottom: 0;
      padding: 0 $spacing-4;
      position: relative;
      text-align: left;
      vertical-align: top;

      // Custom widths based on items-X class name (number of items in list)
      // Only doing the items-6 here to imporove JS-off view
      &.items-6 {
        @include items(6, 0px);
      }
    }
  }

  .list-header {
    &:after {
      @include down-chevron-1($mid-blue);
      margin: 0 0 0 10px;
    }
  }
}

#menu-activator {
  display: none;
}

#menu.enhanced {
  background-color: transparent;
  height: 1px;
  position: relative;
  top: -2.7em;
  text-align: right;
  
  a {
    color: $white;
    display: inline-block;
    padding: $spacing-4;

    &.active,
    &:hover {
      background-color: $mid-blue;

      &:before {
        @include great-red-trim;
      }
    }
  }

  li {
    display: inline-block;
  }

  .description {
    padding: 0 $spacing-4;
  }

  .level-2 {
    @include container;

    a {
      @include body-m;
      display: block;
      line-height: 1.3em;
      padding-bottom: 10px;
      padding-top: 0;

      &:before {
        display: none;
      }

      &:hover {
        background-color: transparent;
      }
    }

    li {
      color: $white;
      padding: 20px 0 40px 0;

      &::before {
        background-color: transparent;
        border-left: $mid-grey solid 1px;
        content: "";
        display: block;
        height: calc(100% - (#{$spacing-4} * 2));
        left: 0;
        position: absolute;
        top: $spacing-4;
        width: 0;
      }
    }

    // Custom widths based on items-X class name (number of items in list)
    .items-3 {
      @include items(3, 0px);
    }

    .items-5 {
      @include items(5, 0px);
    }
  }

  .Expander {
    background-color: $mid-blue;
    left: 0;
    opacity: 1;
    position: absolute;
    transition: opacity 0.3s;
    width: 100%;
    z-index: 1;

    &.collapsed {
      opacity: 0;
      transition: none;
      z-index: -1;
    }
  }

  .list-header {
    &.active {
      outline: none;
      &::after {
        @include up-chevron-1($stone);
      }
    }
  }
}


// TABLET
@media screen and (max-width: 767px) {
  #menu.enhanced {
    text-align: left;
    top: 0;
  
    a {
      @include heading-s-mob;
      color: $stone;
      cursor: default;
      display: block;
      margin: 0;
      outline: none;
      padding: $spacing-3;
      
      &:before {
        display: none;
      }
    }

    li {
      border-bottom: #999999 solid 1px;
      display: block;
    }

    .container {
      margin: 0;
    }

    .description {
      display: none;
    }

    .Expander {
      display: block;
      height: auto;
      margin: 0;
      position: static;

      &.collapsed {
        height: 0;
        overflow: hidden;
      }
    }

    ul {
      background-color: $mid-blue;
    }

    .ExpanderControl {
      display: block;
      position: relative;

      &.active {
        border-bottom: none;
        padding-bottom: $spacing-4-m;
      }

      &::after,
      &:hover::after,
      &.active:after {
        @include rotate(none);
        background-color: transparent;
        border: none;
        content: '+';
        float: right;
        font-size: 35px;
        height: 30px;
        position: static;
        width: 30px;
      }

      &.active:after {
        content: "_";
        left: 2px;
        position: relative;
        top: -13px;
      }

      &.active:before {
        background-position: 0 -16px;
      }
    }

    .level-2 {
      a {
        border-top: $mid-grey solid 1px;
        color: $white;
        font-weight: normal;
        margin: 0 $spacing-3;
        padding: $spacing-3-m 0;
      }

      li {
        border: none;
        padding: 0;

        &:before {
          display: none;
        }

        &:first-child a {
          border: none;
        }
      }

      .items-3, .items-5, .items-6 {
        clear: both;
        float: none;
        width: auto;
      }
    }

    &.collapsed {
      height: 0;
      overflow: hidden;
      transition: none;
    }
  }

  #menu-activator {
    @include body-s;
    background-color: transparent;
    border: 2px solid $white;
    border-radius: 0;
    color: $white;
    display: block;
    float: right;
    font-weight: bold;
    margin-right: $spacing-3;
    padding: 10px 45px 10px $spacing-4;
    position: absolute;
    right: 0;
    top: 47px;
    transition: none;

    span {
      position: absolute;
      right: $spacing-4;
      top: 20px;

      &,
      &:after,
      &:before {
        background-color: $white;
        clear: right;
        content: "";
        float: right;
        height: 2px;
        margin: 0 0 8px 10px;
        width: 17px;
      }

      &:before {
        margin-top: -5px;
      }
    }

    &.active {
      background-color: $mid-blue;
      transition: background-color 0.1s;
    }
  }
}



// MOBILE
@media screen and (max-width: 420px) {
  #menu {
    a {
      padding-left: $spacing-3-m;
      padding-right: $spacing-3-m;
    }
    
    .level-2 {
      a {
        margin-left: $spacing-3-m;
        margin-right: $spacing-3-m;
      }
    }
  }

  #menu-activator {
    margin-right: $spacing-3-m;
  }
}
