.search-results-filters {
  h3 {
    @include body-m;
  }

  label {
    @include body-s;
  }

  legend {
    @include body-s;
    display: block;
    margin-bottom: 0;
    padding: $spacing-4 0;

    &:after {
      content: "";
      display: block;
    }
  }

  .checkbox-group {
    border-bottom: $stone-30 solid 1px;
    max-height: 175px;
    overflow-y: auto;
    padding: 0 0 $spacing-4 0;    
  }

  .field {
    margin-bottom: $spacing-4;
  }

  .submit {
    @include body-s;
    margin-top: $spacing-3;
    width: 100%;
  }
}

.selected-filters {
  background-color: $stone-30;
  padding: $spacing-4;
  position: relative;

  dd {
    @include body-s;
    background-color: $stone;
    border-radius: 5px;
    clear: both;
    float: left;
    margin-bottom: 10px;
    padding: 2px 15px;
  }

  .reset {
    @include link;
    @include body-s;
  }

  &:after {
    @include great-red-trim;
    bottom: 0;
    top: initial;
  }
}
