h1 {
  margin-bottom: $spacing-2;
}

fieldset {
  border: none;
  margin-bottom: $spacing-3;
  padding: 0;

  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

form {
  margin-bottom: $spacing-3;

  .description,
  .helptext,
  .RestrictedInputCount {
    color: $mid-grey;
    display: block;
  }

  .edit {
    float: right;
  }
}

input {
  @include focus;
  @include body-m;
  border: 2px solid $grey;
  height: 50px;
  display: block;
  max-width: 570px;
  padding: 0 10px;
  text-transform: none;
  width: 100%;
  -webkit-appearance: none; /* Fix: Safari being awkward with input[type=search] (alternative remove type=search) */

  &[type='hidden'] {
    visibility: hidden;
    position: absolute;
    z-index: -1;
  }
}

label,
.date legend,
.multi-currency-amount legend,
.radio-group legend {
  @include body-m;
  color: $grey;
  display: inline-block;
  margin-bottom: $spacing-3;
}

legend {
  @include heading-m;
  margin-bottom: $spacing-3;
}

option { 
  background-color: $white;
}

pre {
  font-family: inherit;
}

select {
  @include focus;
  @include body-m;
  background: $white image_url('icons/arrow_down.png') no-repeat 98%/15px;
  border: 2px solid $grey;
  border-radius: 0;
  display: block;
  height: 50px;
  margin-bottom: $spacing-3;
  padding: 10px 20px 10px 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-padding-start: 10px;
}

textarea {
  @include body-m;
  border: 2px solid $grey;
  display: block;
  margin-bottom: $spacing-3;
  max-width: 570px;
  padding: 5px;
  width: 100%;
}

.error {
  color: $great-red;
}

.date {
  label {
    @include body-s;
    display: inline-block;
    margin: 0 $spacing-4 0 0;
    padding-top: 55px;
    position: relative;
    width: 50px;
  }

  input {
    position: absolute;
    top: 0;
  }

  .year {
    width: 100px;
  }
}

.field {
  clear: both;
  margin-bottom: $spacing-3;
}

.intro {
  margin-bottom: $spacing-1;
}

.multi-currency-amount {
  overflow: hidden;

  input {
    &:checked + label {
      background-color: $grey;
      color: $white;
    }
  }

  input[type='text'],
  select {
    float: left;
    margin-bottom: 0;
    margin-right: $spacing-4;
    width: auto;
  }

  label {
    @include button-ghost($grey, $white);
    border-left-width: 0;
    margin-bottom: 0;
    padding-left: $spacing-4;
    padding-right: $spacing-4;

    &:after,
    &:before {
      opacity: 0;
    }
  }

  .radio {
    float: left;
    margin-bottom: 0;
    padding: 0;

    &:first-of-type label {
      border-left-width: 2px;
    }
  }
}

.process {
  overflow: hidden;
  padding: 0 0 $spacing-3 0;

  dd {
    margin: 0 0 $spacing-3 0;
  }

  dl {
    margin: 0 0 $spacing-1 0;
  }

  dt {
    font-weight: bold;
  }

  form {
    margin: 0 0 $spacing-1 0;
    padding-bottom: $spacing-3;
  }

  .progress {
    @include body-l;
    display: block;
    margin-bottom: $spacing-4;
  }

  .requirement {
    @include heading-m;
  }
}


// Checkboxes + Radio buttons
.checkbox,
.radio {
  @include body-m;
  margin-bottom: $spacing-4;
  position: relative;
  padding: 4px 0 0 45px;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  
  input {
    cursor: pointer;
    left: 0;
    height: 36px;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 36px;
  }
  
  label {
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 0;
    
    &:before {
      background: transparent;
      border: 2px solid $black;
      content: "";
      height: 32px;
      left: 0;
      position: absolute;
      top: 0;
      width: 32px;
      z-index: 0;
    }
  }
}

.checkbox {
  input:checked + label {
    &::after {
      background: transparent;
      border: solid $mid-blue;
      border-width: 0 0 5px 5px;
      content: "";
      height: 7px;
      left: 7px;
      position: absolute;
      top: 10px;
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      width: 17px;
      z-index: 0;
    }
  }

  [type=checkbox]:focus + label::before {
    -webkit-box-shadow: 0 0 0 3px $focus-yellow;
    -moz-box-shadow: 0 0 0 3px $focus-yellow;
    box-shadow: 0 0 0 3px $focus-yellow;
  }
}

.radio {
  input:checked + label {
    &::after {
      background-color: $mid-blue;
      border-radius: 50%;
      content: "";
      height: 20px;
      left: 8px;
      position: absolute;
      top: 8px;
      width: 20px;
      z-index: 0;
    }
  }
  
  label::before {
    border-radius: 50%;
  }

  [type=radio]:focus + label::before {
    -webkit-box-shadow: 0 0 0 3px $focus-yellow;
    -moz-box-shadow: 0 0 0 3px $focus-yellow;
    box-shadow: 0 0 0 3px $focus-yellow;
  }
}


// RESPONSIVE
@media (min-width: 768px) {
  // desktop only...
  form {
    max-width: 600px;
  }
}

@media (max-width: 767px) {
  input[type=text],
  textarea {
    max-width: none;
  }
}

@media (max-width: 480px) {
  select {
    width: 100%;
  }
}
