@import 'transformation/config';
@import 'transformation/components/restricted_input';

h1 {
  margin-bottom: $spacing-2;
}

fieldset {
  border: none;
  margin-bottom: $spacing-3;
  padding: 0;

  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

form {
  margin-bottom: $spacing-3;

  .description,
  .helptext {
    color: $mid-grey;
    display: block;
  }

  .edit {
    float: right;
  }
}

input {
  @include focus;
  @include body-m;
  border: 2px solid $grey;
  height: 50px;
  display: block;
  max-width: 570px;
  padding: 0 10px;
  text-transform: none;
  width: 100%;
  -webkit-appearance: none; /* Fix: Safari being awkward with input[type=search] (alternative remove type=search) */

  &[type='hidden'] {
    visibility: hidden;
    position: absolute;
    z-index: -1;
  }
  &[readonly] {
    border: none;
    padding: 0;
    height: auto;
    &:focus {
      outline: none;
    }
  }
}

label {
  @include body-m;
  color: $grey;
  display: inline-block;
  margin-bottom: 5px;
}

legend {
  @include heading-m;
  margin-bottom: $spacing-3;
}

option {
  background-color: $white;
}

pre {
  font-family: inherit;
}

select {
  @include focus;
  @include body-m;
  background: $white image_url('icons/DropdownIcon.svg') no-repeat 95%;
  border: 2px solid $grey;
  border-radius: 0;
  display: block;
  height: 50px;
  margin-bottom: $spacing-3;
  padding: 10px 20px 10px 10px;
  width: 100%;
  -ms-background-position-x: -10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-padding-start: 10px;

  &[multiple] {
    background-image: none;
    height: auto;
  }
}

textarea {
  @include focus;
  @include body-m;
  border: 2px solid $grey;
  color: inherit;
  display: block;
  margin-bottom: $spacing-3;
  padding: 5px;
  width: 100%;

  &[readonly] {
    border: none;
    height: auto;
    overflow: hidden;
    padding: 0;
  }
}

.date legend,
.date-month-year legend,
.multi-currency-amount legend {
  @include body-m;
  color: $grey;
  display: inline-block;
  margin-bottom: $spacing-3;
}

.error {
  color: $great-red;
}

.errors {
  @include container;
  border: 4px solid $great-red;
  margin-bottom: $spacing-4;
  padding: $spacing-3;

  p {
    color: $great-red;
    font-weight: bold;
    margin-bottom: 1em;
  }
}

.date,
.date-month-year {
  label {
    @include body-s;
    display: inline-block;
    margin: 0 $spacing-4 0 0;
    padding-top: 55px;
    position: relative;
    width: 65px;
  }

  select {
    margin-bottom: 0;
    position: absolute;
    top: 0;
  }

  .year {
    width: 100px;
  }
}

.field {
  clear: both;
  margin-bottom: $spacing-3;

  &.output input,
  &.output textarea {
    background-color: inherit;
    border: none;
    color: inherit;
    padding: 0;
  }
}

.field-group {
  legend {
    @include body-m;
    color: $grey;
    font-weight: bold;
  }

  &.populated {
    padding-left: 15px;
    border-left: 5px solid $active-blue;

    .field {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 30px;
      }
    }

    label {
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  &.highlight-box {
    padding: 15px;
    margin-bottom: 30px;
    background: $stone-30;
    border: 2px solid $stone;

    label {
      &:before {
        background: $white;
      }
    }
  }
}

.intro {
  margin-bottom: $spacing-1;
}

.multi-currency-amount {
  overflow: hidden;

  input {
    &:checked + label {
      background-color: $grey;
      color: $white;
    }
  }

  input[type='text'],
  select {
    float: left;
    margin-bottom: 0;
    margin-right: $spacing-4;
    width: auto;
  }

  label {
    @include button-ghost($grey, $white);
    border-left-width: 0;
    margin-bottom: 0;
    padding-left: $spacing-4;
    padding-right: $spacing-4;

    &:after,
    &:before {
      opacity: 0;
    }
  }

  .radio {
    float: left;
    margin-bottom: 0;
    padding: 0;

    &:first-of-type label {
      border-left-width: 2px;
    }
  }
}

.process {
  padding: 0 0 $spacing-3 0;

  dd {
    margin: 0 0 $spacing-3 0;
  }

  dl {
    margin: 0 0 $spacing-1 0;
  }

  dt {
    font-weight: bold;
  }

  form {
    margin: 0 0 $spacing-1 0;
    padding-bottom: $spacing-3;
  }

  .progress {
    @include body-l;
    display: block;
    margin-bottom: $spacing-4;
  }

  .requirement {
    @include heading-m;
  }
}


// Checkboxes + Radio buttons
.checkbox,
.radio {
  @include body-m;
  margin-bottom: $spacing-4;
  position: relative;
  padding: 4px 0 0 45px;
  -ms-touch-action: manipulation;
  touch-action: manipulation;

  input {
    cursor: pointer;
    left: 0;
    height: 36px;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 36px;
  }

  label {
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 0;

    &:before {
      background: transparent;
      border: 2px solid $black;
      content: "";
      height: 32px;
      left: 0;
      position: absolute;
      top: 0;
      width: 32px;
      z-index: 0;
    }
  }
}

.checkbox {
  input:checked + label {
    &::after {
      background: transparent;
      border: solid $mid-blue;
      border-width: 0 0 5px 5px;
      content: "";
      height: 7px;
      left: 7px;
      position: absolute;
      top: 10px;
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      width: 17px;
      z-index: 0;
    }
  }

  [type=checkbox]:focus + label::before {
    -webkit-box-shadow: 0 0 0 3px $focus-yellow;
    -moz-box-shadow: 0 0 0 3px $focus-yellow;
    box-shadow: 0 0 0 3px $focus-yellow;
  }
}

.radio {
  input:checked + label {
    &::after {
      background-color: $mid-blue;
      border-radius: 50%;
      content: "";
      height: 20px;
      left: 8px;
      position: absolute;
      top: 8px;
      width: 20px;
      z-index: 0;
    }
  }

  label::before {
    border-radius: 50%;
  }

  [type=radio]:focus + label::before {
    -webkit-box-shadow: 0 0 0 3px $focus-yellow;
    -moz-box-shadow: 0 0 0 3px $focus-yellow;
    box-shadow: 0 0 0 3px $focus-yellow;
  }
}

.text-group {
  .field {
    margin-bottom: $spacing-4;
  }
}

// RESPONSIVE

@media (min-width: 641px) {
  input, button {
    .full-width {
      width: 100%;
    }

    &.medium {
      max-width: 370px;
    }

    &.small {
      width: 170px;
    }
  }
  .medium-select select {
    max-width: 370px;
  }
  .small-select select {
    max-width: 270px;
  }
}
@media (min-width: 769px) {
  // desktop only...
  form {
    max-width: 768px;
  }
  text-area {
    max-width: 768px;
  }
}