// FONT vars and mixins
// ------------------------------
$brand-font-standard: 'Roboto', arial, helvetica, sans-serif;
$brand-font-alternative: 'Overpass', arial, helvetica, sans-serif;
$brand-font-serif: georgia, serif;


// HEADING mixins
@mixin heading-hero {
  font-family: $brand-font-alternative;
  font-size: 48px;
  font-weight: bold;
  line-height: 45px;
}

@mixin heading-l {
  font-family: $brand-font-standard;
  font-size:   48px;
  font-weight: bold;
  line-height: 1.15em;
  margin: 0 0 1em 0;
}

@mixin heading-m {
  font-family: $brand-font-standard;
  font-size:   36px;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0 0 1em 0;
}

@mixin heading-s {
  font-family: $brand-font-standard;
  font-size:   24px;
  font-weight: bold;
  line-height: 1.42em;
  margin: 0 0 1em 0;
}

@mixin heading-hero-mob {
  font-size: 32px;
  line-height: 1.25em;
}

@mixin heading-l-mob {
  font-size: 32px;
  line-height: 1.25em;
}

@mixin heading-m-mob {
  font-size: 24px;
  line-height: 1.25em;
  letter-spacing: 0.3px;
}

@mixin heading-s-mob {
  font-size:   19px;
  line-height: 1.58em;
  margin: 0 0 0.5em 0;
}

// CONTENT mixins
@mixin body-xl {
  font-family: $brand-font-standard;
  font-size:   32px;
  font-weight: normal;
  line-height: 1.25em;
}

@mixin body-l {
  font-family: $brand-font-standard;
  font-size:   24px;
  font-weight: normal;
  line-height: 1.4em;
}

@mixin body-m {
  font-family: $brand-font-standard;
  font-size:   19px;
  font-weight: normal;
  line-height: 1.58em;
}

@mixin body-s {
  font-family: $brand-font-standard;
  font-size:   16px;
  font-weight: normal;
  line-height: 1.47em;
}

@mixin body-m-mob {
  font-size: 16px;
  line-height: 1.38em;
}

@mixin body-s-mob {
  font-size: 13px;
  line-height: 1.54em;
}

// SPECAL
@mixin quote {
  font-family: $brand-font-serif;
  font-size:   24px;
  font-style: italic;
  line-height: 32px;
}

@mixin quote-mob {
  font-family: $brand-font-serif;
  font-size:   16px;
  line-height: 1.88em;
}

@mixin body-special-bold {
  font-family: $brand-font-standard;
  font-size:   72px;
  font-weight: bold;
  line-height: 1em
}

@mixin body-special-bold-m {
  font-size: 52px;
}
