// FONT vars and mixins
// ------------------------------
$brand-font-standard: "FS Lucas", Arial, Helvetica, Verdana;
$brand-font-alternative: "FS Lucas SemiBold", Arial, Helvetica, Verdana;
$brand-font-serif: $brand-font-standard;


$font-size-xxl: 48px;
$font-size-xl:  36px;
$font-size-l :  24px;
$font-size-m :  20px;
$font-size-s :  16px;
$font-size-xs:  13px;


// HEADING mixins
@mixin heading-hero {
  font-family: $brand-font-alternative;
  font-size: $font-size-xxl;
  font-weight: bold;
  line-height: 45px;
}

@mixin heading-l {
  font-family: $brand-font-alternative;
  font-size:   $font-size-xxl;
  font-weight: bold;
  line-height: 1.15em;
  margin: 0 0 1em 0;
}

@mixin heading-m {
  font-family: $brand-font-alternative;
  font-size:   $font-size-xl;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0 0 1em 0;
}

@mixin heading-s {
  font-family: $brand-font-standard;
  font-size:   $font-size-l;
  font-weight: bold;
  line-height: 1.42em;
  margin: 0 0 1em 0;
}

@mixin heading-hero-mob {
  font-size: 32px;
  line-height: 1.25em;
}

@mixin heading-l-mob {
  font-size: 32px;
  line-height: 1.25em;
}

@mixin heading-m-mob {
  font-size: $font-size-l;
  line-height: 1.25em;
  letter-spacing: 0.3px;
}

@mixin heading-s-mob {
  font-size:   $font-size-m;
  line-height: 1.58em;
  margin: 0 0 0.5em 0;
}

// CONTENT mixins
@mixin body-xl {
  font-family: $brand-font-standard;
  font-size:   32px;
  font-weight: normal;
  line-height: 1.25em;
}

@mixin body-l {
  font-family: $brand-font-standard;
  font-size:   $font-size-l;
  font-weight: normal;
  line-height: 1.4em;
}

@mixin body-m {
  font-family: $brand-font-standard;
  font-size:   $font-size-m;
  font-weight: normal;
  line-height: 1.58em;
}

@mixin body-s {
  font-family: $brand-font-standard;
  font-size:   $font-size-s;
  font-weight: normal;
  line-height: 1.47em;
}

@mixin body-m-mob {
  font-size: $font-size-s;
  line-height: 1.38em;
}

@mixin body-s-mob {
  font-size: $font-size-xs;
  line-height: 1.54em;
}

// SPECAL
@mixin quote {
  font-family: $brand-font-serif;
  font-size:   $font-size-l;
  font-style: italic;
  line-height: 32px;
}

@mixin quote-mob {
  font-family: $brand-font-serif;
  font-size:   $font-size-s;
  line-height: 1.88em;
}

@mixin body-special-bold {
  font-family: $brand-font-standard;
  font-size:   72px;
  font-weight: bold;
  line-height: 1em
}

@mixin body-special-bold-m {
  font-size: 52px;
}
