@import 'transformation_admin/config';
@import 'transformation_admin/forms';
@import 'transformation_admin/components/pagination';


main {
  max-width: none;
}

.controls {
  background-color: $white;
  border: 1px solid $grey-3;
  margin-bottom: $spacing-3;
  overflow: hidden;
  padding: $spacing-3 $spacing-3 0 $spacing-3;
  position: relative;

  p {
    margin-bottom: 0;
  }
}

.date-month-year {
  clear: none;
  float: left;

  legend {
    float: left;
    line-height: 50px;
    margin-right: 15px;
  }
}

.filters {
  float: left;
  margin: 0 $spacing-3 $spacing-3 0;

  li {
    display: inline-block;
    margin-bottom: 0;
  }

  span {
    font-weight: bold;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

.intro {
  background-color: $stone-40;
  margin-bottom: $spacing-3;
  overflow: hidden;
  padding-top: $spacing-3;

  a {
    font-size: $font-size-s;
  }
}

.results {
  table {
    font-size: $font-size-s;
    line-height: 1.2em;
    margin-bottom: $spacing-3;
    text-align: left;
    width: 100%;
  }

  td {
    border-bottom: 1px solid $grey-3;
    padding: #{$spacing-4 / 2};
  }

  th {
    padding: #{$spacing-4 / 2};
  }

  .created {
    text-align: right;
    white-space: nowrap;
  }
}
