@import 'transformation/components/filter_multiple_select';
@import 'transformation_admin/config';
@import 'transformation_admin/forms';


dl.company {
  margin-bottom: 0;

  dd {
    margin-bottom: 0;
  }

  dt {
    @include heading-s;
    margin-bottom: 0;
  }

  & + a {
    display: inline-block;
    margin-bottom: $spacing-3;
  }
}

main {
  max-width: none;
}

.intro {
  background-color: $stone-40;
  padding: $spacing-3 0;

  h1 {
    @include container;
    margin-bottom: $spacing-4;
  }

  p {
    @include container;
  }
}

.controls {
  span {
    display: inline-block;
    padding: 10px;
  }
}

.comment-form {
  span {
    display: inline-block;
    padding: 10px;
  }
}

.history {
  @include container;

  h2 {
    @include heading-s;
    color: $blue-1;
    margin-bottom: $spacing-4;
  }

  li {
    font-size: $font-size-body-s;
  }

  small {
    color: $grey-5;
  }
}

.process {
  background-color: $white;

  form {
    @include container;
  }
}

.field-ragg {
  .radio:after {
    border-radius: 50%;
    color: white;
    display: block;
    float: right;
    height: 30px;
    text-align: center;
    width: 30px;
  }
}

.field-ragg-0:after {
  background-color: $great-red;
  content: 'R';
}

.field-ragg-1:after {
  background-color: $focus-yellow;
  content: 'A';
}

.field-ragg-2:after {
  background-color: $green-3;
  content: 'G';
}

.field-ragg-3:after {
  background-color: $blue-2;
  content: 'B';
}

