@import 'transformation/components/filter_multiple_select';
@import 'transformation_admin/config';
@import 'transformation_admin/forms';
@import 'transformation_admin/components/history';
@import 'transformation_admin/components/_section_expanders';


dl.company {
  margin-bottom: 0;

  dd {
    margin-bottom: 0;
  }

  dt {
    @include heading-s;
    margin-bottom: 0;
  }

  & + a {
    display: inline-block;
    margin-bottom: $spacing-3;
  }
}

h2 {
  @include heading-m;
}

main {
  max-width: none;
}

.help,
.history {
  border-bottom: 1px solid $grey-3;
  margin-bottom: $spacing-3;
  padding-bottom: $spacing-3;
}

.intro {
  background-color: $stone-40;
  margin-bottom: $spacing-3;
  overflow: hidden;
  padding-top: $spacing-3;

  h1 {
    @include container;
    margin-bottom: $spacing-4;
  }

  p {
    @include container;
  }
}

.controls {
  span {
    display: inline-block;
    padding: 10px;
  }
}

.process {
  background-color: $white;
  border-bottom: 1px solid $grey-3;
  margin-bottom: $spacing-3;
  padding-bottom: $spacing-3;
}

.field-sign-off {
  p {
    margin-bottom: $spacing-4;
  }
}

.field-ragg {
  .radio:after {
    border-radius: 50%;
    color: white;
    display: block;
    float: right;
    height: 30px;
    text-align: center;
    width: 30px;
  }
}

.field-ragg-0:after {
  background-color: $great-red;
  content: 'R';
}

.field-ragg-1:after {
  background-color: $focus-yellow;
  content: 'A';
}

.field-ragg-2:after {
  background-color: $green-3;
  content: 'G';
}

.field-ragg-3:after {
  background-color: $blue-2;
  content: 'B';
}

