@import 'transformation_admin/config';
@import 'transformation_admin/forms';

main {
  max-width: none;
}

.intro {
  background-color: $stone-40;
  padding: $spacing-3 0;

  h1 {
    @include container;
    margin-bottom: $spacing-3;
  }

  p {
    @include container;
  }
}

.process {
  background-color: $white;

  form {
    @include container;
  }
}

