@import 'transformation/components/filter_multiple_select';
@import 'transformation_admin/config';
@import 'transformation_admin/forms';


dl.company {
  margin-bottom: 0;

  dd {
    margin-bottom: 0;
  }

  dt {
    @include heading-s;
    margin-bottom: 0;
  }

  & + a {
    display: inline-block;
    margin-bottom: $spacing-3;
  }
}

main {
  max-width: none;
}

.intro {
  background-color: $stone-40;
  padding: $spacing-3 0;

  h1 {
    @include container;
    margin-bottom: $spacing-3;
  }

  p {
    @include container;
  }
}

.controls {
  span {
    display: inline-block;
    padding: 10px;
  }
}

.comment-form {
  span {
    display: inline-block;
    padding: 10px;
  }
}

.history {
  @include container;

  h2 {
    @include heading-s;
    color: $blue-1;
    margin-bottom: $spacing-4;
  }

  li {
    font-size: $font-size-body-s;
  }

  small {
    color: $grey-5;
  }
}

.process {
  background-color: $white;

  form {
    @include container;
  }
}

.field-ragg {
  .radio {
    border-style: solid;
    border-width: 0 30px 0 0;
  }
}

.field-ragg-0 {
  border-color: $great-red;
}

.field-ragg-1 {
  border-color: $focus-yellow;
}

.field-ragg-2 {
  border-color: $green-3;
}

.field-ragg-3 {
  border-color: $blue-2;
}
