// FONT vars and mixins
// ------------------------------

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

$font-family-standard: 'Roboto', Arial, sans-serif;

$font-size-body-xl: 36px;
$font-size-body-l:  24px;
$font-size-body-m:  19px;
$font-size-body-s:  16px;
$font-size-body-xs: 14px;

$font-size-heading-xl: 48px;
$font-size-heading-l:  24px;
$font-size-heading-m:  19px;
