// General mixins
// ----------------


@mixin container {
  max-width: $design-max-width;
  margin: 0 auto;
  width: auto;

  @media (max-width: #{$design-max-width + ($spacing-3 * 2)}) {
    margin: 0 $spacing-3;
  }

  @media (max-width: 420px) {
    margin: 0 $spacing-4-m;
  }
}

@mixin clear-floats {
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

@mixin flip-vertical {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

// BUTTONS
@mixin button($colour-1, $colour-2) {
  background-color: $colour-1;
  border: none;
	box-shadow: 0 2px 0 $green-3;
  color: $white;
  cursor: pointer;
  font-family: inherit;
  font-size: $font-size-body-s;
  font-weight: normal;
  display: inline-block;
  line-height: 1.2em;
  overflow: hidden;
  padding: 7px 15px;
  text-decoration: none; 

 
  &:hover {
    background-color: $colour-2;
    color: $white;
  }
}

@mixin button-disabled {
  cursor: default;
  opacity: 0.5;
}
