%h3 Get more support with:
.row
  = render 'users/enquiries/includes/snippets/advice', enquiry_response: @enquiry_response
  = render 'users/enquiries/includes/snippets/country_guide', enquiry_response: @enquiry_response
  = render 'users/enquiries/includes/snippets/trade_profile', enquiry_response: @enquiry_response

%h3 Increase your export potential:
.row
  = render 'users/enquiries/includes/snippets/alerts', enquiry_response: @enquiry_response