- if @page.breadcrumbs && @page.breadcrumbs.length > 0
  %p.breadcrumbs
    %span.label.verbose You are here:
    - @page.breadcrumbs.each do |item|
      - if item[:slug].empty? || item == @page.breadcrumbs.last
        %span.current
          = item[:title]
      - else
        = link_to item[:title], item[:slug]
        %span.separator ,
