- radios.each do |radio|
  .field.radio
    -# Note: using %input instead of radio_button_tag because radio_button_tag
    -# has annoying habit of creating id attribute from name+value attributes.
    %input{:type=>'radio', :id=>radio[:id], :name=>radio[:name], :value=>radio[:value], :checked=>radio[:checked]}
    = render partial: "components/input_label", locals: { label: radio[:label] }
