<nav id="menu">
  <div class="container">
    <ul class="navigation level-1">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a class="list-header" href="#" id="menu-industries-list">Industries</a>
        <ul class="navigation level-2" aria-labelledby="menu-industries-list">
          <li><a href="/industries/1">Industry 1</a></li>
          <li><a href="/industries/2">Industry 2</a></li>
          <li><a href="/industries/3">Industry 3</a></li>
        </ul>
      </li>
      <li>
        <a href="opportunities/new">Create opportunity</a>
      </li>
    </ul>
  </div>
</nav>
