.block {
	position: relative;
	padding: 40px 0 40px 0;
	&__heading {
		font-size: 24px;
		font-weight: 400;
		letter-spacing: -0.2px;
		line-height: 2.29;
		margin: 30px 0 20px 0;
		@media #{$desktop-m} {
	  	font-size: 32px;
	  	letter-spacing: -0.4px;
		}
	}
	&__list {
		list-style: initial;
		margin-left: 20px;
		margin-bottom: 40px;
		&-controlWidth {
			width: 80%;
			@media #{$tablet-l} {
		  	width: 60%;
			}
		}
	}
	&__list__item {
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 10px;
	}
	&__graphic {
		margin: 30px 0 0 0;
	}
	&-withNotch:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 40px 40px 0 40px;
		border-color: #ffffff transparent transparent transparent;
		-webkit-transform:rotate(360deg); /* better anti-aliasing in webkit */
	}
}


