.filters {
  @media #{$mobile-l} {
    padding: 0px 0px 40px 0px;
  }
  @media #{$desktop-m} {
    margin: 0 auto;
    width: 1200px;
    max-width: 1200px;
    padding: 0px 0px 80px 0px;
  }
  &__searchfield {
    -webkit-appearance: none;
    border-radius: 0;
    font-size: 16px;
    letter-spacing: -0.3px;
    color: #999999;
    padding: 15px 14px;
    background-color: $white;
    border: solid 1px $midgrey;
    width: 100%;
    &:focus {
      border: solid 1px $midgrey;
    }
  }
  &__panel {
    @extend %clearfix;
    padding: 24.5px 10px 24.5px 10px;
    background-color: $offwhite;
    @media #{$mobile-xs} {
      border-radius: 3px;
      background-color: rgba(250, 250, 250, 0.9);
    }
    @media #{$mobile-l} {
      padding: 15px 24px 20px 20px;
      max-width: 586px;
      margin: 0 auto;
    }
    @media #{$desktop-s} {
      width: auto;
      max-width: none;
      margin: 0 20px;
      padding: 20px 0 30px 0;
    }
    @media #{$desktop-m} {
      padding: 20px 0 10px 0;
    }
  }
  &__item {
    position: relative;
    margin-bottom: 10px;
    @media #{$desktop-s} {
      float: left;
      width: 32%;
      padding: 0px 20px;
      margin-bottom: 0px;
      min-height: 100px;
      &__last {
        width: 36%;
        &:after {
          content: none;
        }
      }
    }
    @media #{$desktop-s} {
      &:after {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        bottom: 0px;
        border: solid 1px #979797;
        border-width: 0 0 0 1px;
      }
    }
    @media #{$desktop-m} {
      &:after {
        bottom: 20px;
      }
    }
    &__last {
      @media #{$desktop-s} {
        margin-top: 23px;
      }
      @media #{$desktop-m} {
        margin-top: initial;
      }
    }
  }
  &__groupB .filters__item:nth-child(2) {
    clear: left;
  }
  &__groupB .filters__item:nth-child(1):after {
    content: none;
  }
  &__groupB .filters__item:nth-child(2):after,
  &__groupB .filters__item:nth-child(3):after{
    bottom: 0;
  }
  &__label {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.4px;
    color: $grey;
    display: block;
    margin: 0px 0px 6px 2px;
    @media #{$desktop-s} {
      width: 75%;
    }
    @media #{$desktop-m} {
      width: auto
    }
    &.fixHeight {
      @media #{$desktop-s} {
        height: 46px;
        min-height: 46px;
      }
    }
  }
  &__label-brackets {
    font-size: 18px;
  }
  &__field {
    -webkit-appearance: none;
    border-radius: 0;
    font-size: 16px;
    letter-spacing: -0.3px;
    color: $grey;
    padding: 15px 14px;
    background-color: $white;
    border: solid 1px $midgrey;
    width: 100%;
    &::-webkit-input-placeholder,
    &:-ms-input-placeholder,
    &::-moz-placeholder {
      font-family: Roboto;
      font-size: 16px;
      letter-spacing: -0.3px;
      color: $midgrey;
      opacity: 1;
    }
  }
  &__searchbutton {
    -webkit-appearance: none;
    font-size: 18px;
    font-weight: 900;
    border-radius: 3px;
    color: $white;
    background-color: $greatred;
    width: 100%;
    padding: 15px 20px;
    @media #{$desktop-s} {
      position: relative;
      top: 24px;
    }
    @media #{$desktop-m} {
      width: 250px;
    }
  }
  /* toggling */
  .js-toggler {
    font-size: 18px;
    font-weight: 300;
    color: #063e8b;
    text-decoration: underline;
    margin: 20px 0px;
    padding: 0px 4px;
    display: block;
    @media #{$desktop-s} {
      position: absolute;
      bottom: -16px;
      display: inline-block;
      margin: 0px 0px 0px 0px;
      bottom: -16px;
      right: 20px;
    }
    @media #{$desktop-m} {
      bottom: 32px;
      right: 20px;
    }
  }
  /* tweak in open state */
  .close {
    display:none;
  }
  &-open {
    .open {
      display: none;
    }
    .close {
      display:block;
    }
    @media #{$desktop-s} {
      .filters__item {
        margin-bottom: 20px;
      }
      .filters__item__last {
        margin-top: 23px;
        margin-bottom: 0px;
      }
    }
  }
}


