.graphic {
  &__locate {
    background-size: cover;
    background-repeat: no-repeat;
    background: transparent asset-url('steps/icon-locate.png') top center / 88px 88px no-repeat; 
    background: asset-url('steps/icon-locate.svg'),
    linear-gradient(transparent, transparent);
  }
  &__register {
    background-size: cover;
    background-repeat: no-repeat;
    background: transparent asset-url('steps/icon-register.png') top center / 88px 88px no-repeat; 
    background: asset-url('steps/icon-register.svg'),
    linear-gradient(transparent, transparent);
  }
  &__connect {
    background-size: cover;
    background-repeat: no-repeat;
    background: transparent asset-url('steps/icon-connect.png') top center / 88px 88px no-repeat; 
    background: asset-url('steps/icon-connect.svg'),
    linear-gradient(transparent, transparent);
  }
} 
