%section#how-it-works
  .container
    %h2.heading How it works
    %p.intro Create an account, tell UK companies what you need and let them come to you.
    .component.steps-indicator
      %ol.steps-indicator
        %li
          %span.action Set up a company profile
          %span.separator :
          %span.description Create a profile, then request the products or services you're looking for.
        %li
          %span.action Publish your request
          %span.separator :
          %span.description UK companies who meet your requirements contact you.
        %li
          %span.action Select a company
          %span.separator :
          %span.description Choose a supplier that's the best match and start to do business.
      = image_tag "international_steps.png"
