%section#how-it-works
  .container
    %h2.heading How it works
    %p.intro Create an opportunity, submit it for free and let UK companies come to you.
    .component.steps-indicator
      %ol.steps-indicator
        %li
          %span.action Explain what you need
          %span.separator :
          %span.description List the details of the products or services you're looking for.
        %li
          %span.action Publish your request
          %span.separator :
          %span.description UK companies who meet your requirements contact you.
        %li
          %span.action Select a company
          %span.separator :
          %span.description Choose a supplier that's the best match and start to do business
      = image_tag "international_steps.png"
