%section#how-it-works
  .container
    %h2.heading How it works
    %p.intro Search and apply for opportunities around the world.
    .component.steps-indicator
      %ol.steps-indicator
        %li
          %span.action Find
          %span.separator :
          %span.description Search for tenders and export opportunities exclusively sourced by DIT trade teams or submitted by our partners.
        %li
          %span.action Choose
          %span.separator :
          %span.description Select the opportunities that your company can fulfil.
        %li
          %span.action Pitch
          %span.separator :
          %span.description Express your interest and explain how your company meets the buyer's needs.
      = image_tag "domestic_steps.png"
