%section#testimonials
  .container
    %blockquote.quote
      %p.text After I submitted the types of products I needed, it wasn't long before I had a number of excellent UK companies that I could choose to work with. The whole process was easy.
      %cite
        %span.name John Buyer
        %span.verbose ,
        %span.company Mycompany.com
        %span.separator ,
        %span.country USA

    %blockquote.quote
      %p.text After I submitted the types of products I needed, it wasn't long before I had a number of excellent UK companies that I could choose to work with. The whole process was easy.
      %cite
        %span.name A. Notherbuyer
        %span.verbose ,
        %span.company MyOtherCompany.com
        %span.separator ,
        %span.country USA

    %blockquote.quote
      %p.text After I submitted the types of products I needed, it wasn't long before I had a number of excellent UK companies that I could choose to work with. The whole process was easy.
      %cite
        %span.name Jane Buyer
        %span.verbose ,
        %span.company Hercompany.com
        %span.separator ,
        %span.country USA
