%section#testimonials
  .container
    -# NOTE: Just duplicate (with altered content) quotes and code will do the rest.
    %blockquote.quote
      %p.text There’s a huge opportunity to sell overseas and grow your business faster.
      %cite
        %span.name Adam Sopher
        %span.verbose ,
        %span.company Joe & Seph's
        %span.separator ,
        %span.country UK
