%h1.heading-xlarge Service updates

.metadata
  %dl
    %dt Last updated:
    %dd 2 days ago

%hr.no-margin

.grid-row
  .column-two-thirds
    %h4 October 2017
    %h5 11 Oct
    %ul.list.list-bullet
      %li respond to UK companies directly by choosing 1 of 4 responses
      %li see which enquiries you have replied to, and which still need a response
      %li writing guidance has changed – see the 2 new sign off lines
      %li desgned a ‘Single Application View’ for UK companies which lets them access all their proposals from one place, and includes suggested next steps and recommendations

%hr.no-margin

.grid-row
  .column-two-thirds
    %h4 September 2017

    %h5 15 Sep

    %ul.list.list-bullet
      %li respond to UK companies directly by choosing 1 of 4 responses
      %li see which enquiries you have replied to, and which still need a response



