
%h1.heading-large Service updates

.metadata
  %dl
    %dt Last updated:
    %dd 15 November 2017

%hr.no-margin

.grid-row
  .column-two-thirds
    %h4 November 2017

    %h5 15 November

    %ul.list.list-bullet
      %li if the opportunity you are submitting is a tender, use the sign off line: 'For more information about this tender, submit your company details to....'
      %li if the opportunity you are submitting is uniquely sourced, continue using the sign off line: 'Submit your proposal to...' as described in the #{link_to 'writing guidance', '/admin/help/opportunities'}


%hr.no-margin

.grid-row
  .column-two-thirds
    %h4 October 2017
    %h5 30 October
    %ul.list.list-bullet
      %li respond to UK companies directly by choosing 1 of 4 responses
      %li see which enquiries you have replied to, and which still need a response
      %li writing guidance has changed – see the 2 new sign off lines
      %li desgned a ‘Single Application View’ for UK companies which lets them access all their proposals from one place, and includes suggested next steps and recommendations

%hr.no-margin



