
%h1.heading-large Service updates

.metadata
  %dl
    %dt Last updated:
    %dd 29 January 2018

%hr.no-margin

.grid-row
  .column-two-thirds
    %h4 Updated guidance documents

    %h5 29 January

    %ul.list.list-bullet
      %li
        %a(href="/admin/help/how-to-assess-a-company/overview") 'How to assess' guidance
        added and 
        %a(href="/admin/help") 'How to respond' guidance
        updated

%hr.no-margin

.grid-row
  .column-two-thirds
    %h4 Changes to Enquiries report

    %h5 29 January

    %ul.list.list-bullet
      %li new columns added to the enquiries tab which let you see the response template you sent to a company, the message you added and when it was sent

%hr.no-margin

.grid-row
  .column-two-thirds
    %h4 Ability to sort columns in Enquiries tab

    %h5 11 December

    %ul.list.list-bullet
      %li clicking the 'Company' or 'Opportunity' headings in Enquiries will now sort the columns by name

%hr.no-margin

.grid-row
  .column-two-thirds
    %h4 Launch of a new look #{link_to 'great.gov.uk', 'https://www.great.gov.uk'}

    %h5 11 December

    %ul.list.list-bullet
      %li  a filter tool as part of a new #{link_to 'great.gov.uk', 'https://www.great.gov.uk'} design, to help UK companies apply for opportunities for which they are most suitable

%hr.no-margin

.grid-row
  .column-two-thirds
    %h4 Changes to sign-off line

    %h5 15 November

    %ul.list.list-bullet
      %li if the opportunity you are submitting is a tender, use the sign off line: 'For more information about this tender, submit your company details to....'
      %li if the opportunity you are submitting is uniquely sourced, continue using the sign off line: 'Submit your proposal to...' as described in the #{link_to 'writing guidance', '/admin/help/opportunities'}


%hr.no-margin

.grid-row
  .column-two-thirds
    %h4 October 2017
    %h5 30 October
    %ul.list.list-bullet
      %li respond to UK companies directly from the admin centre by choosing 1 of 4 responses
      %li see which enquiries you have replied to, and which still need a response
      %li the writing guidance has changed – see the 2 new sign off lines
      %li we have introduced a 'Single Application View' for UK companies which lets them access all their proposals from one place, and includes suggested next steps and recommendations

%hr.no-margin



