
%h1.heading-large Service updates

.metadata
  %dl
    %dt Last updated:
    %dd 5 December 2017

%hr.no-margin

.grid-row
  .column-two-thirds
    %h4 Ability to sort columns in enquiries tab

    %h5 5 December

    %ul.list.list-bullet
      %li click on the 'company' or 'opportunity' header in the enquiries tab
      %li this will arrange your enquiries by A-Z, based on company name or opportunity name

%hr.no-margin

.grid-row
  .column-two-thirds
    %h4 Launch of a new look great.gov.uk

    %h5 5 December

    %ul.list.list-bullet
      %li an upgrade and new design for great.gov.uk
      %li a triage tool which guides users to content which is appropriate for them

%hr.no-margin

.grid-row
  .column-two-thirds
    %h4 Changes to sign-off line

    %h5 15 November

    %ul.list.list-bullet
      %li if the opportunity you are submitting is a tender, use the sign off line: 'For more information about this tender, submit your company details to....'
      %li if the opportunity you are submitting is uniquely sourced, continue using the sign off line: 'Submit your proposal to...' as described in the #{link_to 'writing guidance', '/admin/help/opportunities'}


%hr.no-margin

.grid-row
  .column-two-thirds
    %h4 October 2017
    %h5 30 October
    %ul.list.list-bullet
      %li respond to UK companies directly from the admin centre by choosing 1 of 4 responses
      %li see which enquiries you have replied to, and which still need a response
      %li the writing guidance has changed – see the 2 new sign off lines
      %li we have introduced a 'Single Application View' for UK companies which lets them access all their proposals from one place, and includes suggested next steps and recommendations

%hr.no-margin



