
%h5.bold Outcome
%p.medium You are not eligible for this opportunity.

%h5.bold Reason
%p.medium You are a third party - for example an agent, broker or other intermediary - representing another company. The buyer will only talk directly with UK companies.


