
%h5.bold Outcome
%p.medium Your application will not be taken any further.

%h5.bold Reason
%p.medium Your proposal does not meet the criteria for this opportunity.

%blockquote.border-narrow
  .p-children-medium
    =present_html_or_formatted_text(@enquiry_response.email_body)