
%h5.bold Outcome
%p.medium Your application will now move to the next stage. 

%h5.bold Reason
%p.medium Your application meets the criteria for this opportunity.

- if @enquiry_response.documents.present?
  %h5.bold Download documents
  %p.medium Documents will expire after 30 days.

  %blockquote.noquotes
    %ul.list.list-bullet
      - @documents = JSON.parse(@enquiry_response.documents)
      - @documents.each do |document|
        %li
          %p.medium.margin-bottom-5
            %a{:href => "#{document['result']['base_url']}#{document['result']['id']['hashed_id']}"} #{document['result']['id']['original_filename']}



