


%h5.bold Outcome
%p.medium Your application will now move to the next stage. 

%h5.bold Reason
%p.medium Your proposal meets the criteria for this opportunity.

%blockquote.border-narrow
  .p-children-medium
    =present_html_or_formatted_text(@enquiry_response.email_body)
  
- if @enquiry_response.documents.present?
- @documents = JSON.parse(@enquiry_response.documents)
  %h5.bold Download documents
  %p.medium Documents will expire after 30 days.
  .inset
    %ul.list.list-bullet
      - @documents.each do |document|
        %li
          %p.medium.margin-bottom-5
            #{document.result.id.original_filename}





