.container
  .legacy.margin-top-30
    %h1 Download file
    - if @result
      %p= link_to @result.s3_url, @result.s3_url
    - else
      %p This document could not be found or is no longer available to download. 
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br