.site-footer {
  @include span-columns(12);
  @include clearfix;

  background-color: $great-blue;
  border-top: $panel-border;
  color: $white;
  margin-top: 80px;
  padding: $base-spacing 0 ($base-spacing * 2);
  width: 100%;

  &__block {
    @include span-columns(3 of 12);

    @media (max-width: $medium-screen) {
      @include span-columns(12);
    }

    @include omega();

    img {
      padding: $base-spacing;
      width: 100%;
      @include omega();
    }

    ul {
      list-style-type: none;
      padding-left: 0;
    }

    p {
      font-weight: 500;
      line-height: 1.5625
    }

    li {
      padding-left: $base-spacing;
      line-height: 1.5625;

      a {
        border-bottom: 0;
        color: $white;
        font-weight: 300;
        margin: 0;
        padding: 0;
      }

      a:hover,
      a:focus {
        text-decoration: underline;
      }
    }
  }

  .lt-ie9 & {
    clear: both;
  }

  .footer-exporting-guide {
    border-bottom: 2px solid $white;

    h2 {
      font-size: 20px;
    }
  }

  .arrow-link:after {
    background: url('arrow-blue.svg') no-repeat;
  }

  .footer-logos {
    margin: 30px 0;
    text-align: center;
    width: 100%;

    @include media($large-screen) {
      float: right;
      width: 45%;
      margin: 60px 0;
      text-align: right;
    }

    .footer-logo {
      display: inline-block;
      max-width: 40%;

      &:first-child {
        margin-right: $small-spacing;

        @include media($xlarge-screen) {
          margin-right: $base-spacing;
        }
      }

      &:last-child {
        margin-bottom: -1.8%;
      }
    }
  }
}
