%span.source.open-opps
  Provided by
  = link_to "http://openopps.com/", :target=>"_blank", :title=>"Opens in a new window", :rel=>"external" do
    = image_tag "logos/openopps_logo.png", :alt=>"Open Opps"
