%h1 1st reminder: respond to enquiry

%p Dear colleague,

%p You received an enquiry for #{ @opportunity_country_title } from #{ @enquiry_company_name }, but have yet to respond to it.

%p You need to respond to enquiries within 5 working days. 

%p= link_to "Respond to enquiry", new_admin_enquiry_response_url, { :class=>"link" }

%p Please let us know if there is a specific reason that you haven't replied to the customer by replying to this email.

%br

%p The export opportunities team

=render partial:'enquiry_response_mailer/submit_buttons' unless @mailer_view

