$base-font-size: 16px;
$primary-red: #b00d23;
$grey-mid: #666666;

.form {
  &-label {
    display: block;
    font-size: $base-font-size;
    line-height: 1.5;
    margin: 0;
    padding: 0 0 .5em;
  }
  &-field {
    font-size: 16px;
    color: $grey-mid;
    height: 50px;
    border: solid 1px $grey-mid;

    &-error--message {
      color: $primary-red;
      display: block;
      margin-bottom: 15px;
    }
  }
}
