<div id="header-cookie-notice" class="cookie-notice">
  <div class="container cookie-notice-container">
    <p>Great.gov.uk uses cookies to make the site simpler. <a class="link" href="<%=Figaro.env.GREAT_GOV_URL %>/privacy-and-cookies">Find out more about cookies</a>
    </p>
  </div>
</div>
