<div id="great-global-header" class="great-global-header-footer great-global-header domestic">
  <div class="container">
    <div class="great-domestic-international-links">
      <a href="<%= Figaro.env.GREAT_GOV_URL %>" id="great-global-header-domestic-link" class="domestic">For UK businesses</a>
      <a href="<%= Figaro.env.GREAT_GOV_URL %>/international/" id="great-global-header-international-link" class="international">For international businesses</a>
    </div>
  </div>
</div>
