<button
    id="mobile-menu-button"
    class="js-mobile-button <% if !current_user %>mobile-only<% end %>"
    tabindex="0"
    aria-controls="great-header-mobile-nav"
    aria-haspopup="true"
    aria-expanded="true">
  Menu<span class="burger-icon"></span>
</button>
