<% if Figaro.env.HEADER_SEARCH_ON %>
<div class="great-header-search-wrapper">
  <div class="great-header-search-container">
    <form id="great-header-search-form" action="<%=Figaro.env.GREAT_GOV_URL %>/search/" method="GET">
      <input id="great-header-search-box" type="text" name="q" placeholder="Search" aria-label="Search">
      <button type="submit">Search</button>
    </form>
  </div>
</div>
<% end %>
