<div class="great-width-100 great-min-height-50 great-bg-button-blue">
    <div class="great-container great-display-flex">
        <div role="img" alt="alert icon" class="exclamation-circle"></div>
        <div>
            <p class="great-inline great-text-white">
                Great.gov.uk will be unavailable from Monday 20 January 2025 at 5pm UK time whilst we carry out essential maintenance. You will be able to use the website from Tuesday 21 January 2025 at midday UK time.
            </p>
        </div>
    </div>
</div>