<div class="great-width-100 great-min-height-50 great-bg-button-blue">
    <div class="great-container great-display-flex">
        <div role="img" alt="alert icon" class="exclamation-circle"></div>
        <div>
            <p class="great-inline great-text-white">
                Great.gov.uk is changing to Business.gov.uk. We expect the site and its services to be unavailable from 7am to 2pm BST on 9 June 2025.
            </p>
        </div>
    </div>
</div>
