<% if !current_user %>
<li class="anonymous">
  <link rel="canonical" id="header-sign-in-link" href="<%= dashboard_path %>" class="account-link signin">Sign in</a>
</li>
<% else %>
<li class="authenticated">
  <link rel="canonical" id="header-profile-link" href="<%=Figaro.env.GREAT_GOV_URL %>/dashboard/" class="account-link profile">Dashboard</a>
</li>
<% end %>
