%clearfix {
    *zoom: 1;
    &:before, 
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.hidden {
   position: absolute;
   top: -9999px;
   left: -9999px;
   visibility: hidden;
}

.highlight {
  outline: 3px solid #ffbf47;
}

/* This is due to be released in style library */
.outer-container {
  margin: 0 auto;
  max-width: 1200px;
  margin: 0 10px;
  @media screen and (min-width: 767px) {
    margin: 0 30px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0 auto;
  }
}


.navigation-main-button {
  right:10px;
}
