
// COMMON STYLES
// ==============

@import '../partials/typography';
@import '../partials/colours';
@import '../partials/mixins';

.great-global-header-footer,
.great-header {
  font-family: $brand-font;
  font-weight: 700;
}

.great-global-header-footer.international .great-global-header-footer-logo {
  margin-top: 11px;
}
.great-global-header-footer.domestic {
  padding: 20px 0;
  height: fit-content;

  >div {

    display: flex;
    align-items: center;

    p {
      margin-left: auto;
    }
    
    @media only screen and (max-width: 600px) {
      flex-direction: column;
      justify-self: unset;
      align-items: flex-start;
      p{
        margin: 0;
      }
    }
  }
}
.great-global-header-footer.domestic .great-global-header-footer-logo {
  height: 30px;
}

.great-global-header-footer {
  background-color: $white;
  height: 50px;
  line-height: 50px;

  & > .container {
    @include float-clear;
  }

  .great-global-header-footer-logo {
    float: left;
    white-space: nowrap;
    
  }

  .great-domestic-international-links {
    @include float-clear;
    float: right;
  }

  .great-footer-copyright {
    font-weight: 400;
    float: right;
    font-size: 12px;
    margin: 0;
    color: $grey;
  }
}

.great-global-header-footer,
.great-header,
.great-footer {
  font-size: 16px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.great-footer,
.great-header {
  a:active:focus {
    color: $great-blue;
  }
}

.great-domestic-international-links {
  @include float-clear;
  height: 50px;
  line-height: 50px;
  font-family: $brand-font;

  a {
    text-decoration: none;
    height: 50px;
    display: block;
    float: left;
    padding: 0 15px;
    font-size: 14px;
    position: relative;
  }
}

.great-global-header.domestic a.domestic,
.great-global-header.international a.international {
  @include flag-red-underline;
  color: $great-blue;
}

@media (max-width: 640px) {

  .great-global-header-footer {
    height: auto;
    line-height: normal;

    & > .container {
      margin: 0;
      width: 100%;
    }

    .great-global-header-footer-logo {
      padding-left: 15px;
      float: none;
    }

    .great-domestic-international-links {
      float: right;

      .domestic,
      .international {
        float: left;
      }

    }
  }

}

@media (max-width: 540px) {
  .great-global-header-footer {
    .great-domestic-international-links {
      float: none;
      position: relative;

      & > * {
        position: absolute;
      }

      .domestic {
        float: none;
        left: 0;
      }

      .international {
        float: none;
        right: 0;
      }
    }
  }
}


@media (max-width: 420px) {

  .great-global-header-footer {

    .great-domestic-international-links {
      float: none;

      .domestic {
        float: left;
      }

      .international {
        float: right;
      }
    }
  }

}

@media (max-width: 350px) {
  .great-global-header-footer {
    .great-domestic-international-links > * {
      font-size: 12px;
    }
  }
}
