
// JS ENABLED HEADER STYLING
// ==========================

.great-header-nav-container {
  @include float-clear;
  background-color: transparent;
  max-width: 1200px;
  margin: 0 auto;
  width: auto;
}

.great-header-nav {
  margin-top: -58px;
  float: right;
  padding: 0;
  background: transparent;

  a {
    color: $white;
    font-family: inherit;
    padding: 7px 0;
    display: block;
  }

  // height of the background for the menu options
  &.domestic {
    .js-menu-control.expanded:after {
      height: 280px;
      top: 120px;
    }
  }

  &.international {
    .js-menu-control.expanded:after {
      height: 215px;
    }
  }

  .js-menuitem .link-heading {
    padding: 15px;
  }

  // heading buttons for menu dropdowns on desktop
  .js-menu-control {
    @include button-reset;
    cursor: pointer;
    padding: 15px;

    span {
      color: $white;
      padding: 0;
    }

    &:focus {
      color: $great-blue;
      outline: 3px solid $focus-yellow;
    }

    &.collapsed .link-heading:after {
      @include chevron(45deg, $white);
      top: 4px;
    }

    &.expanded {
      border-bottom: 3px solid $white;

      &:after {
        content: '';
        display: block;
        position: absolute;
        background-color: $great-blue;
        opacity: .9;
        width: 100%;
        top: 58px;
        z-index: -1;
        left: 0;
        cursor: default;
      }

      .link-heading:after {
        @include chevron(225deg, $white);
        top: 6px;
      }
    }
  }

  .js-nav-list {
    .link-heading {
      font-size: 16px;
    }

    a.link-heading {
      text-decoration: none;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }

    .column-quarter {
      width: auto;
      padding: 0;
    }
  }

  .js-top-level-list {
    padding-right: 15px;
    position: static;
  }

  // dropdown menu ul
  .js-collapsible-menu {
    position: absolute;
    background-color: transparent;
    right: auto;
    left: auto;
    padding: 15px;

    a {
      white-space: nowrap;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .js-collapsible-menu.collapsed {
    display: none;
    right: 0;
    left: auto;
  }
}

@media (max-width: 1260px) {
  .great-header-nav {
    margin-left: 0;
    margin-right: 0;
  }

  .great-header-nav-container {
    margin: 0 30px;
  }
}

@media (max-width: 980px) {
  .great-header-menu.international > .container {
    padding-bottom: 0;
  }

  .great-header-nav.international {
    margin-top: 0;
    float: left;

    .js-menu-control.expanded:after {
      top: 90px;
    }
  }
}
