<%
@article.title = "How to write an export opportunity"


# Set up the sections within article
# ----------------------------------

@article.section "Overview", <<-SECTION
  <p>This guidance will help you write export opportunities.</p>
  <p>It will reduce the time it takes for us to edit and publish your opportunities.</p>
  <p>Export opportunities are:</p>
  <ul>
    <li>overseas opportunities leading directly to export revenue for UK companies</li>
    <li>joint ventures and partnerships</li>
  </ul>
  <p>They are not:</p>
  <ul>
    <li>job descriptions</li>
    <li>invitations to invest</li>
    <li>property sales</li>
  </ul>
SECTION


@article.section "Opportunity details", <<-SECTION
  <p>Enter the goods or services the buyer is looking for.</p>
  <p>This will appear as the title of your opportunity.</p>
  <p>Your country will be automatically included in the title.</p>
  <p class="examples-list-label">Capitalise the first word only and don't put a full stop at the end.</p>
  <ul class="examples-list">
    <li>Example of a good title: Kitchen equipment</li>
    <li>Example of a bad title: Pressure booster/Membrane Nitrogen/Air Compressor Supplier Needed</li>
  </ul>
SECTION


@article.section "Summarise the opportunity in a sentence", <<-SECTION
  <p>This will show as the first line of the opportunity and will appear in email alerts.</p>
  <p class="examples-list-label">Start the sentence by stating who the buyer is, for example:</p>
  <ul class="examples-list">
    <li>An electronics company...</li>
    <li>A hospital group...</li>
    <li>The government...</li>
  </ul>
  <p>Do not repeat the country.</p>
  <p>Continue with:</p>
  <ul>
    <li>is looking for...</li>
    <li>needs...</li>
    <li>wants a supplier of...</li>
  </ul>
  <p>You can use 'A tender has been issued...' if appropriate.</p>
  <p>To help with search, do not just repeat the title. Add more information and use different words.</p>
  <p>Write the sentence in 150 characters or less including spaces. Do not forget the full stop at the end.</p>
SECTION


@article.section "Describe your opportunity part 1 of 2", <<-SECTION
  <p>Explain what the buyer wants by starting with:</p>
  <p>'You must be able to supply…'</p>
  <p>Create a list if more than one product or service is needed. Keep it to a maximum of 6 items.</p>
  <p>Each list item should follow on from the lead in sentence and in both instances you should:</p>
  <ul>
    <li>use a colon</li>
    <li>start each list item with a dash</li>
    <li>leave a line break</li>
    <li>not use a capital letter at the beginning of each item on the list</li>
    <li>not put a full stop at the end of each item</li>
  </ul>
SECTION


@article.section "Describe your opportunity part 2 of 2", <<-SECTION
  <p>When listing measurements or similar, make sure there is no space between the number and the unit of measurement, for example, 100mm not 100 mm.</p>
  <p>Opportunities should be written in Plain English.</p>
  <p>Write acronyms out in full if you are going to refer to it more than once. Then just use the acronym when you refer to it again, for example 'The World Health Organisation (WHO) is….' Followed by 'as laid down by the WHO'.</p>
  <p>Change American spelt words to the English version, for example 'specialise' not 'specialize'.</p>
  <p>Also remember to use:</p>
  <ul>
    <li>'and' not '&'</li>
    <li>'to' instead of a dash in ranges, for example '50cm to 80cm' and not '50cm – 80cm'</li>
    <li>numerals as numbers, such as '75' not 'seventy five'</li>
    <li>'9am' or '9:30pm' instead of '9:00', '9 o'clock' or 24 hour time</li>
    <li>'7 May' not '7th May'</li>
  </ul>
SECTION


@article.section "Company information", <<-SECTION
  <p class="examples-list-label">If the information is available, include one or two sentences about the company, for example:</p>
  <ul class="examples-list">
    <li>how long it has been trading for</li>
    <li>where it is based</li>
    <li>what sort of outlets it distributes to</li>
  </ul>
SECTION


@article.section "Contract information", <<-SECTION
  <p>If the information is available, say how long the contract is for in months, years or if it's ongoing.</p>
  <p>Use 'The contract length is...'.</p>
SECTION


@article.section "Extra information", <<-SECTION
  <p class="examples-list-label">Do not include anything that doesn't give useful information about the opportunity like:</p>
  <ul class="examples-list">
    <li>You will need to provide a bio and details of your website.</li>
    <li>The services are needed by the administration team of the finance section of the management office of the Department of Education.</li>
  </ul>
SECTION


@article.section "Sign off line for DIT trade teams", <<-SECTION
  <p>These will be added automatically, based on your service provider.</p>
SECTION


@article.section "End with", <<-SECTION
  <p>All submissions will be reviewed and you will be notified of any potential next steps. You can only express your interest if you are a UK registered company.</p>
SECTION


@article.section "Search and select the relevant information from the drop down menus", <<-SECTION
  <p>Your country and service provider will be pre-selected. You can search and select extra countries if needed.</p>
  <p>If the opportunity is tagged for more than one country, the title will start with 'Multi Country'.</p>
  <p>Use the arrows to find and select the expiry date. The opportunity will be automatically closed on this day.</p>
  <p>You have the option to add an external link. It must start with either http:// or https://</p>
  <p>If you add an external link, companies will be taken to the third party site if they click on it.</p>
  <p>This means that they will not need to complete an application form and you will not receive any responses to your opportunity.</p>
SECTION


@article.section "Contacts", <<-SECTION
  <p>Enter in contact names and email addresses for yourself and an alternative contact.</p>
  <p>Responses from UK companies will be sent to these emails.</p>
  <p>Click on the save button.</p>
SECTION


%>
