<%
@article.title = "How to write an export opportunity"


# Set up the sections within article
# ----------------------------------

@article.set_section "Overview", <<-SECTION
  <p>This guidance aims to help you write export opportunities. Using this guidance will reduce the time it takes for us to edit an opportunity, which means it will get published more quickly. We define export opportunities as sales leads. They are not job descriptions, invitations to invest or property sales.</p>
SECTION


@article.set_section "Tagging", <<-SECTION
  <p>Make sure that you have selected the correct Country, Sector, Type and Values in the 4 grey boxes at the top of the opportunity.</p>
SECTION


@article.set_section "Writing the 'Title'", <<-SECTION
  <p>Start with the country, use a small hyphen (-) and then say what the product or service is in 2 or 3 words. For example, handbags, kitchen equipment, financial advice services.</p>
  <p class="examples-list-label">Capitalise the first word only and don’t put a full stop at the end.</p>
  <ul class="examples-list">
    <li>Example of a good title: Croatia - Kitchen equipment</li>
    <li>Example of a bad title: Spain - Pressure booster/Membrane Nitrogen/Air Compressor Supplier Needed</li>
  </ul>
SECTION


@article.set_section "Writing the summary", <<-SECTION
  <p class="examples-list-label">Start the sentence by stating who the buyer is, for example:</p>
  <ul class="examples-list">
    <li>An electronics company... </li>
    <li>A hospital group... </li>
    <li>The government...</li>
  </ul>
  <p>Do not repeat the country. This is already mentioned in the title.</p>
  <p class="examples-list-label">Continue with:</p>
  <ul class="examples-list">
    <li>is looking for... </li>
    <li>needs... </li>
    <li>wants a supplier of...</li>
  </ul>
  <p>You can use 'A tender has been issued...'' if the opportunity is from a public company.</p>
  <p>To help with search, do not just repeat the title. Add more information and use different words.</p>
  <p>Write the sentence in 140 characters or less including spaces. Don't forget the full stop at the end.</p>
  <p>This sentence will appear in the live opportunity as the 'teaser'.</p>
SECTION


@article.set_section "Describe your opportunity part 1 of 2", <<-SECTION
  <p class="examples-list-label">Start the description with:</p>
  <ul class="examples-list">
    <li>It is looking for:</li>
    <li>You should be able to supply:</li>
  </ul>
  <p class="examples-list-label">Then leave a line and list any requirements or specifications such as the volume, size or amount like this:</p>
  <ul class="examples-list">
    <li>- 6 tonnes of... </li>
    <li>- 180 metres of...</li>
  </ul>
  <p>Each list item should follow on from the lead sentence.</p>
  <p>In both instances, you should:</p>
  <ul>
    <li>use a colon</li>
    <li>leave a line break</li>
    <li>spell out any acronyms the first time they're used and then just use the acronym if you refer to it again</li>
    <li>not use a capital letter at the beginning of each item in the list</li>
    <li>not use full stops</li>
  </ul>
SECTION


@article.set_section "Describe your opportunity part 2 of 2", <<-SECTION
  <p>Also, remember to use:</p>
  <ul>
    <li>'like' instead of 'such as'</li>
    <li>'to' instead of a dash, for example 50cm to 80cm and not 50cm-80cm</li>
    <li>'and' not '&'</li>
    <li>numbers eg '1', '4', '15' instead of writing out in full and use a comma if the number is in the 1,000s, for example 15,000 not 15000</li>
  </ul>
  <p>If listing measurements or similar, don't place a space between the number and the measurement, for example 100mm not 100 mm.</p>
SECTION


@article.set_section "Company information", <<-SECTION
  <p class="examples-list-label">If the information is available, include one or two sentences about the company, for example:</p>
  <ul class="examples-list">
    <li>how long it has been trading for</li>
    <li>where it is based</li>
  </ul>
  <p>Do not give the name of the company.</p>
SECTION


@article.set_section "Contract information", <<-SECTION
  <p>If the information is available, say how long the contract is for in months, years or if it's ongoing. Use 'The length of the contract is...'.</p>
SECTION


@article.set_section "Extra information", <<-SECTION
  <p>Don't include 'You will need to provide a bio and details of your website' (or similar) or anything that doesn't give useful information about the opportunity.</p>
SECTION


@article.set_section "Sign off line for DIT trade teams", <<-SECTION
  <p class="examples-list-label">Department for International Trade teams should use:</p>
  <ul class="examples-list">
    <li>Submit your proposal to the Department for International Trade team in COUNTRY.</li>
  </ul>
SECTION


@article.set_section "Sign off line for British Chambers of commerce", <<-SECTION
  <p class="examples-list-label">British Chambers of Commerce (except Poland, the Slovak Republic and the Philippines) should use:</p>
  <ul class="examples-list">
    <li>Submit your proposal to the British Chamber of Commerce in COUNTRY.</li>
    <li>The British Chamber of Commerce is our chosen partner to deliver trade services in COUNTRY.</li>
  </ul>

  <p class="examples-list-label">Burma</p>
  <ul class="examples-list">
    <li>Submit your proposal to the British Chamber of Commerce in Myanmar.</li>
    <li>The British Chamber of Commerce is our chosen partner to deliver trade services in Burma (also known as Myanmar).</li>
    <li>Submit your proposal to the Department for International Trade in Burma. Burma is also known as Myanmar.</li>
  </ul>
SECTION


@article.set_section "Sign off line - others", <<-SECTION
  <p class="examples-list-label">The China-Britain Business Council should use:</p>
  <ul class="examples-list">
    <li>Submit your proposal to the China-Britain Business Council (CBBC).</li>
    <li>CBBC is a membership organisation and Department for International Trade’s chosen partner in China to deliver trade services.</li>
  </ul>

  <p class="examples-list-label">The UK India Business Council in India should use:</p>
  <ul class="examples-list">
    <li>Submit your proposal to the UK India Business Council in India (UKIBC).</li>
    <li>UKIBC is the Department for International Trade’s chosen partner to deliver trade services in India.</li>
  </ul>

  <p class="examples-list-label">The British Business Group Vietnam should use:</p>
  <ul class="examples-list">
    <li>Submit your proposal to the British Business Group Vietnam (BBGV).</li>
    <li>BBGV is our chosen partner to deliver trade services in Vietnam.</li>
  </ul>

  <p class="examples-list-label">The British Business Centre in Hungary should use:</p>
  <ul class="examples-list">
    <li>Submit your proposal to the British Business Centre in Hungary.</li>
    <li>The British Business Centre is our chosen partner to deliver trade services in Hungary.</li>
  </ul>

  <p class="examples-list-label">The British Business Centre in the UAE should use:</p>
  <ul class="examples-list">
    <li>Submit your proposal to the British Business Centre in the UAE.</li>
    <li>The British Business Centre is our chosen partner to deliver trade services in the UAE.</li>
  </ul>

  <p class="examples-list-label">UK Colombia Trade should use:</p>
  <ul class="examples-list">
    <li>Submit your proposal to UK Colombia Trade.</li>
    <li>UK Colombia Trade is the Department for International Trade's delivery partner in Colombia.</li>
  </ul>
SECTION


@article.set_section "End with", <<-SECTION
  <p>All submissions will be reviewed and you will be notified of any potential next steps. You can only submit a proposal if you are a UK registered company.</p>
SECTION


%>
