<% 
@article.set_title "How to assess a company"


# Set any related article links
# -----------------------------
@article.set_related_link "Right for opportunity responses", "/admin/help/right-for-opportunity-responses/overview"
@article.set_related_link "Not right for opportunity responses", "/admin/help/not-right-for-opportunity-responses/overview"


# Set up the sections within article
# ----------------------------------

@article.set_section "Overview", <<-SECTION
  <p>You will need to assess whether a company is both eligible and suitable for the opportunity it has applied for. To do this, you must cross reference the information the company has included in its application with its website and Companies House profile. Do not just assume that the information contained in the application is accurate.</p>
SECTION


@article.set_section "Eligibility", <<-SECTION
  <p>You can assess that a company is eligible by checking that:</p>
  <ul>
    <li>all relevant company information in its proposal (UK registered address, phone number and <a href="https://beta.companieshouse.gov.uk/">Companies House details</a> is included</li>
    <li>the phone number and address in its proposal, website and Companies House profile all match</li>
    <li>it is actively trading - use Companies House for this</li>
    <li>it has an <a href="https://trade.great.gov.uk/">EIG trade profile</a> - but just because a company may not have one, does not automatically mean it is not eligible</li>
  </ul>
SECTION


@article.set_section "Suitability", <<-SECTION
  <p>You can assess that a company is suitable by checking that it:</p>
  <ul>
    <li>supplies exactly what the buyer wants</li>
    <li>has the ability to deliver the product or service</li>
  </ul>
  <p>You can do this by checking its:</p>
  <ul>
    <li>pitch to see if it provides enough evidence to show that it can meet the needs of the buyer</li>
    <li>website</li>
    <li>online reviews</li>
    <li>EIG trade profile for case studies and so on</li>
    <li>account filing history, how long it has been trading for and annual turnover on Companies House</li>
    <li>annual report - if its a public company</li>
    <li>previous interactions with DIT as shown in Data Hub</li>
  </ul>
SECTION


@article.set_section "Select a decision", <<-SECTION
  <p>There are 5 different decisions you can make on a proposal. You should select the decision that most closely matches the outcome.</p>

  <h3>Right for opportunity</h3>
  <p>If the UK company is eligible and suitable, select ‘Right for opportunity’.</p>

  <h3>Not right for opportunity</h3>
  <p>You should select this decision if the:</p>
  <ul>
    <li>product or service does not meet the criteria of the opportunity</li>
    <li>UK company is not ready to export in this market, or not ready to export at all</li>
    <li>buyer thinks the company is not suitable or the buyer did not select them</li>
  </ul>

  <h3>Not UK registered</h3>
  <p>You should select this decision if:</p>
  <ul>
    <li>a non-UK address is provided and there is no Companies House record</li>
    <li>the Companies House number or UK address do not match with those provided by the company</li>
  </ul>

  <h3>Not for third parties</h3>
  <p>Select ‘Not for third party’ if the buyer only wants to deal directly with UK companies.</p>

  <h3>Need more company information</h3>
  <p>Contact the company directly and tell them to provide the missing information.</p>
  <p>You need to do this within 5 working days from the date the company submitted its proposal.</p>
  <p>When you have the missing information, you should make a decision on the proposal.</p>
  <p>If you do not hear back from them, make a decision based on the information available to you.</p>
SECTION


@article.set_section "How to write a response", <<-SECTION
  <p>
    Read
    <a href="/admin/help/right-for-opportunity-responses/overview">'Guidance - UK company right for opportunity'</a>
    and
    <a href="/admin/help/not-right-for-opportunity-responses/overview">'Guidance - UK company not right for opportunity'</a>
    if you need help to write your response. The guidance lists suggested sentences to make it easier for you to reply.</p>
SECTION

%>
