%h1 Guidance 
%dl.content-meta
  %dt Published by
  %dd
    Content community
  %dt Last updated
  %dd
    -# TODO: Should this be something less manual??
    about 1 month ago

%section.content-directory
  %h2.title Find out how to assess and respond to an enquiry
  %ul.navigation
    %li
      %a(href="/admin/help/how-to-assess-a-uk-company/overview") How to assess a UK company
    %li
      %a(href="/admin/help/right-for-opportunity-responses/overview") Responding to UK companies who are 'Right for opportunity'
    %li
      %a(href="/admin/help/not-right-for-opportunity-responses/overview") Responding to UK companies who are 'Not right for opportunity'
