%h1 Guidance 
%dl.content-meta
  %dt Published by
  %dd
    %a{:href => "mailto:exportopportunities@trade.gsi.gov.uk"} Content community
  %dt Last updated
  %dd
    15 March 2018

%section.content-directory
  %ul.navigation
    %li
      %a(href="/admin/help/how-to-write-an-export-opportunity/overview") How to write an export opportunity
    %li
      %a(href="/admin/help/how-to-assess-a-company/overview") How to assess a company
    %li
      %a(href="/admin/help/right-for-opportunity-responses/overview") How to respond to UK companies that are 'Right for opportunity'
    %li
      %a(href="/admin/help/not-right-for-opportunity-responses/overview") How to respond to UK companies that are 'Not right for opportunity'
