%h1.heading-medium Please choose one of the following options

%div
  %h3.heading-medium
    = link_to('Opportunities', '/admin/help/opportunities')
  %h3.heading-medium
    = link_to('Enquiries', '/admin/help/enquiries')