<%
@article.title = "How to respond to UK companies that are 'Not right for opportunity'"



# Set up the sections within article
# ----------------------------------

@article.section "Overview", <<-SECTION
<p>This guidance is for staff and partners overseas. Use the guidance to help you reply to a UK company that is not right for the opportunity it has submitted a proposal for.</p>
SECTION


@article.section "'Not right for opportunity' explained", <<-SECTION
<p>A company is deemed to be 'Not right for opportunity' if, from your research, you have determined that:</p>
<ul>
  <li>its product or service does not meet the criteria</li>
  <li>it is not ready to export in this market or not ready to export at all</li>
  <li>the buyer said the company was not right or the company was not selected</li>
  <li>it did not provide additional information in time</li>
</ul>
SECTION


@article.section "What you need to do", <<-SECTION
<p>Let the company know why it was not put forward. Explain what it could do to improve the next time it submits a proposal.</p>
<p>The 4 'Not right for opportunity' explanations have a list of suggested sentences to help you write your response. If applicable, UK companies will be informed of UK export finance and the relevant country guide and DIT regional office within our internal system, so do not include this information.</p>
SECTION


@article.section "The product or service does not meet the criteria", <<-SECTION
<p>You will need to:</p>
<ul>
  <li>explain why not, and, if you think the company should reapply, tell the company to explain how it does match what the buyer wants</li>
</ul>
<p class="examples-list-label">Use sentences such as:</p>
<ul class="examples-list">
  <li>The buyer is looking for apples, but it seems that you only supply bananas.</li>
  <li>If you think you can supply what the buyer wants, submit a new proposal and clearly explain how and why you meet the criteria.</li>
  <li>This opportunity expired on DATE. The next time you submit a proposal, clearly explain how and why you meet the criteria. Include details such as how your product or service exactly matches what the buyer is looking for.</li>
  <li>New opportunities are added every day. Submit a proposal for other opportunities such as AND ADD LINKS TO 1 OR 2 RELEVANT OPPORTUNITIES.</li>
</ul>
SECTION


@article.section "The company is not ready to export in this market or not ready to export at all", <<-SECTION
<p>You will need to:</p>
<ul>
  <li>explain why you think it is not ready to export and direct them to <a href="https://www.great.gov.uk/new/">New To Exporting</a></li>
</ul>
<p class="examples-list-label">Use sentences such as:</p>
<ul class="examples-list">
  <li>From the information you have provided, it seems you are not ready to export in this market. You will need to demonstrate you are ready to export the next time you submit a proposal.</li>
</ul>
SECTION


@article.section "The buyer said the company was not right or the company was not selected", <<-SECTION
<p>You will need to:</p>
<ul>
  <li>explain why the buyer said no and suggest the evidence it could use the next time it submits a proposal</li>
</ul>
<p class="examples-list-label">Use sentences such as:</p>
<ul class="examples-list">
  <li>The buyer did not select your company. This is because they think you do not have the capacity to meet their monthly order.</li>
  <li>New opportunities are added every day. Submit a proposal for other opportunities such as AND ADD LINKS TO 1 OR 2 RELEVANT OPPORTUNITIES.</li>
</ul>
SECTION


@article.section "The company did not provide additional information in time", <<-SECTION
<p>You will need to:</p>
<ul>
  <li>explain what information was missing and suggest what the company could do to improve the next time it submits a proposal</li>
</ul>
<p class="examples-list-label">Use sentences such as:</p>
<ul class="examples-list">
  <li>I contacted you on DATE but you did not respond. </li>
  <li>I needed the following information: INCLUDE THE INFORMATION YOU NEEDED by DATE but you did not provide this in time.</li>
  <li>New opportunities are added every day. Submit a proposal for other opportunities such as AND ADD LINKS TO 1 OR 2 RELEVANT OPPORTUNITIES.</li>
</ul>
SECTION


%>
