<%
@article.set_title "How to respond to UK companies that are ‘Right for opportunity"



@article.set_section "Overview", <<-SECTION_1

<p>This guidance is for staff and partners overseas. Use the guidance to help you reply to a UK company that is right for the opportunity it has submitted a proposal for.</p>
<h2>‘Right for opportunity’ explained</h2>
<p>A company is deemed to be ‘Right for opportunity’ if it:</p>
<ul>
  <li>is eligible</li>
  <li>meets the criteria of the buyer or tender</li>
  <li>has the logistical and financial capacity to deliver</li>
</ul>

SECTION_1



@article.set_section "What you need to do", <<-SECTION_2

<p>Tell the UK company what the next step is. This will be one of the following:</p>
<a href="#">The company details will be forwarded on to the buyer</a><br />
<a href="#">The company and buyer will be introduced to each other</a><br />
<a href="#">The company will need to contact the buyer directly</a><br />
<a href="#">The company will be given more information about a tender</a><br />
<p>Each step has a list of suggested sentences to help you write your response. If applicable, UK companies will be informed of UK export finance and the relevant country guide and DIT regional office within our internal system so do not include this information.</p>

SECTION_2



@article.set_section "Forward company details on to the buyer", <<-SECTION_3

<p>Include in your response:</p>
<ul>
  <li>who the buyer is</li>
  <li>further details about the opportunity</li>
  <li>what happens next and what the company needs to do</li>
  <li>a request for more information such as marketing materials (if applicable)</li>
  <li>relevant documents (if applicable)</li>
</ul>

<p>Use sentences such as:</p>
<ul class="examples">
  <li class="good">The buyer is <span>{buyer’s name, description and website}</span></li>
  <li class="good">I will forward your details on to the buyer. They will contact you directly if they are interested in working with you.</li>  
  <li class="good">I will forward your details onto the buyer, they will let me know if they are interested in working with you.</li>
  <li class="good">The buyer may take a few weeks to respond or sometimes may not respond at all. Buyer priorities change all the time. We have no say in their decisions or how they work.</li>
  <li class="good">The buyer would like to know if your company can <span>{ask a question}</span></li>
  <li class="good">My role in managing this opportunity has now come to an end.</li>
  <li class="good">You can copy me into your correspondence with the buyer. I’ll do my best to help you along the way.</li></ul>

SECTION_3



@article.set_section "Introduce company and buyer to each other", <<-SECTION_4

<p>Include in your response:</p>
<ul>
  <li>who the buyer is</li>
  <li>further details about the opportunity</li>
  <li>what happens next and what the company needs to do</li>
  <li>a request for more information such as marketing materials (if applicable)</li>
  <li>relevant documents (if applicable)</li>
</ul>

<p>Use sentences such as:</p>
<ul class="examples">
  <li class="good">The buyer is <span>{buyer’s name, description and website}</span></li>
  <li class="good">l will forward your details to the buyer. If they are interested in working with you, I will introduce you both by email and you should contact them as soon as possible.</li>
  <li class="good">The buyer may take a few weeks to respond or sometimes may not respond at all. Buyer priorities change all the time. I have no say in their decisions or how they work.</li>
  <li class="good">The buyer would like to know if your company can <span>{ask a question}</span></li>
  <li class="good">My role in managing this opportunity has now come to an end.</li>
  <li class="good">You can copy me into your correspondence with the buyer. I’ll do my best to help you along the way.</li>
</ul>

SECTION_4



@article.set_section "Tell company to contact the buyer directly", <<-SECTION_5

<p>Include in your response: 
<ul>
  <li>who the buyer is</li>
  <li>further details about the opportunity</li>
  <li>what happens next and what the company needs to do</li>
  <li>a request for more information such as marketing materials (if applicable)</li>
  <li>relevant documents (if applicable)</li>
</ul>

<p>Use sentences such as:</p>
<ul class="examples">
  <li class="good">The buyer is <span>{buyer’s name, description and website}</span></li>
  <li class="good">Here are the buyer’s contact details: <span>{insert buyer’s contact details}</span></li>
  <li class="good">The buyer is happy for you to contact them. Please do so as soon as possible or let me know if your circumstances have changed.</li>
  <li class="good">The buyer may take a few weeks to respond or sometimes may not respond at all. Buyer priorities change all the time. I have no say in their decisions or how they work.</li>
  <li class="good">You will need to send the buyer <span>{tell the company what information to provide}</span></li>
  <li class="good">My role in managing this opportunity has now come to an end.</li>
  <li class="good">You can copy me into your correspondence with the buyer. I’ll do my best to help you along the way.</li>
</ul>

SECTION_5



@article.set_section "Provide more information about a tender", <<-SECTION_6

<p>Include in your response:</p>
<ul>
  <li>the submission deadline</li>
  <li>the language the bid must be submitted in</li>
  <li>further details about the tender such as the reference number, registration process or any costs attached to bidding</li>
  <li>the tender documents as a link or attachment</li>
  <li>how you could help them further if possible such as directing them to legal advice, translation or other services</li>
</ul>

<p>Use sentences such as:
<ul class="examples">
  <li class="good">The tender is issued by <span>{company name}</span></li>
  <li class="good">I have attached the tender documents containing further information.</li>
  <li class="good">You will need to register on <span>{link to tender website} to get the tender documents and for more information.</span></li>
  <li class="good">For more information about this tender, contact the organisation on <span>{relevant contact details}</span></li>
  <li class="good">For more information on tenders in our market I have attached <span>{explain what you have attached}</span></li>
  <li class="good">Register on the following tendering platform to view similar tenders and more information on the tendering process. <span>{details of tendering platform}</span></li>
  <li class="good">The estimated value of the tender is <span>[value]</span></li>
  <li class="good">The closing date for all bids is <span>[date]</span></li>
  <li class="good">The tender reference number is <span>[ref number]</span></li>
  <li class="good">The cost of registration is <span>[free/ cost £X]</span></li>
  <li class="good">My role in managing this opportunity has now come to an end.</li>
</ul>

SECTION_6



%>
