<%
@article.title = "How to respond to UK companies that are 'Right for opportunity'"


# Set any related article links
# -----------------------------
@article.related_link "How to assess a company", "/admin/help/how-to-assess-a-company/overview"
@article.related_link "How to respond to UK companies that are 'Not right for opportunity'", "/admin/help/not-right-for-opportunity-responses/overview"


# Set up the sections within article
# ----------------------------------

@article.section "Overview", <<-SECTION
<p>This guidance is for staff and partners overseas. Use the guidance to help you reply to a UK company that is right for the opportunity it has submitted a proposal for.</p>
SECTION



@article.section "'Right for opportunity' explained", <<-SECTION
<p>A company is deemed to be 'Right for opportunity' if, from your research, you have determined that it:</p>
<ul>
  <li>is eligible</li>
  <li>meets the criteria of the buyer or tender</li>
  <li>has the logistical and financial capacity to deliver</li>
</ul>
SECTION



@article.section "What you need to do", <<-SECTION
<p>Tell the UK company what the next step is. This will be one of the following:</p>
<ul>
  <li>the company details will be forwarded on to the buyer</li>
  <li>the company and buyer will be introduced to each other</li>
  <li>the company will need to contact the buyer directly</li>
  <li>the company will be given more information about a tender</li>
</ul>
<p>Each step has a list of suggested sentences to help you write your response. If applicable, UK companies will be informed of UK export finance and the relevant country guide and DIT regional office within our internal system, so do not include this information.</p>
SECTION



@article.section "Forwarding company details on to the buyer", <<-SECTION
<p>You may need to:</p>
<ul>
  <li>
    <p>let the company know who the buyer is - if the buyer is happy for you to do so</p>
    <p class="examples-list-label">Use sentences such as:</p>
    <ul class="examples-list">
      <li>The buyer is The Clothes Shop. It is a retailer with stores throughout the country. Its website is www.theclotheshop.com.</li>
    </ul>
  </li>
  <li>
    <p>explain what happens next</p>
    <p class="examples-list-label">You can copy and paste:</p>
    <ul class="examples-list">
      <li>I will forward your details on to the buyer. They will contact you directly if they are interested in working with you.</li>
      <li>I will forward your details on to the buyer. They will let me know if they are interested in working with you.</li>  
    </ul>
  </li>
</ul>
<p>You might also need to:</p>
<ul>
  <li>provide further details about the opportunity</li>
  <li>ask the company to provide more information such as relevant documents or marketing materials</li>
  <li>ask further questions on behalf of the buyer</li>
</ul>
<p class="examples-list-label">You can copy and paste the following sentences to finish your response:</p>
<ul class="examples-list">
  <li>The buyer may take a few weeks to respond or sometimes may not respond at all. Buyer priorities change all the time. We have no say in their decisions or how they work. </li>
  <li>You can copy me into your correspondence with the buyer. I’ll do my best to help you along the way.</li>
</ul>
SECTION



@article.section "Introducing the company and buyer to each other", <<-SECTION
<p>You will need to:</p>
<ul>
  <li>
    <p>let the company know who the buyer is</p>
    <p class="examples-list-label">Use sentences such as:</p>
    <ul class="examples-list">
      <li>The buyer is The Clothes Shop. It is a retailer with stores throughout the country. Its website is www.theclotheshop.com.</li>
    </ul>
  </li>
  <li>
    <p>explain what happens next</p>
    <p class="examples-list-label">You can copy and paste:</p>
    <ul class="examples-list">
      <li>I will forward your details to the buyer. If they are interested in working with you, I will introduce you both by email and you should contact them as soon as possible.</li>
    </ul>
  </li>
</ul>
<p>You might also need to:</p>
<ul>
  <li>provide further details about the opportunity</li>
  <li>ask the company to provide more information such as relevant documents or marketing materials</li>
  <li>ask further questions on behalf of the buyer</li>
</ul>
<p class="examples-list-label">You can copy and paste the following sentences to finish your response:</p>
<ul class="examples-list">
  <li>The buyer may take a few weeks to respond or sometimes may not respond at all. Buyer priorities change all the time. We have no say in their decisions or how they work.</li>
  <li>You can copy me into your correspondence with the buyer. I’ll do my best to help you along the way.</li>
</ul>
SECTION



@article.section "Telling the company to contact the buyer directly", <<-SECTION
<p>You will need to:</p>
<ul>
  <li>
    <p>let the company know who the buyer is</p>
    <p class="examples-list-label">Use sentences such as:</p>
    <ul class="examples-list">
      <li>The buyer is The Clothes Shop. It is a retailer with stores throughout the country. Its website is www.theclotheshop.com.</li>
      <li>Here are the buyer’s contact details. NAME, ADDRESS, EMAIL, PHONE NUMBER.</li>
    </ul>
  </li>
  <li>
    <p>explain what happens next</p>
    <p class="examples-list-label">You can copy and paste:</p>
    <ul class="examples-list">
      <li>The buyer is happy for you to contact them. Please do so as soon as possible or let me know if your circumstances have changed.</li>
    </ul>
  </li>
</ul>
<p>You might also need to:</p>
<ul>
  <li>provide further details about the opportunity</li>
  <li>ask the company to send information such as relevant documents or marketing materials to the buyer</li>
</ul>
<p class="examples-list-label">You can copy and paste the following sentences to finish your response:</p>
<ul class="examples-list">
  <li>The buyer may take a few weeks to respond or sometimes may not respond at all. Buyer priorities change all the time. We have no say in their decisions or how they work.</li>
  <li>You can copy me into your correspondence with the buyer. I’ll do my best to help you along the way.</li>
</ul>
SECTION



@article.section "Providing more information about a tender", <<-SECTION
<p>You may need to give the UK company more information.</p>
<p class="examples-list-label">Use sentences such as:</p>
<ul class="examples-list">
  <li>The tender is issued by…</li>
  <li>I have attached the tender documents containing further information.</li>
  <li>You now need to register for the tender documents. Here is the link:</li>
  <li>For more information about this tender, contact the organisation on: </li>
  <li>The submission deadline for this tender is…</li>
  <li>The language the bid must be submitted in is…</li>
  <li>Here are further details about the tender: EXAMPLES - REFERENCE NUMBER, REGISTRATION PROCESS, CLOSING DATE, COSTS ATTACHED TO BIDDING.</li>
  <li>You can find more information about tenders in the same sector here:</li>
  <li>You can find similar tenders on the following tender platforms:</li>
  <li>Here is a link to more information about the tender process:</li>
  <li>The tendering process is as follows…</li>
  <li>I can offer you further help such as: EXAMPLES - OFFERING FURTHER SUPPORT, DIRECTING THE UK COMPANY TO LEGAL ADVICE, TRANSLATION OR OTHER SERVICES.</li>
</ul>
SECTION


%>
