@import '../config';
@import 'effects/selective_lookup';

.confirmation {
  background-color: $dark-green;
  color: $white;
  margin-bottom: $spacing-3;
  padding: $spacing-3;

  .button {
    @include button-ghost($white, $dark-green);
  }
}

.RestrictedInputCount {
  position: relative;
  top: -#{$spacing-3 - 10};
}
