@import "../config";
@import "../effects/simple_text_display_restrictor";


h1 {
  margin-bottom: $spacing-2;
}

.breadcrumbs {
  margin-bottom: $spacing-1;
}

.buyer {
  margin-bottom: $spacing-1;
}

.details {
  padding-left: $spacing-3;
  position: absolute;
  right: 0;
  top: 0;
  width: $cols-4;

  dd.share {
    display: block;
  }

  dl dt {
    margin-bottom: 0;
  }

  h2 {
    @include access-hidden;
  }
}

.opportunity {
  margin-bottom: $spacing-1;

  dd {
    margin-bottom: $spacing-3;
  }

  dt {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .action {
    padding-bottom: $spacing-3;
  }

  .bid {
    a {
      margin-top: $spacing-3;
    }
  }

  .content {
    padding-right: $cols-5;
    position: relative;
  }

  .description {
    margin-bottom: $spacing-1;

    dl {
      padding-top: $spacing-3;
    }

    h2 {
      @include body-m;
      font-weight: bold;
    }
  }

  .details {
    dd {
      @include body-s;
    }

    dt {
      @include body-s;
      font-weight: bold;
    }
  }

  .provider {
    @include body-s;
    color: $mid-grey;
    display: none;
    margin-bottom: $spacing-1;

    img {
      display: block;
      max-width: 200px;
      width: 100%;
    }

    &.volume_opps {
      clear: both;
      display: block;
    }
  }

  .report {
    @include body-s;
    display: inline-block;
    margin: $spacing-3 0;
  }

  .summary {
    @include body-s;
    border-bottom: $light-grey solid 2px;
    margin-bottom: $spacing-1;
    padding-bottom: $spacing-3;
  }

  .teaser {
    @include body-l;
    margin-bottom: $spacing-3;
  }

  .type {
    color: $mid-grey;
    margin-bottom: 0;
  }  
}


// RESPONSIVE
@media screen and (max-width: 767px) {
  .details {
    margin-bottom: $spacing-1;
    padding-left: 0;
    position: static;
    width: auto;
  }
  .opportunity {
    .content {
      padding-right: 0;
    }
  }
}
