@import '../config';
@import '../components/subscription_form';
@import '../opportunities/opportunity_search_results';
@import '../effects/filter_select';

.opportunity-search-filters {
  float: left;
  padding: $spacing-3;
  width: $cols-4;
}

.opportunity-search-results {
  background-color: $stone-light;
  float: right;
  padding: $spacing-3;
  width: $cols-8;

  .all {
    display: none;
  }
}

#search-results {
  padding-top: $spacing-3;
}
