@import '../config';
@import '../opportunities/opportunity_search_form';
@import '../opportunities/opportunity_search_results';
@import '../effects/filter_select';


.hero-section {
  background-color: $light-grey;

  p {
    margin-bottom: $spacing-3;
    width: $cols-6;
  }
}

#search-results {
  background-color: $stone-light;
  
}
