@import '../config';
@import '../components/search_again_form';
@import '../components/subscription_form';
@import '../components/search_results';
@import '../components/search_results_filters';
@import '../effects/expander';


section {
  padding-top: 0;
}

.breadcrumbs {
  border: none;
  margin-bottom: 0;
}

.search-results {
  float: right;
  padding: $spacing-3 0 $spacing-3 $spacing-3;
  width: $cols-9;

  form {
    margin-bottom: $spacing-4;
  }

  select {
    margin-bottom: 0;
    min-width: 175px;
  }

  .all {
    display: none;
  }
}

.search-results-filters {
  border-top: 3px solid white;
  float: left;
  padding: $spacing-2 0 0 0;
  position: relative;
  width: $cols-3;

  // Enhanced with JS
  .Expander {
    background-color: $white;
    width: 100%;
  }

  .ExpanderControl {
    outline: none;
    &:before {
      @include down-chevron-1($black);
      float: right;
      height: 8px;
      margin: 5px $spacing-4 0 0;
      width: 8px;
    }

    &.active {
      &:before {
        @include up-chevron-1($black);
        height: 8px;
        width: 8px;
      }

      &:after {
        border-color: $light-grey;
      }
    }
  }
}

#subscribe {
  background-color: $stone-50;
  padding: 0;
}


// RESPONSIVE
@media (max-width: 1024px) {
  .search-results {
    width: $cols-8;
  }

  .search-results-filters {
    width: $cols-4;
  }
}

@media (max-width: 767px) {
  .search-again-form {
    form {
      float: left;
      position: relative;
    }

    p {
      float: none;
      margin-bottom: $spacing-3;
      width: auto;
    }
  }
}

@media (max-width: 680px) {
  .search-results,
  .search-results-filters {
    padding: $spacing-3 0;
    width: 100%;
  }
}
