/* utility background classes using colour vars from gov toolkit */

.background-grey-1 {
	background-color: $grey-1;
}
.background-grey-2 {
	background-color: $grey-2;
}
.background-grey-3 {
	background-color: $grey-3;
}
.background-grey-4 {
	background-color: $grey-4;
}
