.pull-right {
  float: right;
}

.pagination {
  clear: both;
}

.hidden, .js-enabled .js-hidden  {
	display: none !important;
	visibility: hidden !important;
}

.margin-top {
	margin-top: 1em;
}

.margin-top-0 {
	margin-top: 0px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-0 {
	margin-bottom: 0px;
}

.padding-30 {
	padding: 30px;
}
 
.visuallyHidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.white-space-pre {
  white-space: pre-wrap;
}