.pull-right {
  float: right;
}

.pagination {
  clear: both;
}

.hidden, .js-enabled .js-hidden  {
	display: none;
	visibility: hidden;
}

.margin-top {
	margin-top: 1em;
}

.margin-top-0 {
	margin-top: 0px;
}

.margin-bottom-0 {
	margin-bottom: 0px;
}