
.ragg_choice {
	legend {
		margin-bottom: 15px;
	}
	&-red {
		label {
			color: $rag-red;
		}
	}
	&-amber {
		label {
			color: $rag-amber;
		}
	}
	&-green {
		label {
			color: $rag-green;
		}
	}
	&-blue {
		label {
			color: $rag-blue;
		}
	}
	&-grey {
		label {
			color: $rag-grey;
		}
	}
}

