
.ragg_choice {
	&-red {
		label {
			color: $rag-red;
		}
	}
	&-amber {
		label {
			color: $rag-amber;
		}
	}
	&-green {
		label {
			color: $rag-green;
		}
	}
	&-grey {
		label {
			color: $rag-grey;
		}
	}
}

