// Mostly taken from govuk_elements typography file

@import "govuk_frontend_toolkit/typography";
@import "govuk_frontend_toolkit/colours";
@import "helpers";

html, body, button, input, table, td, th, main {
  @include core-16;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}

// Common heading sizes
// Using the bold-xx mixins from the govuk_toolkit _typography.scss file
// Spacing is set in em, using em() in the helpers

// Headings
h1 {
  @include bold-36();

  margin-top: em(15, 24);
  margin-bottom: em(10, 24);

  @include media(tablet) {
    margin-top: em(45, 36);
    margin-bottom: em(20, 36);
  }

}

h2, h3, h4 {
  @include bold-19();

  margin-top: em(20, 16);
  margin-bottom: em(10, 16);

  @include media(tablet) {
    margin-top: em(30, 19);
    margin-bottom: em(10, 19);
  }

}

p {
  margin-top: em(5, 16);
  margin-bottom: em(15, 16);
  line-height: 1.25;
  @include media(tablet) {
    margin-top: em(5);
    margin-bottom: em(15);
  }
}


// Link styles
a {
  color: $link-colour;
  text-decoration: none;
}

a:visited {
  color: $link-colour;
}

a:hover {
  color: $link-hover-colour;
  text-decoration: underline;
}

a:active {
  color: $link-colour;
}

.secondary, .inline-terms {
  color: $secondary-text-colour;
}

.link-back {

  &:hover {
    text-decoration: none;
  }
}

.button-reply {

}

/* quick fix to fit big number */
.bold-xxlarge-fit {
  @include media(tablet) {
    font-size: 70px;
    line-height: 80px;
  }
}
