// colour
$black: #0B0C0E;
$white: #fffff0;
$rag-red: #e25453;
$rag-amber:#e9a14d;
$rag-green:#92c569;
$rag-blue:#3B8EA5;
$rag-grey:#A5978B;

$colour-message: #d7efd1;
$colour-warning: #f4d3d3;

//3B8EA5
