// colours
$black: #0B0C0E;
$white: #fffff0;

$grey-athens: #ebecee;
$grey-silversand: #bfc1c3;
$grey-rollingstone: #6f777b;
$grey-silverchalice: #a0A0A0;
$grey-gallery: #efefef;

$green-fun: #008337;
$green-country: #003717;
$green-flower: #c3e8d2;
$amber-buttercup: #f5a623;
$red-crimson: #E41F13;

/* used for the opportunity rating */
$rag-red: #e25453;
$rag-amber:#e9a14d;
$rag-green:#92c569;
$rag-blue:#3B8EA5;
$rag-grey:#A5978B;

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
/* used for message panels */
$colour-message: #d7efd1;
$colour-warning: #f4d3d3;

/* used for confirmation messaging panels */
$colour-positive: $green-flower;

/* used for the enquiry response types */
$response-type-positive: $green-fun;
$response-type-negative: $red-crimson;
$response-type-neutral: $amber-buttercup;
<<<<<<< HEAD
=======
=======
>>>>>>> 3d9e728... (fix) multiple attachments, using carrierwave
$green-fun: #008337;
$amber-buttercup: #f5a623

=======
/* used for message panels */
>>>>>>> 717075f... PTU comms in stable
$colour-message: #d7efd1;
$colour-warning: #f4d3d3;

/* used for the enquiry response types */
$response-type-positive: $green-fun;
<<<<<<< HEAD
$response-type-negative: $amber-buttercup;
$response-type-neutral: #f5a623;
<<<<<<< HEAD
>>>>>>> 70f4099... (feature) adding frontend stuff
=======
>>>>>>> 3d9e728... (fix) multiple attachments, using carrierwave
=======
$response-type-negative: $red-crimson;
$response-type-neutral: $amber-buttercup;
>>>>>>> 717075f... PTU comms in stable
=======

//
>>>>>>> 8a9a34f... (feature) getting preview page up there
