default: &default
  adapter: postgresql
  encoding: unicode
  host: ''
  pool: <%= [Figaro.env.db_pool.to_i, Figaro.env.threads.to_i, 5].max %>

development:
  <<: *default
  database: export_opportunities_dev_zeus

test:
  <<: *default
  database: export_opportunities_test_zeus

production:
  <<: *default
  database: ukti_opportunities_prod
