schedule_automated_impact_email_job:
  cron: "30 8 * * *"
  class: "SendImpactEmailToMatchingEnquiriesWorker"
  queue: default
  active_job: true

schedule_volume_import_opps_job:
  cron: "30 10 * * *"
  class: "RetrieveVolumeOpps"
  queue: default
  active_job: true

digest_email_notifications_job:
  cron: "* * * * *"
  class: "SendOpportunitiesDigest"
  queue: default
  active_job: true
