.metadata {
    font-weight: 400;
    text-transform: none;
    font-size: 12px;
    line-height: 1.25;
    margin-bottom: 2em
}

@media (min-width: 641px) {
    .metadata {
        font-size:14px;
        line-height: 1.42857
    }
}

.metadata dt {
    float: left;
    clear: left;
    width: auto;
    color: #6f777b;
}

@media (min-width: 641px) {
    .metadata dt {
        padding-right:10px
    }
}

.metadata dd {
    float: left;
    width: 55%;
    color: #6f777b;
}

@media (min-width: 641px) {
    .metadata dd {
        width:70%
    }
}

.metadata a[rel="external"]:after {
    content: "\A0\A0\A0\A0\A0\A0";
    background-position: right 0%
}

.metadata:after {
    content: "";
    display: block;
    clear: both;
}