.tablist {
  @include clearFix();
  border-bottom: 1px solid $grey-silversand;
  margin: 1.5em 0;
  label {
    cursor: pointer;
  }
}
@media (max-width: 640px) {
  .tablist {
    border-bottom: none;
    margin: 30px 0;
  }
}
.tablist ul {
  @include clearFix();
  position: relative;
  top: 1px;
  margin: 0;
  padding: 0;
}
.tablist ul li {
  margin: 0;
  padding: 0;
  float: left;
  display: inline;
  list-style: none;
  position: relative;
}
@media (max-width: 640px) {
  .tablist ul li {
    float: none;
    display: block;
  }
}
.tablist ul a,
.tablist ul label {
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  font-weight: bold;
  display: block;
  overflow: hidden;
  margin: 5px 5px 6px 0;
  padding: 5px 0;
  text-decoration: none;
  background: $grey-athens;
  border: 1px solid #dee0e2;
  border-bottom: none;
}
@media (min-width: 641px) {
  .tablist ul a,
  .tablist ul label {
    padding: 11px 44px 9px 9px;
    font-size: 16px;
    line-height: 1.56;
    margin-left: 5px;
    border: none;
  }

}

.tablist ul li.active a,
.tablist ul li.active label {
  background: #fff;
  padding: 10px 24px 10px 10px;
  margin: 0px 5px 0px 5px;
  border: 1px solid $grey-silversand;
}

@media (min-width: 641px) {
  .tablist ul li.active a,
  .tablist ul li.active label {
    position: relative;
    top: 1px;
    padding: 14px 44px 20px 14px;
    border-width: 1px 1px 0px 1px;
  }
}

.tablist ul li:first-child a, 
.tablist ul li:first-child label {
  margin-left: 0;
}

.tab-panel {
  position: relative;
  display: block;
  visibility: visible;
  clear: left;
  overflow: auto;
  z-index: 5;
}

/* badges inside tabs */

.tablist ul {
  li {
    .badge {
      position: absolute;
      top: 12px;
      right: 20px;
    }
  }
  li.active {
    .badge {
      position: absolute;
      top: 16px;
      right: 20px;
    }
  }
  @media (min-width: 641px) {
    li {
      .badge {
        top: 20px;
      }
    }
    li.active {
      .badge {
        top: 20px;
      }
    }
  }
}