= form_for @comment_form, url: admin_opportunity_comments_path(@opportunity) do |f|
  .form-group
    = f.label :message, 'Add a comment', class: 'form-label form-label-bold'
    = f.text_area :message, class: 'form-control'
    %p.form-hint
      Comments posted here are only visible by you and other editors.
  = f.submit 'Add Comment', class: 'button'
