%section.history
  .container
    %h2 History and comments

    - if @history.any?
      - @history.each do |item|
        = render item
    - else
      %p.version-unavailable= t('admin.opportunity.history.unavailable')

    = render 'comment_form'

