%section.history
  %h2 History and comments
  %ul
    - if @history.any?
      - @history.each do |event|
        %li.event
          = render event
    - else
      %li.event
        = t('admin.opportunity.history.unavailable')

  = render 'comment_form'

