%h2 Triage rating
.form-group.ragg_choice
  %fieldset.inline
    %legend Set the rating: "Red" to escalate, "Amber" to amend, "Green" no action needed, "Grey" for special consideration.
    .multiple-choice.ragg_choice-red
      = f.radio_button :ragg, :red, id: 'radio-inline-1'
      %label{:for => "radio-inline-1"} Red
    .multiple-choice.ragg_choice-amber
      = f.radio_button :ragg, :amber, id: 'radio-inline-2'
      %label{:for => "radio-inline-2"} Amber
    .multiple-choice.ragg_choice-green
      = f.radio_button :ragg, :green, id: 'radio-inline-3'
      %label{:for => "radio-inline-3"} Green
    .multiple-choice.ragg_choice-grey
      = f.radio_button :ragg, :grey, id: 'radio-inline-4'
      %label{:for => "radio-inline-4"} Grey
