%section.intro
  %h1= content['title_edit']
  %p.mandatory= content['mandatory']

%section.process
  = render  partial: 'form', locals: { opportunity: @opportunity, content: content }

= render 'history'
