%h1.heading-large Writing Export opportunities guidance

%div
  .grid-row
    .column-two-thirds
      .metadata
        %dl
          %dt Published by:
          %dd
            %a{:href => "/"} Content community
          %dt Last updated:
          %dd 20th June 2017

.grid-row
  .column-two-thirds
    %p This guidance aims to help you write an export opportunity that will get published faster. 
   
    %p Using this guidance will reduce the time it takes for us to edit an opportunity, which means it will get published more quickly.  

%div.panel
  .grid-row
    .column-one-half
      %h3.heading-small What we define as an export opportunity 
      %p Export opportunities are sales leads. They are not job descriptions, invitations to invest or property sales.

%div 
  %h2.heading-large How to write an export opportunity

%div{:id => 'section-title'}
  %h2.heading-medium Title
  %p Start with the country, use a small hyphen (-) and then say what the product or service is in 2 or 3 words. 

  %p For example, handbags, kitchen equipment, financial advice services. 

  %p Capitalise the first word only and don’t put a full stop at the end.

  %p.message.message-success Example of a good title: Croatia - Kitchen equipment
 
  %p.message.message-warning Example of a bad title: Spain - Pressure booster/Membrane Nitrogen/Air Compressor Supplier Needed


%div{:id => 'section-summary'}
  %h2.heading-medium Summarise this export opportunity in a sentence
  %p Start the sentence by stating who the buyer is, for example:

%div{:id => 'section-description'}
  %h2.heading-medium Describe your export opportunity for UK businesses
  %p Start the description with: It is looking for: Or You should be able to supply: 

%div
  %h2.heading-large Select date range
  .grid-row
    .column-one-half
      %div
        %p kjkjkjhkj
    .column-one-half
      %div
        %p kjkjkjhkj

%div
  %h2.heading-large Select date range
  .grid-row
    .column-one-half
      %div
        %p kjkjkjhkj
    .column-one-half
      %div
        %p kjkjkjhkj