.guide {

  &__copy {
    height: 50px;

    &:before {
      content: '';
      background: url('exporting_guide.svg') no-repeat;
      height: 40px;
      width: 35px;
      margin-right: 5px;
      float: left;

      .lt-ie9 & {
        content: 'Read: ';
        margin-right: 5px;
      }

      @include media($large-screen) {
        margin-top: 10px;
        margin-right: 5px;
        height: 30px;
        width: 20px;
      }

      @include media($xlarge-screen) {
        margin-right: 10px;
        margin-top: 2px;
        width: 30px;
      }
    }
  }

  &__label {
    margin-bottom: 0;
    float: left;
    width: 75%;

    @include media($large-screen) {
      width: 80%;
    }
  }

  &__country {
    font-size: 12px;
    text-transform: uppercase;
    float: left;
    width: 75%;

    @include media($large-screen) {
      width: 80%;
    }

  }

}
