.new-wrapper {
  border-top: $panel-border;
  margin-bottom: 80px;

  @include span-columns(12);
}

.opportunity__main {
  @include span-columns(12);

  background-color: $white;
  padding: $base-spacing 0;

  @include media($medium-screen) {
    @include span-columns(8);
  }

  .lt-ie9 & {
    @include span-columns(8);
    @include omega();
  }

  .opportunity__content {
    margin-bottom: 3em;

    .opportunity__teaser {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.291666667;
    }

    p {
      color:#333333;
      font-size:18px;
      font-weight:400;
      line-height:25px;
    }

    h1 {
      margin-left: 0;
      margin-right: 0;

      span {
        max-width: 75%;
      }
    }

    hr {
      border-color: $mid-grey;
    }

    // undo any additional styling the editors have used incorrectly
    b,
    strong {
      font-weight: normal;
    }

    i,
    em {
      font-style: normal;
    }

    ul {
      list-style: none;
      margin-bottom: $base-spacing;
      margin-left: 1em;
      padding-left: 0;

      @include media($medium-screen) {
        margin-left: 0;
      }

      li {
        margin-bottom: $small-spacing;
      }

      li::before {
        color: $flag-red;
        content: "\2022";
        display: inline-block;
        margin-left: -1em;
        width: 1em;
      }
    }

    ol {
      counter-reset: li;
      list-style: none;
      margin-bottom: $base-spacing;
      margin-left: 1em;
      padding-left: 0;

      @include media($medium-screen) {
        margin-left: 0;
      }

      li {
        counter-increment: li;
        margin-bottom: $small-spacing;
      }

      li::before {
        color: $flag-red;
        content: counter(li);
        direction: rtl;
        display: inline-block;
        margin-left: -1.5em;
        margin-right: 0.5em;
        margin-top: 1px;
        text-align: right;
        width: 1em;
      }
    }
  }
}

.opportunity__information {
  @include span-columns(12);

  background-color: $stone;
  border-bottom: 0;
  padding: $base-spacing;

  @include media($medium-screen) {
    @include span-columns(4);
    @include omega();
  }

  .lt-ie9 & {
    @include span-columns(3);
    @include omega();
  }

  .meta {
    padding: 1em 0;

    @include media($medium-screen) {
    }

    .button {
      width: 100%;
    }

    .meta__item {
      min-height: 2.0em;
      a {
        border-bottom: 0
      }

      .meta__header {
        display: block;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.53;
        margin-bottom: 0;
      }

      .meta__content {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.53;
      }
    }
  }
}
