.panel {
  @include span-columns(12);

  padding: 0;

  &--primary {
    background-color: $great-blue;
    color: $white;
    margin-bottom: $base-spacing;
    text-align: center;

    @include media($medium-screen) {
      padding: $base-spacing;
    }

    h1 {
      margin-left: auto;
      margin-right: auto;
      max-width: 80%;
      color: $white;
    }

    p {
      margin: 0 auto;
      max-width: 70%;
    }

    dl {
      margin: auto;
      text-align: left;
      width: 90%;

      @include media($medium-screen) {
        width: 75%;
      }

      dt {
        display: block;
        float: none;
        text-align: center;
        width: auto;

        @include media($medium-screen) {
          clear: left;
          float: left;
          overflow: hidden;
          text-align: right;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 160px;
        }

      }

      dd {
        display: block;
        margin-bottom: $small-spacing;
        margin-left: 0;
        text-align: center;

        @include media($medium-screen) {
          margin-left: 170px;
          text-align: left;
          width: auto;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

    }
  }
}
