.user-navigation {
  float: right;

  ul {
    margin-top: $base-spacing * 1.5;
    padding: 0;

    li {
      display: inline;
      position: relative;

      &:after {
        color: rgba(250,250,250,.5);
        content: '|';
        font-size: 20px;
        position: absolute;
        right: -1px;
        top: -7px;
      }

      &:last-child:after {
        content: '';
      }

      a {
        background-color: #160d37;
        border: 0;
        border-top: 2px #160d37 solid;
        color: $white;
        margin: 0;
        padding: 8px 11px 7px;
        text-decoration: none;

        &:hover {
          border-top: 3px solid #e41f13;
        }

        &.user-navigation-toggle-active {
          border-top: 3px solid #e41f13;
        }

        .icon {
          background-position: 0 50%;
          background-repeat: no-repeat;
          display: inline;
          padding: 2px $small-spacing 2px $base-spacing;

          &-profile {
            background-image: asset-url('icons/profile.svg');
          }

          &-sign-in {
            background-image: asset-url('icons/sign-in.svg');
          }
        }
      }
    }
  }
}
