.error-summary.hidden{"aria-labelledby" => "error-summary-heading", :role => "group", :tabindex => "-1", :"aria-hidden" => "true"}
  %h1#error-summary-heading.heading-medium.error-summary-heading
    There was a problem
  %p
    Please select valid dates and submit again
  %ul.error-summary-list
