%h1.heading-large ENQUIRIES Export opportunities guidance

%div
  .grid-row
    .column-two-thirds
      .metadata
        %dl
          %dt Published by:
          %dd
            %a{:href => "mailto:exportopportunities@trade.gsi.gov.uk"} Content community
          %dt Last updated:
          %dd 20th June 2017

%div
  .grid-row
    .column-two-thirds
      %p This guidance aims to help you write an export opportunity that will get published faster.

      %p Using this guidance will reduce the time it takes for us to edit an opportunity, which means it will get published more quickly.

%div.panel
  .grid-row
    .column-one-half
      %h3.heading-small What we define as an export opportunity
      %p Export opportunities are sales leads. They are not job descriptions, invitations to invest or property sales.

%div
  %h2.heading-large How to write an export opportunity

%div{:id => 'section-title'}
  .grid-row
    .column-two-thirds
      %h2.heading-medium Title

      %p Start with the country, use a small hyphen (-) and then say what the product or service is in 2 or 3 words. For example, handbags, kitchen equipment, financial advice services.

      %p Capitalise the first word only and don’t put a full stop at the end.

      %p.message.message-success
        Example of a
        %b
          good title:
        %b
        Croatia - Kitchen equipment

      %p.message.message-warning
        Example of a
        %b
          bad title:
        %b
        Spain - Pressure booster/Membrane Nitrogen/Air Compressor Supplier Needed



%div{:id => 'section-summary'}
  %h2.heading-medium Summarise this export opportunity in a sentence
  .grid-row
    .column-two-thirds
      %p Start the sentence by stating who the buyer is, for example:

      %p.message.message-success
        An electronics company...
        %br/
        A hospital group...
        %br/
        The government...

      %p Do not repeat the country. This is already mentioned in the title.

      %p Continue with:

      %p.message.message-success
        is looking for...
        %br/
        needs...
        %br/
        wants a supplier of...

      %p You can use 'A tender has been issued...'' if the opportunity is from a public company.

      %p To help with search, do not just repeat the title. Add more information and use different words.

      %p Write the sentence in 140 characters or less including spaces. Don't forget the full stop at the end.

      %p This sentence will appear in the live opportunity as the 'teaser'.


%div{:id => 'section-description'}
  %h2.heading-medium Describe your export opportunity for UK businesses
  .grid-row
    .column-two-thirds
      %p Start the description with:

      %p.message.message-success
        It is looking for:
        %br/
        %br/
        Or
        %br/
        %br/
        You should be able to supply:

      %p Then leave a line and list any requirements like this:

      %div.message.message-success
        \- 6 tonnes of...
        %br/
        \- 180 metres of...
        %br/
        \- amount
        %br/
        \- volume
        %br/
        \- size
        %br/
        \- specification

      %p Each list item should follow on from the lead sentence.

      %p In both instances, you should:

      %div.message.message-success
        %ul.list.list-bullet.margin-bottom-0
          %li use a colon
          %li leave a line break
          %li spell out any acronyms the first time they're used and then just use the acronym if you refer to it again
          %li not use a capital letter at the beginning of each item in the list
          %li not use full stops

      %p Also, remember to:

      %div.message.message-success
        %ul.list.list-bullet.margin-bottom-0
          %li use 'like' instead of 'such as'
          %li use 'to' instead of a dash, for example 50cm to 80cm and not 50cm-80cm
          %li use 'and' not '&''
          %li if listing measurements or similar, don't place a space between the number and the measurement, for example 100mm not 100 mm
          %li use numbers eg '1', '4', '15' instead of writing out in full and use a comma if the number is in the 1,000s, for example 15,000 not 15000


%div{:id => 'section-company'}
  %h2.heading-medium Company
  .grid-row
    .column-two-thirds
      %p If the information is available, include one or two sentences about the company, for example:
      %div.message.message-success
        %ul.list.list-bullet.margin-bottom-0
          %li how long it has been trading for
          %li where it is based

      %p Do not give the name of the company.

%div{:id => 'section-contract'}
  %h2.heading-medium Length of contract
  .grid-row
    .column-two-thirds
      %p If the information is available, say how long the contract is for in months, years or if it's ongoing. Use 'The length of the contract is...'.

%div{:id => 'section-extra'}
  %h2.heading-medium Extra information
  .grid-row
    .column-two-thirds
      %p Don't include 'You will need to provide a bio and details of your website' (or similar) or anything that doesn't give useful information about the opportunity.

%div{:id => 'section-calltoaction'}
  %h2.heading-medium Apply for more information
  .grid-row
    .column-two-thirds
      %p Please use the correct one that applies to you.

  %h3.heading-small Department for International Trade teams should use:
  %p Apply for more information from the Department for International Trade team in COUNTRY.

  %h3.heading-small British Chambers of Commerce (except Poland, the Slovak Republic and the Philippines) should use:
  %p
    Apply for more information from the British Chamber of Commerce in COUNTRY.
    %br/
    The British Chamber of Commerce is our chosen partner to deliver trade services in COUNTRY.

  %h3.heading-small Burma
  %p
    Apply for more information from the British Chamber of Commerce in Myanmar.
    %br/
    The British Chamber of Commerce is our chosen partner to deliver trade services in Burma (also known as Myanmar).
    %br/
    Apply for more information from the Department for International Trade in Burma. Burma is also known as Myanmar.

  %h3.heading-small The China-Britain Business Council should use:
  %p
    Apply for more information from the China-Britain Business Council (CBBC).
    %br/
    CBBC is a membership organisation and Department for International Trade’s chosen partner in China to deliver trade services.

  %h3.heading-small The UK India Business Council in India should use:
  %p
    Apply for more information from the UK India Business Council in India (UKIBC).
    %br/
    UKIBC is the Department for International Trade’s chosen partner to deliver trade services in India.

  %h3.heading-small The British Business Group Vietnam should use:
  %p
    Apply for more information from the British Business Group Vietnam (BBGV).
    %br/
    BBGV is our chosen partner to deliver trade services in Vietnam.

  %h3.heading-small The British Business Centre in Hungary should use:
  %p
    Apply for more information from the British Business Centre in Hungary.
    %br/
    The British Business Centre is our chosen partner to deliver trade services in Hungary.

  %h3.heading-small The British Business Centre in the UAE should use:
  %p
    Apply for more information from the British Business Centre in the UAE.
    %br/
    The British Business Centre is our chosen partner to deliver trade services in the UAE.

  %h3.heading-small UK Colombia Trade should use:
  %p
    Apply for more information from UK Colombia Trade.
    %br/
    UK Colombia Trade is the Department for International Trade's delivery partner in Colombia.
