%h1.heading-large Guidance

%div
  .grid-row
    .column-two-thirds
      .metadata
        %dl
          %dt Published by:
          %dd
            %a{:href => "mailto:exportopportunities@trade.gsi.gov.uk"} Content community
          %dt Last updated:
          %dd 20th August 2017

%div
  .grid-row
    .column-two-thirds
      %p.large This guidance has been designed to help you respond to UK companies who are 'right for the opportunity'.

%div.panel
  .grid-row
    .column-one-half
      %h3.heading-small A UK company is right for an opportunity if it:
      %ul.list.list-bullet.margin-bottom-0
        %li meets the criteria of the buyer or the tender 
        %li seems able to fulfil the order and has both the logistical and financial capacity to deliver

%div{:id => 'section-title'}
  .grid-row
    .column-two-thirds
      %h2.heading-medium What you need to do next

      %p Select the most appropriate reason. You can choose from a list of sentences to help you write your message. If applicable, UK companies will be informed of UK export finance, the relevant country guide and DIT regional office, so you do not need to include this information.

      %ul.list
        %li meets the criteria of the buyer or the tender 
        %li seems able to fulfil the order and has both the logistical and financial capacity to deliver

      %span{:id => 'section-response_type_1'}

      %h3 1. Product or service does not meet the criteria of the Opp:

      %ul 
        %li If Opp not yet expired: explain why and if relevant suggest they tailor their application before reapplying. 
    
        %li If Opp expired: explain why and suggest how they could improve next time
    
        %li If possible direct them to a more suitable opportunity

      %p Use sentences such as:
      
      %p If Opp not yet expired:

      %div.panel
        %p The buyer is looking for [compare what buyer is looking for to what they say they supply] but it seems that your company does not provide this. If you still think your [product or service] does match what the buyer wants, you are welcome to reapply and clearly explain how and why you can meet the criteria of the opportunity. You could also apply for opportunities such as [add link to the relevant Opp/s]

      %p If Opp expired:

      %div.panel
        %p The buyer is looking for [compare what buyer is looking for to what they say they supply] but it seems that your company does not provide this. This opportunity expired on [17 July 2017], next time please clearly explain how and why you can meet the criteria of the opportunity, include details such as [give them examples]. You could also apply for opportunities such as [add link to the relevant Opp/s]

      %span{:id => 'section-response_type_2'}
 
      %h3 2. Not ready to export in this market or not ready to export at all:

      %ul
        %li explain why and suggest what are the basic things they should  demonstrate 
        %li signpost them to available support

      %p Use sentences such as:

      %div.panel
        %p From the information you have provided, it seems you are not ready to export in this market. [say what should they demonstrate]. Other markets may be more suitable, please contact your local trade adviser to explore possible next steps.

        %p From the information you have provided, it seems you are not ready to export. [say what should they demonstrate]. To become export ready please contact your local trade adviser to explore possible next steps.
 
      %h3 3. Buyer said the UK supplier was not right:

      %ul
        %li explain why and suggest how they could improve next time
        %li if possible direct them to a more suitable opportunity.

      %p Use sentences such as:

      %div.panel
        %p On this occasion, you have not been selected by the buyer. This is because [let them know the reasons]. You could however, apply for other opportunities such as…

 
