%h1.heading-large Guidance

%div
  .grid-row
    .column-two-thirds
      .metadata
        %dl
          %dt Published by:
          %dd
            %a{:href => "mailto:exportopportunities@trade.gsi.gov.uk"} Content community
          %dt Last updated:
          %dd 7th September 2017

%span{:id => 'response_1'}

%div
  .grid-row
    .column-two-thirds
      %p.large This guidance has been designed to help you respond to UK companies who are 'right for the opportunity'.

%div.panel
  .grid-row
    .column-one-half
      %h2.heading-small A UK company is right for an opportunity if it:
      %ul.list.list-bullet.margin-bottom-0
        %li meets the criteria of the buyer or the tender 
        %li seems able to fulfil the order and has both the logistical and financial capacity to deliver

.grid-row
  .column-two-thirds
    %h3.heading-medium What you need to do next

    %p Select the most appropriate reason. You can choose from a list of sentences to help you write your message. If applicable, UK companies will be informed of UK export finance, the relevant country guide and DIT regional office, so you do not need to include this information.

    %ul.list
      %li
        %a{ :href => "#response_1_reason_1"} You will forward the UK company details on to the buyer
      %li
        %a{ :href => "#response_1_reason_2"} You will introduce the UK company and buyer
      %li
        %a{ :href => "#response_1_reason_3"} Telling the UK company they need to contact the buyer directly
      %li
        %a{ :href => "#response_1_reason_4"} You will introduce the UK company and buyer


    %span{:id => 'response_1_reason_1'}

    %h3 If you will forward the UK company details on to the buyer

    %p Remember to include in your response: 

    %ul.list.list-bullet
      %li further details about the opportunity
      %li who the buyer is
      %li what will happen next and what they need to do
      %li relevant documents (if applicable)

    %p Use sentences such as:

    %p.message.message-success
      I will forward your details to the buyer. They will contact you directly if they are interested in working with you. / After I forward your details onto the buyer, they will let me know if they are interested in working with you.
      %br
      %br
      This opportunity is offered by  /  The buyer is: [company's name+short bio+link to website].
      %br
      %br
      The buyer may take a few weeks to respond or sometimes may not respond at all. Buyer priorities change all the time. We have no say in their decisions or how they work. 
      %br
      %br
      Here are more details about the opportunity  /  Please find below further information about this opportunity: [include further details about the opp]. 
      %br
      %br
      The buyer would like to know if your company can [specific questions you need to ask].
      %br
      %br
      Please send me further information such as marketing materials or product specs to support your proposal.
      %br
      %br
      Please note my role in managing this opportunity has now come to an end.  /  You can copy me into your correspondence with the buyer. I'll do my best to help you along the way.
      %br
      %br
      I wish you every business success.

    %span{:id => 'response_1_reason_2'}

    %h3 If you will introduce the UK company and buyer

    %p Remember to include in your response:

    %ul.list.list-bullet
      %li further details about the opportunity
      %li who the buyer is
      %li what will happen next and what they need to do
      %li relevant documents (if applicable)

    %p Use sentences such as:

    %p.message.message-success
      I will forward your details to the buyer. If they are interested in working with you, I will introduce you both by email and you should contact them as soon as possible.
      %br
      %br
      This opportunity is offered by  /  The buyer is: [company's name + short bio + link to website].
      %br
      %br
      The buyer may take a few weeks to respond or sometimes may not respond at all. Buyer priorities change all the time. I have no say in their decisions or how they work. 
      %br
      %br
      Here are more details about the opportunity  /  Please find below further information about this opportunity: [include further details about the opp]. 
      %br
      %br
      The buyer would like to know if your company can [specific questions you need to ask].
      %br
      %br
      Please send me further information such as marketing materials or product specs to support your proposal.
      %br
      %br
      Please note my role in managing this opportunity has now come to an end.  /  You can copy me in your correspondence with the buyer. I'll do my best to help you along the way.
      %br
      %br 
      I wish you every business success.

    %span{:id => 'response_1_reason_3'}

    %h3 If you are telling UK company they need to contact the buyer directly

    %p Remember to include in your response: 

    %ul.list.list-bullet
      %li further details about the opportunity
      %li who the buyer is
      %li what will happen next and what they need to do
      %li relevant documents (if applicable)

    %p Use sentences such as:

    %p.message.message-success
      This opportunity is offered by / The buyer is: [company's name+short bio + link to website].
      %br
      %br
      Here are the buyer's contact details: [Insert company contact details]
      %br
      %br
      The buyer is happy for you to contact them. Please do so as soon as possible or let me know if your circumstances have changed.
      %br
      %br
      The buyer may take a few weeks to respond or sometimes may not respond at all. Buyer priorities change all the time.  I have no say in their decisions or how they work. 
      %br
      %br
      Here are more details about the opportunity  /  Please find below further information about this opportunity: [include further details about the opp]. 
      %br
      %br
      You will need to let the buyer know if your company can [include specific questions you need to ask].
      %br
      %br
      You can send them further information such as marketing materials or product specs to support your proposal.
      %br
      %br
      Please note my role in managing this opportunity has now come to an end.  /  You can copy me in your correspondence with the buyer. I'll do my best to help you along the way. 
      %br
      %br
      I wish you every business success.

    %span{:id => 'response_1_reason_4'}

    %h3 If replying to UK company about a tender

    %p Remember to include in your response: 

    %ul.list.list-bullet
      %li clearly state the submission deadline and the language the bid must be submitted in
      %li if possible include further details about the tender such as the value, bid bonds or non refundable deposits
      %li share the tender documents in your response by a link or attachment
      %li suggest how you could help them further if possible such as directing them to other services (legal advice, translation services)

    %p.message.message-success
      The tender is issued by [name of company/ organisation]
      %br
      The estimated value of the tender is: [value]
      %br
      The closing date for all bids is: [28 July 2017]
      %br
      %br
      Further details about the tender: [such as language, estimation of price points, registration fees, deposits or clauses]
      %br
      %br
      I have attached the tender documents with further information (product specifications, tender rules and application procedure)  
      %br
      %br
      You will need to register on [link to tender document] to get the tender documents and further information (product specifications, tender rules and application procedure)  
      %br
      %br
      Registration [is free/ will cost £X to register].
      %br
      %br
      The tender reference is: [insert ref number or tender if applicable]
      %br
      %br
      For more information about this tender, contact the organisation on [relevant contact details]
      %br
      %br
      For more information on tenders in our market I have attached [explain what you have attached].
      %br
      %br
      Register on this tendering platform to view similar tenders and more information on the tendering process. [Details of tendering platform].
      %br
      %br
      Please note my role in managing this opportunity has now come to an end, I wish you every business success.

      %p
        Do you have other suggestions? Please 
        %a{:href => "mailto:exportopportunities@trade.gsi.gov.uk"} email us with your feedback
%br
%br
%hr
%br
%br

%span{:id => 'response_3'}

%div
  .grid-row
    .column-two-thirds
      %p.large This guidance has been designed to help you respond to UK companies who are 'not right for the opportunity'.

      %p You need to let companies know why their proposal was rejected and how they can do better next time.

      %h3.heading-medium What you need to do next

      %p You can select the most appropriate reason from a list of sentences. UK companies will be informed of UK export finance, country guide and DIT regional office, so you do not need to include this information.
      %ul.list
        %li
          %a{ :href => "#response_3_reason_1"} Product or service does not meet the criteria of the Opp
        %li
          %a{ :href => "#response_3_reason_2"} Not ready to export in this market or not ready to export at all
        %li
          %a{ :href => "#response_3_reason_3"} Buyer said the company was not right / company not selected 
        %li
          %a{ :href => "#response_3_reason_4"} UK company did not provide additional information in time

      %span{:id => 'response_3_reason_1'}

      %h3 Product or service does not meet the criteria of the Opp

      %ul.list.list-bullet.margin-bottom-0
        %li if Opp not yet expired: explain why and if relevant suggest they tailor their proposal before reapplying
        %li if Opp expired: explain why and suggest how they could improve next time

      %p In both instances direct them to a more suitable opportunity if possible.

      %p If Opp not yet expired use sentences such as:

      %p.message.message-success
        The buyer is looking for [what buyer is looking against what customer say they supply] but it seems that your company does not provide this.
        %br
        %br
        If you still think your [product or service] does match what the buyer wants, you are welcome to submit a new proposal and clearly explain how and why you can meet the criteria of the opportunity.
        %br
        %br
        New opportunities are added every day, submit a proposal for other opportunities such as [add link to no more than two relevant Opps]

      %p If Opp expired use sentences such as:

      %p.message.message-success
        The buyer is looking for [compare what buyer is looking for to what they say they supply] but it seems that your company does not provide this. 
        %br
        %br
        This opportunity expired on [17 July 2017], next time please clearly explain how and why you can meet the criteria of the opportunity. Include details such as [give them examples]. 
        %br
        %br
        New opportunities are added every day, submit a proposal for other opportunities such as [add link to no more than two relevant Opps]

      %a{ :href => "#response_3"} Back to top

      %span{:id => 'response_3_reason_2'}

      %h3 Not ready to export in this market or not ready to export at all

      %ul.list.list-bullet
        %li explain why and suggest the basic information they should include

      %p You can use:

      %p.message.message-success
        From the information you have provided, it seems you are not ready to export in this market. [say what should they demonstrate]. 

      %a{ :href => "#response_3"} Back to top

      %span{:id => 'response_3_reason_3'}

      %h3 Buyer said the UK supplier was not right
 
      %ul.list.list-bullet
        %li explain why buyer said no and suggest how they could improve next time
        %li If possible direct them to a more suitable opportunity

      %p You can use:

      %p.message.message-success
        The buyer has not selected your company. This is because [what buyer is looking for against what customer say they supply]
        %br
        %br
        New opportunities are added every day, submit a proposal for other opportunities such as [add link to no more than two relevant Opps] 

      %a{ :href => "#response_3"} Back to top

      %h3 Did not provide additional information on time

      %ul.list.list-bullet
        %li tell them when did you try to contact them 
        %li suggest how they could improve next time
        %li if possible direct them to a more suitable opportunity

      %p Use sentences such as:

      %p.message.message-success
        I tried to reach you several times but was unsuccessful. / I have contacted you on [date you contacted them] 
        %br
        %br
        I couldn't make a decision based on the information available in your proposal and no easily-sourced information is available online.
        %br
        %br
        I needed the following information: [reminded them what you asked for]
        %br
        %br
        You have failed to provide the relevant information / Since you have not provided us with this information by now, I could not put your proposal to the buyer.
        %br
        %br
        Unfortunately, this opportunity is no longer relevant / Unfortunately, the buyer is no longer seeking suppliers.  
        %br
        %br
        New opportunities are added every day, submit a proposal for other opportunities such as [add link to no more than two relevant Opps]

        %a{ :href => "#response_3"} Back to top

        %p
          Do you have other suggestions? Please 
          %a{:href => "mailto:exportopportunities@trade.gsi.gov.uk"} email us with your feedback
