// FONT vars and mixins
// ------------------------------

$font-path: "/export-opportunities/assets/fonts";

@font-face {
  font-family: "FS Lucas";
  src: font-url("FSLucas-Regular.woff2") format("woff2"),
    font-url("FSLucas-Regular.woff") format("woff"),
    font-url("FSLucas-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FS Lucas SemiBold";
  src: url("#{$font-path}/FSLucas-SemiBold.eot"),
    url("#{$font-path}/FSLucas-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("#{$font-path}/FSLucas-SemiBold.woff2") format("woff2"),
    url("#{$font-path}/FSLucas-SemiBold.woff") format("woff"),
    url("#{$font-path}/FSLucas-SemiBold.ttf") format("truetype"),
    url("#{$font-path}/FSLucas-SemiBold.svg#UbuntuBold") format("svg");
}

$brand-font-standard: "FS Lucas", Arial, Helvetica, Verdana;
$brand-font-alternative: "FS Lucas SemiBold", Arial, Helvetica, Verdana;
$brand-font-serif: $brand-font-alternative;


// HEADING mixins
@mixin heading-hero {
  font-family: $brand-font-alternative;
  font-size: 48px;
  font-weight: 800;
  line-height: 45px;
}

@mixin heading-hero-mob {
  font-family: $brand-font-alternative;
  font-size: 32px;
  font-weight: 800;
  line-height: 30px;
}

@mixin heading-l {
  font-family: $brand-font-standard;
  font-size:   48px;
  font-weight: 600;
  line-height: 1.15em;
  margin: 0 0 1em 0;
}

@mixin heading-l-mob {
  font-family: $brand-font-standard;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25em;
}

@mixin heading-m {
  font-family: $brand-font-standard;
  font-size:   36px;
  font-weight: 600;
  line-height: 1.1em;
  margin: 0 0 1em 0;
}

@mixin heading-m-mob {
  font-family: $brand-font-standard;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25em;
  letter-spacing: 0.3px;
}

@mixin heading-s {
  font-family: $brand-font-standard;
  font-size:   24px;
  font-weight: 600;
  line-height: 1.42em;
  margin: 0 0 1em 0;
}

@mixin heading-s-mob {
  font-family: $brand-font-standard;
  font-size:   19px;
  font-weight: 600;
  line-height: 1.58em;
  margin: 0 0 0.5em 0;
}

// CONTENT mixins
@mixin body-xl {
  font-family: $brand-font-standard;
  font-size:   32px;
  font-weight: 400;
  line-height: 1.25em;
}

@mixin body-l {
  font-family: $brand-font-standard;
  font-size:   24px;
  font-weight: 400;
  line-height: 1.5em;
}

@mixin body-m {
  font-family: $brand-font-standard;
  font-size:   19px;
  font-weight: 400;
  line-height: 1.58em;
}

@mixin body-m-mob {
  font-family: $brand-font-standard;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38em;
}

@mixin body-s {
  font-family: $brand-font-standard;
  font-size:   15px;
  font-weight: 400;
  line-height: 1.47em;
}

@mixin body-s-mob {
  font-family: $brand-font-standard;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.54em;
}

// SPECAL
@mixin quote {
  font-family: $brand-font-serif;
  font-size:   24px;
  font-weight: 400;
  line-height: 32px;
}

@mixin quote-mob {
  font-family: $brand-font-serif;
  font-size:   16px;
  font-weight: 400;
  line-height: 1.88em;
}
