= form_for @enquiry_feedback, url: enquiry_feedback_path(@enquiry_feedback) do |f|
  .form-group
    = f.label :message, 'Leave feedback', class: 'form-label form-label-bold'
    = f.text_area :message, { class: 'form-control', required: "required", rows: "8"}
  .form-group
    = f.submit 'Submit', class: 'button'

