%main
  .enquiry_feedback_form
    .container
      .margin-top-30
        %h1.h1 Thank you
        %p
          You selected: (The response selected in the Impact Email)
        %p
          We'd love to know more about why you selected this category (optional)
        %p
          = render 'form', enquiry_feedback: @enquiry_feedback
