= content_for :hero do
  %h1 Thanks for your feedback on Export Opportunities
.panel
  %p
  The information you’ve given will help us improve the Export Opportunities service.
  %p
  We’d welcome your feedback on any parts of the service.
  %p

.panel
  = render 'form', enquiry_feedback: @enquiry_feedback
