= content_for :hero do
  %h1 Thanks for your feedback on Export Opportunities
  %p
  The information you’ve given will help us improve the Export Opportunities service.
  %p
  We’d welcome hearing more about your experience of using the service. If you have more to say, complete the feedback form below.
  %p

= render 'form', enquiry_feedback: @enquiry_feedback
