%main
  .enquiry_feedback_form
    .container
      .margin-top-30
        %h1.h1 Thank you
        %p
          You selected:
          %strong
            =response
        %p
          We'd love to know more about why you selected this category 
          %span.optional
            (optional)
        %p
          = render 'form', enquiry_feedback: @enquiry_feedback
