= content_for :hero do
  %h1 Thanks for your feedback on Export Opportunities

%p The information you’ve given will help us improve the Export Opportunities service.
%p
  If you have more to say on the service, #{link_to 'complete our short feedback form', 'https://contact-us.export.great.gov.uk/feedback/export_ops/'}.

