.img {
	display:block;
	&__fluid {
		width: 100%;
	}
}

.margin-top-20 {
	margin-top: 20px;
}
.margin-top-30 {
	margin-top: 30px;
}
body.js-enabled {
	.select-custom {
		visibility: hidden
	}
}
body {
	overflow-x: hidden;
}
