/* a lot of stuff here needs to roll into style library */
body {
	overflow-x: hidden;
	background:	$white;
}

/* beware .container stlename clash with header/footer css */
main.main {
	clear: both;
}

main.main .container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 10px;
  @media #{$tablet-m} {
    padding: 0 30px;
  }
  @media #{$desktop-m} {
    padding: 0;
  }
  @include clearfix;
}

.img {
	display:block;
	&__fluid {
		width: 100%;
	}
}
body.js-enabled {
	.select-custom {
		visibility: hidden
	}
}
.center {
	text-align: center;
}
.margin-top-15 {
	margin-top: 20px;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-top-30 {
	margin-top: 30px;
}
.margin-bottom-5 {
	margin-bottom: 5px;
}
.margin-bottom-12 {
	margin-bottom: 12px;
}
.margin-bottom-30 {
	margin-bottom: 12px;
}

.r-margin-bottom-15 {
	margin-bottom: 15px;
}
.r-margin-bottom-30 {
	margin-bottom: 15px;
	  @media #{$tablet-m} {
    margin-bottom: 30px;
  }
}
.r-margin-top-60 {
	margin-top: 30px;
	  @media #{$tablet-m} {
    margin-top: 60px;
  }
}
.r-margin-bottom-60 {
	margin-bottom: 30px;
	  @media #{$tablet-m} {
    margin-bottom: 60px;
  }
}
.margin-bottom-60 {
	margin-bottom: 60px;
}
.padding-top-30 {
	padding-top: 30px!important;
}
.padding-top-60 {
	padding-top: 60px!important;
}
.padding-bottom-40{
	padding-top: 40px!important;
}

/* .button in style library tweaking */