// This is a new grid as of April 2017
.outer-container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 10px;
  @media #{$tablet-m} {
    padding: 0 20px;
  }
  @media #{$desktop-m} {
    padding: 0 30px;
  }
}


.container {
  margin: 0 auto;
  max-width: $max-width;
}

.row {
  @extend %clearfix;
  margin-right: -10px !important;
  margin-left: -10px !important;
}

[class*='column-'] {
  float: left;
  width: 100%;
  padding-right: 10px !important;
  padding-left: 10px !important;
  min-height: 1px;
  @media #{$tablet-m} {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  @media #{$desktop-m} {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

@media #{$tablet-m} {
  @for $i from 1 through $grid-columns {      
    .column-#{$i} {
          width: 100% / $grid-columns * $i;
      }           
   }   
}

