// This is a new grid as of April 2017
// Make sure you have this in your styles  because grid is using paddings
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 10px;
  @media #{$tablet-m} {
    padding: 0 30px;
  }
  @media #{$desktop-m} {
    padding: 0;
  }
  @include clearfix;
}

// This is mixin which you will include in parent
// of columns. It kills default margin of inline-block
// elements.
@mixin row () {
  @extend %clearfix;
  font-size: 0;
}

// This is column mixins.
@mixin col ($col, $sum, $gap: 1em, $align: top, $first: false, $last: false) {
    $divideBy: $grid-columns/$col;
    width: 100%;
    display: inline-block;
    float: left;
    font-size: 16px;
    padding-left: if($first, 0, $gap);
    padding-right: if($last, 0, $gap);

    @media only screen and (min-width: 768px) {
      width: 100% / $grid-columns * $sum;
      vertical-align: $align;
    }
    &.fluid { width: percentage($col/$sum); }
    &.collapse { 
      padding-left: 0px;
      padding-right: 0px;
    }
}

.row {
  @include row;
}

@for $i from 1 through $grid-columns {      
  .column-#{$i} {
        @include col(1, $i, $align: middle);
    }         
 } 


