a {
  font-family: "Roboto",arial,helvetica,sans-serif;
}

h1,
.h1 {
	color: $grey;
	font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.9px;
  @media #{$tablet-s} {
    &.constrained-width {
      width: 60%;
    }
  }
  @media #{$tablet-m} {
		font-size:48px;
		line-height: 1.15;
  	letter-spacing: -1px;
  }
}

h2,
.h2 {
	color: $grey;
	font-size: 24px;
	font-weight:500;
	line-height: 1.29;
  letter-spacing: -0.6px;
  @media #{$tablet-m} {
		font-size:32px;
		line-height: 1.25;
  }
}

h3,
.h3 {
	color: $grey;
	font-size: 18px;
	font-weight:400;
	letter-spacing: 0;
	line-height: 1.39;
  @media #{$tablet-m} {
		font-size:24px;
		font-weight:400;
		line-height: 1.29;
  	letter-spacing: -0.4px;
  }
}

h4,
.h4 {
  color: $grey;
  font-size: 19px;
  font-weight:400;
  letter-spacing: 0;
  line-height: 1.39;
  @media #{$tablet-m} {
    font-size:24px;
    font-weight:400;
    line-height: 1.29;
    letter-spacing: -0.4px;
  }
}

h5,
.h5 {
  color: $grey;
  font-size: 16px;
  font-weight:400;
  line-height: 22px;
  @media #{$tablet-m} {
    font-size:19px;
    line-height: 30px;
  }
}

p {
	font-size:15px;
	font-weight:400;
	line-height: 1.53;
	&.bold {
		font-weight:500;
	}
}

p.small {
	font-size: 13px;
  line-height: 1.54;
}

p.large,
.p-large {
	font-size: 18px;
	font-weight:400;
 	font-size: 18px;
  line-height: 1.39;
}

p.medium,
.p-medium {
  font-size: 16px;
  font-weight:400;
  line-height: 1.39;
  @media #{$tablet-m} {
    font-size: 19px;
    letter-spacing: -0.4px;
  }
  a {
    font-size: 16px;
    @media #{$tablet-m} {
      font-size: 19px;
    }
  }
}

.p-children-medium {
  p {
    font-size: 16px;
    font-weight:400;
    line-height: 1.39;
    @media #{$tablet-m} {
      font-size: 19px;
      letter-spacing: -0.4px;
    }
  }
}

p.lead {
  font-size: 24px;
  line-height: 1.5;
  color: $grey;
}

.bold {
  font-weight: 700 !important;
}

/* The below are not used yet */

blockquote {
	font-family: Georgia;
	color: $grey;
	font-size:24px;
	font-weight:regular;
	line-height:32px;
}

button.text {
	color: $grey;
	font-size:18px;
	font-weight:500;
	line-height:25px; 
}

a.link {
	font-size:18px;
	font-weight:400;
	line-height:25px;
}
