h1,
.h1 {
	color: $grey;
	font-size: 30px;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: -0.6px;
  @media #{$mobile-l} {
    font-size: 36px;
    line-height: 1.53;
    letter-spacing: -0.4px;
  }
  @media #{$desktop-s} {
		font-size:48px;
		letter-spacing:-1px;
		line-height:55px;
  }
}

h2 {
	color:#333333;
	font-size:32px;
	font-weight:500;
	letter-spacing:-0.7px;
	line-height:40px;
}

h3 {
	color:#333333;
	font-size:24px;
	font-weight:400;
	letter-spacing:-0.4px;
	line-height:31px;
}

p {
font-family:Roboto;
color:#333333;
font-size:15px;
font-weight:400;
line-height:23px;
}

p.small {
	font-family:Roboto;
	color:#333333;
	font-size:13px;
	font-weight:400;
	line-height:20px;
}

p.large,
.p-large {
	color:#333333;
	font-size:18px;
	font-weight:400;
	line-height:25px;
}

blockquote {
	font-family:Georgia;
	color:#333333;
	font-size:24px;
	font-weight:regular;
	line-height:32px;
}

button.text {
	color:#FFFFFF;
	font-size:18px;
	font-weight:500;
	line-height:25px; 
}

a.link-default {
	color:#333333;
	font-size:18px;
	font-weight:400;
	line-height:25px;
}
