/* primary */
$great_blue: #1e1348;
$stone: #dfd5c5;
$offwhite: #fafafa;
$white: #ffffff;
$grey: #333333;
$midgrey: #999999;
$lightgrey: #d8d8d8;
$greatred: #e41f13;
$midblue: #00549f;
$aqua: #007ea3;
$purple: #4f0b7b;


/* secondary */
$dark_navy: #160d37;

/* other */
$offwhite-opacity-90: rgba(250, 250, 250, 0.9);
$greytundora: #4a4a4a;
$black: #000000;

