// Base
$small-font-size: 0.875em;
$base-font-size: 1em;
$heading-font-size: 1.25em; 

$base-line-height: 1.625;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;

// Colors
// primary
$great_blue: #1e1348;
$flag_red: #b00d23;
$stone: #dfd5c5;
$offwhite: #fafafa;
$white: #ffffff;
$grey: #333333;
$midgrey: #999999;
$lightgrey: #d8d8d8;
$greatred: #e41f13;
$midblue: #00549f;
$aqua: #007ea3;
$purple: #4f0b7b;


/* secondary */
$dark_navy: #160d37;

/* other */
$offwhite-opacity-90: rgba(250, 250, 250, 0.9);
$greytundora: #4a4a4a;
$black: #000000;

