@import 'transformation/config';

.Carousel {
  box-sizing: content-box;
  padding-bottom: $spacing-1;

  .controls {
    bottom: 0;
    left: 25%;
    position: absolute;
    text-align: center;
    width: 50%;
  }
  
  .indicator {
    background-color: $light-grey;
    border-width: 0;
    border-radius: 10px;
    height: 10px;
    margin: 0 5px;
    overflow: hidden;
    padding: 0;
    text-indent: -1000px;
    width: 10px;
    
    &.active {
      background-color: $active-blue;
      cursor: default;
    }
  }
  
  .indicators {
    position: relative;
    text-align: center;
    
    &:after {
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  
  .item {
    box-sizing: border-box;
    margin-bottom: 1px;
  }
  
  .next {
    background: none;
    border: none;
    bottom: 50%;
    height: 50px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    text-indent: -1000px;
    width: 50px;
    &:after {
      @include right-chevron-1($active-blue);
      left: 27px;
      position: absolute;
      top: 17px;
    }
  }
  
  .pause {
    @include access_hidden;
  }

  .previous {
    background: none;
    border: none;
    bottom: 50%;
    height: 50px;
    left: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-indent: -1000px;
    width: 50px;
    &:before {
      @include left-chevron-1($active-blue);
      left: 4px;
      position: absolute;
      top: 17px;
    }
  }
}
