@import 'transformation/config';

.TabbedArea {
  position: relative;
}

.TabbedAreaTab {
  cursor: pointer;
  display: inline-block;
  padding: 0 $spacing-4;

  &.selected {
    cursor: default;
    font-weight: bold;
  }
}

.TabbedAreaPanel {
  position: absolute;
  z-index: -1;

  &.selected {
    z-index: auto;
  }
}
