// International Site Header 
// --------------------------

#header {
  background-color: $great-blue;
  min-height: 100px;
}

#personal-bar {
  @include body-s;
  color: $white;
  overflow: hidden;
  text-align: right;
  
  a {
    color: inherit;
    display: inline-block;
    font-weight: bold;
  }
  
  img {
    margin-right: 1em;
  }
  
  p {
    margin: 0;
    padding: 7px 0 4px 0;
    
    &:before {
      display: none;
    }
  }
  
  .account-links {
    color: $light-grey;
    display: inline-block;
    margin: 0 0 0 0.2em;

    li {
      display: inline-block;
      padding: 7px 0 4px 0;
    }
  }
  
  .profile,
  .signout {
    &:before {
      @include separator($white);
      position: static;
    }
  }
  
  .greeting {
    display: inline-block;
    float: right;
    padding: 7px 0 4px 0;
  }
  
  .register {
    &:after {
      @include separator($light-grey);
      margin: 0 0.3em 0 0.5em;
    }
  }

  .site {
    float: left;
    a {
      &:before {
        @include separator($light-grey);
      }
    }
  }
}

#header-logo {
  display: inline-block;
  margin-bottom: $spacing-4;
  position: relative;

  img {
    margin-bottom: -8px;
    max-width: 158px;
    width: 100%;
  }
}

#skip-link {
  display: inline-block;
  padding: $spacing-4;
  
  &:focus {
    background-color: $focus-yellow;
    color: $dark-blue;
    left: 0;
    text-indent: 0;
    top: 0;
    z-index: 1;
  }
}


// TABLET
@media screen and (max-width: 767px) {
  #header {
    .logo {
      float: none;
    }
  }
  
  #personal-bar {
    .partof {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  #personal-bar {
    .profile {
      &:before {
        display: none;
      }
    }
    
    .greeting {
      display: none;
    }
  }
}


// MOBILE
@media screen and (max-width: 420px) {  
  #header {
    .logo {
      margin-bottom: $spacing-4;
      padding-top: $spacing-4;
    }
  }
}
