%fieldset.field.multi-currency-amount
  %legend
    = input[:text]

  - if input[:description].nil? or input[:description].empty?
    %label.verbose{:for=>input[:id]} value
  - else
    %label.verbose{:for=>input[:id], 'aria-describedby': input[:description_id]} value
    %p.description{ id: input[:description_id] }
      = input[:description]

  %select{:name=>input[:name], :id=>input[:id]}
    %option 0 to 10,000
  .radio
    %input{:id=>input[:id_dd], :name=>input[:name_dd], :type=>'radio'}
    %label{:for=>input[:id_dd]} £
  .radio
    %input{:id=>input[:id_mm], :name=>input[:name_mm], :type=>'radio'}
    %label{:for=>input[:id_mm]} $
  .radio
    %input{:id=>input[:id_yy], :name=>input[:name_yy], :type=>'radio'}
    %label{:for=>input[:id_yy]} €
