.field.checkbox
  -# Note: using %input instead of check_box_tag for greater flexibility
  %input{:type=>'checkbox', :id=>input[:id], :name=>input[:name], :value=>input[:value], :checked=>input[:checked]}
    = render partial: "forms/input_label", locals: { label: input[:label] }
