- content_for :hero do
  %h1
    Your email alert has
    %br
    been created
  %p
    When we publish a new opportunity, it will be sent automatically to
    %strong= current_user.email

.panel
  %p
    You can manage your email alerts at any time using the
    "Your opportunities" link at the top of this page.

  %div
    = link_to('Manage your email alerts', dashboard_path(anchor: 'alerts'), class: 'button button--slimline')
    = link_to('Search for more opportunities', opportunities_path, class: 'button button--naked button--slimline')
