- if @opportunities.any?
  .container.center 
    %span.statistic
      %span.statistic_number
        =number_with_delimiter(@count)
      %span.statistic_text Export opportunities are waiting for you

%section.block.bg-blue
  .container
    .row
      .column-8
        %h3.h3.block__heading.white Use our service and you'll be able to:
        %ul.block__list.white
          %li.block__list__item Access live opportunities so you can sell your product or service.
          %li.block__list__item Get alerts whenever an overseas company is looking for a product or service like yours.
          %li.block__list__item Reach new customers around the world with ease.
          %li.block__list__item Get support along each stage of exporting.
      .column-4
        %img.img.img__fluid.block__graphic{src: asset_path('export-opportunities-mockup.png'), alt: "Mockup of Export Opportunities"}/
  