.container
  .row
    .column-6
      %img.img.img__fluid.push--bottom{src: asset_path('ansible.d2b814c.jpg'), alt: "Ansible Motion"}/
      %h3.h3.push--bottom Success story: Ansible Motion
      %p Auto Express magazine have called it the world’s best driving simulator: a special class of driving simulator, called Driver-in-the-Loop, that allows drivers and engineers to test their vehicles in a realistic virtual world. When the UK company behind it, Ansible Motion of Norwich, won a major supply contract with a foreign automobile manufacturer, they also won some additional backing from the UK government.
      %p
        %a.link{:href => "https://www.exportingisgreat.gov.uk/case-study/exporting-the-worlds-best-driving-simulator/"} Read success story
    .column-6
      .sidepanel
        %h3.h3.push--bottom Success story: Ansible Motion
        %ul.list.push--bottom
          %li.list-item Sourced by trade specialists based in British embassies around the world, many of these opportunities are exclusive or appear here before they're listed anywhere else.
          %li.list-item Register your interest in opportunities you can fulfil. We'll assess if you meet buyer criteria and let you know within 10 days. If we can put you forward we'll contact you with next steps. 
          %li.list-item While you won't always win business on the opportunity you've selected, keep checking back as new opportunities are added daily. See our guidance for exporters for ways to improve overseas sales
        %p
          %a.button.button-blue.button-large{:href => "https://www.exportingisgreat.gov.uk/case-study/exporting-the-worlds-best-driving-simulator/"} Find out more