.container
  .row
    .column-6
      %img.img.img__fluid.push--bottom{src: asset_path('ansible.d2b814c.jpg'), alt: "Ansible Motion"}/
      %h3.h3.push--bottom Success story: Ansible Motion
      %p Make sure you're export ready by reading the exporting guidance, developing an export strategy, and speaking to your local International Trade Advisor.
      %p 
    .column-6
      .sidepanel
        %h3.h3.push--bottom Tips for successful application
        %ul.list.push--bottom
          %li.list-item Be prepared - Show you're professional by including your company website and using your company email.
          %li.list-item Register your interest in opportunities you can fulfil. We'll assess if you meet buyer criteria and let you know within 10 days. If we can put you forward we'll contact you with next steps. 
          %li.list-item While you won't always win business on the opportunity you've selected, keep checking back as new opportunities are added daily. See our guidance for exporters for ways to improve overseas sales
        %p
          %a.button.button-blue.button-large{:href => "https://www.exportingisgreat.gov.uk/case-study/exporting-the-worlds-best-driving-simulator/"} Find out more