.container
  .row
    .column-6
      %img{src: asset_path('ansible.d2b814c.jpg'), alt: "Ansible Motion", class: "img-fluid"}/
      %h3.h3 Success story: Ansible Motion
      %p Auto Express magazine have called it the world’s best driving simulator: a special class of driving simulator, called Driver-in-the-Loop, that allows drivers and engineers to test their vehicles in a realistic virtual world. When the UK company behind it, Ansible Motion of Norwich, won a major supply contract with a foreign automobile manufacturer, they also won some additional backing from the UK government.
      %p
        %a.link{:href => "https://www.exportingisgreat.gov.uk/case-study/exporting-the-worlds-best-driving-simulator/"} Read success story
    .column-6
      .sidepanel
        %h3.h3 Success story: Ansible Motion
        %ul.list.push--bottom
          %li.list-item which are the major online markets in overseas countries
          %li.list-item if there is a suitable e-commerce website to sell your products
          %li.list-item about costs and logistics
          %li.list-item how to proceed and join a marketplace
          %li.list-item special terms negotiated by DIT (Department for International Trade)
        %p
          %a.button.button-blue.button-large{:href => "https://www.exportingisgreat.gov.uk/case-study/exporting-the-worlds-best-driving-simulator/"} Read success story