%section.block.soft--bottom.soft-half--top.bg-offwhite
  .container
    .row
      .column-6
        %h1.h2.font-med.flush--top.push-half--bottom Find export opportunities
        %p.font-small.flush--bottom.font-brand Find and apply for overseas opportunities from businesses 
        %p.font-small.font-brand looking for products or services like yours.
      .column-6
        %a.button.button-red.button-large.push--top{"data-scrollto" => "search-product", "href" => "#hero"} Start your search now