.container
  .steps
    %h3.steps__mainheading How it works
    .row
      .column-4
        %div.steps__icon.steps__icon-with-arrow.graphic__locate 
        %span.steps__number 1
        %h4.steps__heading We locate opportunities
        %p.steps__text Our embassy-based trade experts find opportunities for export and post them here.
      .column-4
        %div.steps__icon.steps__icon-with-arrow.graphic__register
        %span.steps__number 2
        %h4.steps__heading You register your interest
        %p.steps__text Search for opportunities that match your UK business and tell us how you can win.
      .column-4
        %div.steps__icon.graphic__connect
        %span.steps__number 3
        %h4.steps__heading We connect you
        %p.steps__text  If you meet criteria set by the buyer, we'll pass your details on
