.dit2017
  .outer-wrapper
    .steps
      %h3.h2.steps__heading How it works
      .row
        .column-4
          %span.step__number 1
          %h3.h3.step__heading We locate opportunities
          %p.font-large.step__description Our embassy-based trade experts find opportunities for export and post them here.
        .column-4
          %span.step__number 2
          %h3.h3.step__heading You register your interest
          %p.font-large.step__description Search for opportunities that match your UK business and tell us how you can win.
        .column-4
          %span.step__number 3
          %h3.h3.step__heading We connect you
          %p.font-large.step__description If you meet criteria set by the buyer, we'll pass your details on
