.container
  .steps
    %h3.steps__mainheading How it works
    .row
      .column-4
        %div.steps__icon.steps__icon-with-arrow.graphic__locate 
        %span.steps__number 1
        %h4.steps__heading We locate opportunities
        %p.steps__text Our embassy-based trade experts find export leads. Many are exclusive and appear here first.
      .column-4
        %div.steps__icon.steps__icon-with-arrow.graphic__register
        %span.steps__number 2
        %h4.steps__heading You register your interest
        %p.steps__text Search and apply for opportunities you can fulfil. Tell us why you meet the buyer's needs.
      .column-4
        %div.steps__icon.graphic__connect
        %span.steps__number 3
        %h4.steps__heading We connect you
        %p.steps__text  We check you meet the criteria. If so, we pass your details to the buyer. If not, new opportunities are added every day.
  %hr.thick
