.container
	%h2
	  Sorry, we don't have any matches for your search.
	%p
	  Please try:
	%ul
	  %li searching again using different words
	  %li applying a new filter
	%p
	  Or you can
	  %a{href: 'http://www.greatbusiness.gov.uk/UKTI/', target: '_blank', class: 'external-link'} contact your local support network
	  for more information

