%div.promo
  .promo__body
    %p.promo__summary
      %span.count 76
      opportunities matching
      %span.keywords
        "usa"
    %p.promo__description Get an exclusive 90-day free trial on Santander's trade portal
    %a.button.promo__button{:href => 'https://en.santandertrade.com/'} Get access now
  .promo__branding
