%div.promo
  .promo__body
    %p.promo__summary
      %span.count
      =@santander_count
      opportunities matching
      %span.keywords
      =@search_term
    %p.promo__description Get an exclusive 90-day free trial on Santander's trade portal
    %a.button.promo__button{:href => @santander_url} Get access now
  .promo__branding
