%script{:type=>"text/javascript"}
  window.dataLayer.push({'eventName': $("#id").attr("class") } );

%form.search-form{:action=>opportunities_path, :method=>"get", :data=>{"error-empty": "Please type in a product or service and/or select a region or country"}}
  %label.term
    %span.verbose Product or service keyword
    %input{:name=>"s", :placeholder=>"What product or service are you selling?", :autocomplete=>"off", :type=>"search"}

  %label.filter
    %span.verbose Filter by country (optional)
    %select{:name=>'areas[]', autocomplete:'off'}
      %option{:value=>""}
        All regions and countries
      - regions.each do |region|
        %option{:value=>region[:slug]}
          = region[:name]
      - countries.each do |country|
        %option{:value=>country[:slug]}
          = country[:name]

  %input.button.submit{:id => 'landing_cta', :name=>"commit", :class=>"cta_search cta_search_#{search_position}", :value=>"Find opportunities", :type=>"submit"}
