.summary-list
  %ul.navigation
    - list.each do |item|
<<<<<<< HEAD
      - if item.dig(:images, :small).present?
=======
      - if item[:images].present?
>>>>>>> develop
        %li
          %picture
            %source{:srcset=>"#{image_url(item[:images][:small])}", :media=>"(max-width: 768px)"}
            %img{:src=>"#{image_url(item[:images][:large])}", :alt=>item[:alt]}
          = link_to  item[:title], item[:url]
