.summary-list
  %ul.navigation
    - list.each do |item|
      - if item.dig(:images, :small).present?
        %li
          %picture
            %source{:srcset=>"#{image_url(item.dig(:images, :small))}", :media=>"(max-width: 768px)"}
            %img{:src=>"#{image_url(item.dig(:images, :large))}", :alt=>item[:alt]}
          = link_to  item[:title], item[:url]
