// From https://github.com/alphagov/govuk_frontend_toolkit/
@import "govuk_frontend_toolkit/conditionals";
@import "govuk_frontend_toolkit/shims";
@import "govuk_frontend_toolkit/css3";
@import "govuk_frontend_toolkit/colours";
@import "govuk_frontend_toolkit/typography";
@import "govuk_frontend_toolkit/grid_layout";
@import "govuk_frontend_toolkit/design-patterns/buttons";
@import "govuk_frontend_toolkit/font_stack";
@import "govuk_frontend_toolkit/measurements";
@import "govuk_frontend_toolkit/device-pixels";
@import "govuk_frontend_toolkit/typography";
@import "govuk_frontend_toolkit/design-patterns/alpha-beta";
@import "govuk_frontend_toolkit/design-patterns/breadcrumbs";

// From https://github.com/alphagov/govuk_elements/
@import "govuk_elements/reset";
@import "govuk_elements/forms";
@import "govuk_elements/tables";
@import "govuk_elements/helpers";
@import "govuk_elements/govuk-template-base";
@import "govuk_elements/layout";
@import "govuk_elements/elements-typography";
@import "govuk_elements/buttons";
@import "govuk_elements/icons";
@import "govuk_elements/tables";
@import "govuk_elements/forms";
@import "govuk_elements/forms/form-validation";

// From https://github.com/alphagov/govuk_template/
@import "govuk_template/header";

// Opportunities specific styles
@import "admin/header";
@import "admin/filters";
@import "admin/helpers";
@import "admin/tables";
@import "admin/typography";
@import "admin/errors";
@import "admin/enquiry_form";
@import "admin/pagination";
@import "admin/history";
@import "admin/grid";
@import "admin/character_counter";
@import "admin/admin";
@import "admin/admin_search";
// From https://github.com/freqdec/datePicker
@import "vendor/datepicker";
@import "admin/datepicker_augment";
