// From https://github.com/alphagov/govuk_frontend_toolkit/
@import "govuk_frontend_toolkit/conditionals";
@import "govuk_frontend_toolkit/shims";
@import "govuk_frontend_toolkit/css3";
@import "govuk_frontend_toolkit/colours";
@import "govuk_frontend_toolkit/typography";
@import "govuk_frontend_toolkit/grid_layout";
@import "govuk_frontend_toolkit/design-patterns/buttons";
@import "govuk_frontend_toolkit/font_stack";
@import "govuk_frontend_toolkit/measurements";
@import "govuk_frontend_toolkit/device-pixels";
@import "govuk_frontend_toolkit/typography";
@import "govuk_frontend_toolkit/design-patterns/alpha-beta";
@import "govuk_frontend_toolkit/design-patterns/breadcrumbs";

// From https://github.com/alphagov/govuk_elements/
@import "govuk_elements/reset";
@import "govuk_elements/forms";
@import "govuk_elements/lists";
@import "govuk_elements/tables";
@import "govuk_elements/helpers";
@import "govuk_elements/govuk-template-base";
@import "govuk_elements/layout";
@import "govuk_elements/elements-typography";
@import "govuk_elements/buttons";
@import "govuk_elements/icons";
@import "govuk_elements/tables";
@import "govuk_elements/panels";
@import "govuk_elements/forms";
@import "govuk_elements/lists";
@import "govuk_elements/forms/form-validation";
@import "govuk_elements-latest/assets/sass/elements/forms/form-validation";
@import "govuk_elements/elements/forms/form-multiple-choice";

// From https://github.com/alphagov/govuk_template/
@import "govuk_template/header";

// Opportunities specific styles
@import "admin/mixins";
@import "admin/variables";
@import "admin/colours";
@import "admin/header";
@import "admin/buttons";
@import "admin/button_bar";
@import "admin/admin_filter";
@import "admin/filters";
@import "admin/filterBar";
@import "admin/searchPanel";
@import "admin/helpers";
@import "admin/tables";
@import "admin/ragg_marker";
@import "admin/typography";
@import "admin/errors";
@import "admin/enquiry_form";
@import "admin/pagination";
@import "admin/history";
@import "admin/grid";
@import "admin/character_counter";
@import "admin/admin";
@import "admin/admin_search";
@import "admin/ragg_status";
@import "admin/optionSelect";
@import "admin/comment";
@import "admin/button-group";
@import "admin/components/uploadWidget";
@import "admin/components/loadingIndicator";
@import "admin/components/htmlEditorPreview";
@import "admin/badge";
@import "admin/confirmationMessage";

// From https://github.com/freqdec/datePicker
@import "vendor/datepicker";
@import "admin/datepicker_augment";

/* these are typically patterns and SASS cribbed from other .gov.uk sites */
@import "admin/design-patterns/metadata";
@import "admin/design-patterns/message";
@import "admin/design-patterns/tabs";
