%h1 Response 28 days overdue

%br

%p Dear colleague,

%p An enquiry for #{ @opportunity_country_title } from #{ @enquiry_company_name } has still not been replied to.

%p You should now contact the Regional Head of Trade responsible for this post or partner to let them know about this issue. First check if this is an exceptional case or if the post or partner is consistently not responding to customers.

%p.action
  = link_to "Go to enquiry", admin_enquiry_url(@enquiry.id), { :class=>"link" }


%br

%p The export opportunities team

=render partial:'enquiry_response_mailer/submit_buttons' unless @mailer_view