%form.opportunity-search-filters
  %h3 Filter results
  %fieldset.industries
    %legend
      Industries

      %input{type: 'checkbox'}
      %label industry 1

      %input{type: 'checkbox'}
      %label industry 2

      %input{type: 'checkbox'}
      %label industry 3

  %fieldset.countries
    %legend
      Regions and countries

      %input{type: 'checkbox'}
      %label country 1

      %input{type: 'checkbox'}
      %label country 2

      %input{type: 'checkbox'}
      %label country 3

  %fieldset.type
    %legend
      Type of opportunity

      %input{type: 'checkbox'}
      %label type 1

      %input{type: 'checkbox'}
      %label type 2

      %input{type: 'checkbox'}
      %label type 3

  %fieldset.value
    %legend
      Value of contract

      %input{type: 'checkbox'}
      %label value 1

      %input{type: 'checkbox'}
      %label value 2

      %input{type: 'checkbox'}
      %label value 3

