.search-results-filters
  %form
    %h3 Filter results

    - if filters.selected_list.length > 0
      .selected-filters
        %h4 Selected filters
        %ul
          - filters.selected_list.each do |filter|
            %li= filter
        = link_to filters.unfiltered_search_url, "Clear all filters"

    = render partial: "forms/input_checkbox_group", locals: { group: filters.input_checkbox_group('industries') }
    = render partial: "forms/input_checkbox_group", locals: { group: filters.input_checkbox_group('countries') }

    %input.submit.button{:type=>"submit", :value=>"Update results"}
