- content_for :page_specific_head do
  = javascript_include_tag 'poc/layouts/form.js'


.process
  .container
    - @page.add_breadcrumb_current 'Create opportunity'
    = render partial: 'components/breadcrumbs'

    %h1.verbose Create opportunity
    = render 'poc/opportunities/new/' + @form.view
