%section.hero-section.search-section
  .container
    %h1 Find business opportunities
    %p Search for opportunitities and pitch your company to overseas buyers who are looking for products and services like yours.
    = render "opportunity_search_form"

%section#search-results
  .container
    %h2 Search results
    = render "opportunity_search_results" 

= render "opportunity_subscribe_form"
