.column-4
  .tile
    - if  enquiry_response.enquiry.existing_exporter = 'Not yet'
      %a{:href=>'https://www.export.great.gov.uk/new/'} Guidance
    - else 
      %a{:href=>'https://www.export.great.gov.uk/occasional/'} Exporting guides
    %p Learn exporting topics in greater detail. Our knowledge comes from subject matter experts, so you’ll be learning accurate information from the best.