%li
  %p.medium.margin-bottom-5 
    - if  enquiry_response.enquiry.existing_exporter = 'Not yet'
      %a{:href=>'https://www.export.great.gov.uk/new/'} Guidance
    - else 
      %a{:href=>'https://www.export.great.gov.uk/occasional/'} Exporting guides