.SelectiveLookupDisplay {
  background-color: $white;
  border: $grey-4 solid 1px;
  margin: 0;
  max-height: 221px;
  overflow-y: scroll;
  padding: 0;
  z-index: 2;
  
  li {
    border-top: $grey-4 solid 1px;
    padding: 10px 20px;
    position: relative;
    top: -1px;
    &:before {
      display: none;
    }
    &:focus {
      border-color: $focus-yellow;
      border-style: solid;
      border-width: 4px 3px 3px 3px;
      box-shadow: none;
      outline: 0;
      padding: 7px 17px;
      -webkit-box-shadow: none;
    }
    &:hover {
      background-color: $offwhite;
    }
  }
}
