%h1 How to respond to UK companies that are ‘Not right for opportunity’

%h2 Overview
%p This guidance is for staff and partners overseas. Use the guidance to help you reply to a UK company that is not right for the opportunity it has submitted a proposal for.



%h2 ‘Not right for opportunity’ explained
%p A company is deemed to be ‘Not right for opportunity’ if:
%ul
  %li the product or service does not meet the criteria
  %li it is not ready to export in this market or not ready to export at all
  %li the buyer said the company was not right or the company was not selected 
  %li it did not provide additional information in time



%h2 What you need to do
%p Let the company know why it was not put forward. Explain what it could do to improve the next time it submits a proposal.
%p The 4 ‘Not right for opportunity’ explanations have a list of suggested sentences to help you write your response. If applicable, UK companies will be informed of UK export finance and the relevant country guide and DIT regional office within our internal system so do not include this information.



%h2 The product or service does not meet the criteria
%p Explain why not. If you think the company should reapply before the opportunity expires, tell the company to explain how it does match what the buyer wants.
%p Use sentences such as:
%ul.examples
  %li.good
    The buyer is looking for
    %span {product}
    but it seems that you only supply
    %span {product}
  %li.good If you think you can supply what the buyer wants, submit a new proposal and clearly explain how and why you meet the criteria
  %li.good
    This opportunity expired on
    %span {date}.
    Clearly explain how and why you meet the criteria of an opportunity the next time you submit a proposal. Include details such as
    %span {examples}
  %li.good
    New opportunities are added every day. Submit a proposal for other opportunities such as
    %span {add link to 1 or 2 relevant opportunities}



%h2 The company is not ready to export in this market or not ready to export at all
%p 
  Explain why you think it is not ready to export and direct them to 
  %a New To Exporting.
%p Use sentences such as:
%ul.examples
  %li.good From the information you have provided, it seems you are not ready to export in this market. When you submit a proposal you need to show you are ready to export.



%h2 The buyer said the company was not right or the company was not selected 
%p Explain why the buyer said no. Suggest the evidence it could use the next time it submits a proposal. 
%p Use sentences such as:
%ul.exmaples
  %li.good
    The buyer has not selected your company. This is because
    %span {compare what the buyer wanted with what the company said they could supply}
  %li.good
    New opportunities are added every day. Submit a proposal for other opportunities such as
    %span {add link to 1 or 2 relevant opportunities}



%h2 The company did not provide additional information in time
%p Explain what information was missing and suggest what it could do to improve the next time it submits a proposal.%p Use sentences such as:
%ul.examples
  %li.good I contacted you on {date} but you did not respond.
  %li.good 
    I needed the following information
    %span {include what you asked for}
    by
    %span {date}
    but you did not provide this in time.
  %li
    New opportunities are added every day. Submit a proposal for other opportunities such as
    %span {add link to 1 or 2 relevant opportunities}
