/
  =@enquiry_response.inspect

%div.panel.panel-border-narrow
  .grid-row
    .column-one-half
      %p Dear #{@enquiry_response.enquiry.first_name},
      %p
        Thank you for your interest in the export opportunity:
        %b=@enquiry_response.enquiry.opportunity.title

      %h4 Outcome
      %p Your application can not be taken any further. 

      %h4 Reason
      %p You have not provided enough information.

      = render 'enquiry_response_mailer/editable_content', enquiry_response: @enquiry_response

      %p I need more information from you to see if you meet the criteria for this opportunity.
      %p You need to provide the following information before this opportunity expires on #{@enquiry_response.enquiry.opportunity.response_due_on.strftime('%d %B %Y')}.

      %p.white-space-pre><=@enquiry_response.signature

      =render partial:'enquiry_response_mailer/submit_buttons' unless @mailer_view
