%p Dear #{@enquiry_response.enquiry.first_name},
%p
  Thank you for your interest in the export opportunity: 
  %b=@enquiry_response.enquiry.opportunity.title

%h3 Outcome
%p You are not eligible. 

%h3 Reason
%p Your company is not UK registered.

%h3 What next

- if @enquiry_response.enquiry.opportunity.expired?

  %p This opportunity expired on #{@enquiry_response.enquiry.opportunity.response_due_on.strftime('%d %B %Y')}.

%p If your company is registered in the UK, please make sure you include all the relevant company details - company name, UK address and phone number - next time you submit a proposal. 

%h3 Review your proposal and additional recommendations
%p= link_to @enquiry_response.enquiry.opportunity.title.strip, dashboard_enquiry_url(@enquiry_response.enquiry.id)
%br

%p The export opportunities team

