
.button-group
  .button-group-item
    = link_to 'Edit', new_admin_enquiry_response_path(id: @enquiry_response.enquiry.id) + '#reply', class: 'button button-neutral'
  .button-group-separator
    or
  .button-group-item
    = link_to 'Send', { controller: 'admin/enquiry_responses', action:'email_send', enquiry_response_id: @enquiry_response.id }, class: 'button'
