%p Dear #{@enquiry_response.enquiry.first_name},
%p
  Thank you for your interest in the export opportunity: 
  %b=@enquiry_response.enquiry.opportunity.title

%h4 Outcome
%p You are not eligible to apply. 

%h4 Reason
%p Your company is not UK registered.

%h4 What next

- if @enquiry_response.enquiry.opportunity.expired?
  %p This opportunity expired on #{@enquiry_response.enquiry.opportunity.response_due_on.strftime('%d %B %Y')}

%p If your company is registered in the UK, please make sure you include all the relevant company details - Company number, UK address and telephone number - the next time you apply for an opportunity.

%p The export opportunities team

- if params && params[:commit]
  =render partial:'enquiry_response_mailer/submit_buttons'
