/
  =@enquiry_response.inspect

%div.panel.panel-border-narrow
  .grid-row
    .column-one-half
      %p Dear #{@enquiry_response.enquiry.first_name},
      %p
        Thank you for your interest in the export opportunity:
        %b=@enquiry_response.enquiry.opportunity.title

      %h4 Outcome
      %p Your application will now move to the next stage. 

      %h4 Reason
      %p Your application meets the criteria for this opportunity.


      = render 'enquiry_response_mailer/editable_content', enquiry_response: @enquiry_response


      %p Although you meet the criteria for this opportunity, we cannot guarantee that you will win the business. If you have any questions about this opportunity or our market in general, please do not hesitate to contact me. My details are below.

      %p New opportunities are added every day. You can increase your chances of success by:
      %ul.list.list-bullet
        %li signing up to or changing your email alerts so you get the right opportunities sent to you as soon as they’re added
        %li creating a trade profile so companies looking to buy from your industry have an easy way to find you

      %p You can also increase your exporting potential by:
      %ul.list.list-bullet
        %li researching overseas markets with our exporting country guides
        %li getting export finance, insurance advice and support from UK Export Finance
        %li reading our guidance on exporting - for all levels of exporters
        %li contacting your local International Trade Adviser for tailored support

=render partial:'enquiry_response_mailer/submit_buttons' unless @mailer_view
