- prior_status, new_status = opportunity_version.changeset[:status]
%em= t('admin.opportunity.history.status_changed_html', old: prior_status, new: new_status)
%small= t('admin.opportunity.history.attribution', who: opportunity_version.blame.name, when: opportunity_version.created_at.to_s(:admin_history))
