- prior_status, new_status = opportunity_version.changeset[:status]
%p.version
  %span.text
    = t('admin.opportunity.history.status_changed_html', old: prior_status, new: new_status)
  %span.metadata
    %span.name= opportunity_version.blame.name
    %span.created
      on
      =opportunity_version.created_at.to_s(:admin_history)
