
%p I need more information from you to see if you meet the criteria for this opportunity.
%p You need to provide the following information before this opportunity expires on #{@enquiry_response.enquiry.opportunity.response_due_on.strftime('%d %B %Y')}.
