%p Dear #{@enquiry_response.enquiry.first_name},
%p
  Thank you for your interest in the export opportunity: 
  %b=@enquiry_response.enquiry.opportunity.title

%h4 Outcome
%p You are not eligible for this opportunity.

%h4 Reason
%p You are a third party - for example an agent, broker or other intermediary -  representing another company. The buyer will only talk directly with UK companies.

%h4 What next

- if @enquiry_response.enquiry.opportunity.expired?
  %p This opportunity expired on #{@enquiry_response.enquiry.opportunity.response_due_on.strftime('%d %B %Y')}

%p If you are a UK company please make sure you explain how your company meets the criteria the next time you apply for an opportunity.

%p If you are representing a UK company, please tell your client they must apply for an opportunity directly.

%p The export opportunities team

