%form{:method=>'post'}
  %fieldset 
    %legend.progress Step 1 of 4
    %p.requirement What are you looking for?
    = @form.hidden_fields

    %fieldset.field
      %legend I need:
      = render partial: "components/input_radio", locals: { radios: @form.input_radio('what') }

  %input{:type=>'submit', :value=>'Save and continue', :class=>'button'}
