%form{:method=>'post'}
  %fieldset
    %legend.progress Step 2 of 4
    %p.requirement What are you looking for?
    = @form.hidden_fields

    %fieldset.field
      %legend I am looking (product):
      - @form.fields['why'].each do |field|
        = @form.input_radio(field)

  %input{:type=>'submit', :value=>'Save and continue', :class=>'button'}
