%h1 You have been unsubscribed from all alerts
%br

%p
  = link_to "Search for other opportunities", root_url, { style: "font-weight:bold;" }

%br

- content_for :email_sub_footer do
  %table{ border: "0", cellpadding: "30", cellspacing: "0", width: "600" }
    %tr
      %td
        %center
          %p You are receiving this email because you unsubscribed to Export Opportunities email alerts.
          %p
            = link_to "View privacy statement", Figaro.env.PRIVACY_AND_COOKIES_URL.to_s
            %br
            = link_to "Give feedback", Figaro.env.CONTACT_US_FORM.to_s
