.breadcrumbs {
  @include body-m;
  padding: 10px 0;
  font-size: 18px;
  margin: 0;

  a {
    color: #212427;
    text-decoration: underline;
    font-size: 20px;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
  }

   .current{
    font-size: 20px;
  }

  .separator {
    @include right-chevron-2(#212427);
    box-sizing: initial;
    overflow: hidden;
    text-indent: -1000px;
    width: 8px;
    height: 8px;
    border-width: 3px 3px 0 0 ;
    margin: 0 10px;
    margin-bottom: 2px;
    
  }

  span:last-child:after {
    border: none;
  }
}


// RESPONSIVE
@media screen and (max-width: 480px) {
  .breadcrumbs {
    padding: $spacing-4 0;
    
    a,
    span {
      @include body-s-mob;
    }
  }
}
