.cookie-notice {
  display: none;
  padding: 30px 0;

  p{
    font-size: 19px;
    font-weight: 800;
  }
  
  a:focus,
  button:focus {
    @include focus;
  }

  .cookie-initial {
    display: block;
  }

  .cookie-confirmation,
  .cookie-close {
    display: none;
  }

  &.confirmation-message {
    .cookie-initial {
      display: none;
    }

    .cookie-confirmation,
    .cookie-close {
      display: block;
    }
  }
}