.CpvCodeLookup {
  margin-bottom: 0;
}

.CpvCodeLookupClear {
  @include link;
  font-size: $font-size-s;
}

.CpvCodeLookupDisplay {
  span {
    color: $grey-2;
    display: block;
    font-size: $font-size-s;
    font-weight: bold;
  }
}
