@import 'selective_lookup';

.FilterSelectInput {
  background-image: image_url('icons/arrow_down.png');
  background-position:  98% 50%;
  background-repeat: no-repeat;
  background-size: 30px;
  padding-right: 40px;

  &[aria-expanded='true'] {
    background-image: none;
  }
}
