.flash {
  font-weight: 600;
  margin: 2em auto 1em;
  padding: 1em;
  text-align: center;
}

.flash-info, .flash-notice {
  background-color: #dff0d8;
  border: solid 1px #d6e9c6;
  color: #3c763d;
}

.flash-alert, .flash-error {
  background-color: #f2dede;
  border: solid 1px #ebccd1;
  color: #a94442;
}
