.opportunities-list {
  clear: both;

  li {
    border: $stone-50 solid 2px;
    margin-bottom: $spacing-4;
    overflow: hidden;
    padding: $spacing-3 0 0 0;
  }

  .expires {
    @include body-s;
    box-sizing: border-box;
    float: left;
    padding: $spacing-4 $spacing-3;
  }

  .published {
    @include body-s;
    box-sizing: border-box;
    float: right;
    padding: $spacing-4 $spacing-3;
    text-align: right;
  }

  .text {
    border-bottom: $stone-50 solid 1px;
    clear: both;
    display: block;
    padding: 0 $spacing-3 $spacing-3 $spacing-3;
  }

  .title {
    @include body-l;
    display: block;
    float: left;
    font-weight: bold;
    margin-bottom: $spacing-4;
    padding: 0 $spacing-3;
  }
}

.opportunity-external {
  .source {
    float: right;
  }

  .title {
    width: calc(100% - 150px);
  }
}

.open-opps {
  color: $mid-grey;
  font-size: 12px;
  position: absolute;
  right: $spacing-3;
  top: 25px;

  a {
    display: block;
  }

  img {
    display: block;
    width: 110px;
  }
}


// RESPONSIVE
@media screen and (max-width: 768px) {
  .opportunities-list {
    li {
      margin-bottom: $spacing-3-m;
      padding-top: $spacing-3-m;
    }

    .expires {
      display: block;
      float: none;
      padding: $spacing-3-m $spacing-3-m 0 $spacing-3-m;
    }

    .published {
      display: block;
      float: none;
      padding: 0 $spacing-3-m $spacing-3-m $spacing-3-m;
      text-align: left;
    }

    .text  {
      padding: 0 $spacing-3-m $spacing-3-m $spacing-3-m;
    }

    .title {
      padding: 0 $spacing-3-m;
    }
  }

  .opportunity-external {
    .title {
      width: auto;
    }

    .source {
      float: left;
      margin: 0 0 $spacing-3-m $spacing-3-m;
      position: static;
    }
  }
}
