.opportunities-list {
  clear: both;

  li {
    border: $stone-50 solid 2px;
    margin-bottom: $spacing-3;
    padding: $spacing-3 0 0 0;
  }

  .expires {
    @include body-s;
    border-top: 1px solid $light-grey;
    clear: both;
    display: block;
    margin-top: $spacing-4;
    padding: $spacing-4 $spacing-3;
  }

  .text {
    clear: both;
    display: block;
    padding: 0 $spacing-3 $spacing-4 $spacing-3;
  }

  .title {
    @include body-l;
    font-weight: bold;
    padding: 0 $spacing-3 $spacing-4 $spacing-3;
  }
}

.volume_opps {
  .source {
    float: right;
  }

  .title {
    float: left;
    width: calc(100% - 150px);
  }
}

.open-opps {
  color: $mid-grey;
  font-size: 12px;
  position: absolute;
  right: $spacing-3;
  top: $spacing-3;

  a {
    display: block;
  }

  img {
    display: block;
    width: 110px;
  }
}


// RESPONSIVE
@media screen and (max-width: 620px) {
  .opportunities-list {
    li {
      padding-top: $spacing-3-m;
    }

    .expires {
      padding: $spacing-4 $spacing-3-m;
    }

    .text,
    .title {
      display: block;
      padding: 0 $spacing-3-m $spacing-4 $spacing-3-m;
    }
  }

  .volume_opps {
    .title {
      float: none;
      width: auto;
    }

    .source {
      float: left;
      margin: 0 0 $spacing-3-m $spacing-3-m;
      position: static;
    }
  }
}
