.quote {
  padding: $spacing-1 0 0 0;
  margin: 0 0 $spacing-3 0;
  position: relative;

  cite {
    @include body-s;
    display: block;
    font-style: normal;
  }

  .name {
    display: block;
    font-weight: bold;
  }

  .role {
    margin-right: 0.5em;
  }

  .text {
    @include quote;
    display: block;
    margin: 0 0 $spacing-3 0;
    padding: 0;
  }


  &:before {
    @include great-red-trim;
    top: 0;
    width: $cols-6;
  }
}


// MOBILE
@media screen and (max-width: 420px) {
  .quote {
    cite {
      @include body-s-mob;
    }

    .text {
      @include quote-mob;
    }
  }
}
