.search-results-filters {
  @include body-s;
  margin-bottom: $spacing-3;

  label {
    font: inherit;
  }

  legend {
    display: block;
    font: inherit;
    margin-bottom: 0;
    padding: $spacing-4 0;
    width: 100%;

    &:after {
      content: "";
      display: block;
    }
  }

  .checkbox-group {
    border-bottom: $stone-30 solid 1px;
    max-height: 175px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0 $spacing-4 0;
  }

  .field {
    @include body-s;
    margin-bottom: $spacing-4;
  }

  .reset {
    display: block;
    font: inherit;
    margin: 0 auto;
  }

  .section-heading {
    @include body-m;
  }

  .separator {
    @include access-hidden;
  }

  .submit {
    margin: $spacing-3 0 $spacing-4 0;
    width: 100%;
  }
}

.selected-filters {
  margin-bottom: $spacing-3;
  padding: $spacing-4;
  position: relative;

  .param {
    @include body-s;
    background-color: #DDE5ED;
    clear: both;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 2px 15px;
    &::before{
      display: none
    }
  }

  .reset {
    @include link;
    @include body-s;
  }

  &:after {
    @include great-red-trim;
    bottom: 0;
    top: initial;
  }
}

