.steps-indicator {
  text-align: right;

  img {
    margin-left: $spacing-3;
    width: $cols-4;
  }

  li {
    @include body-s;
    counter-increment: li;
    list-style: none;
    margin: 0 0 $spacing-2 0;
    padding: 0 0 0 #{70px + $spacing-3};
    position: relative;
    overflow: hidden;

    &:before {
      @include body-special-bold;
      color: $dark-purple;
      content: counter(li) " ";
      left: 0;
      min-width: 70px;
      position: absolute;
      text-align: center;
      top: 0;
    }
  }

  ol {
    @include columns(5);
    margin: 0;
    padding: $spacing-1 0 0 0;
    text-align: left;
  }

  .action {
    @include body-l;
    display: block;
    margin-bottom: $spacing-4;
  }

  .description {
    display: block;
  }

  .separator {
    @include access-hidden;
  }
}


// RESPONSIVE
@media (max-width: 767px) {
  .steps-indicator {
    text-align: center;

    img {
      margin-left: 0;
      width: $cols-8;
    }

    li {
      margin: 0 0 $spacing-3 0;
      padding: 0 0 0 #{50px + $spacing-4};

      &:before {
        @include body-special-bold-m;
        min-width: 50px;
      }
    }

    ol {
      float: none;
      padding-top: 0;
      width: auto;
    }
  }
}
