.summary-list {
 a {
    @include body-m;
    display: block;
    font-weight: bold;
    margin: 10px $spacing-4 #{$spacing-4 + 4px} $spacing-4; /* 4px compensates for red trim */
    text-decoration: none;
  }

  img {
    width: 100%;
  }

	li {
    @include items(6, $spacing-3);
    @include body-m-mob;
    background-color: $white;
    position: relative;

    &:after {
      @include great-red-trim;
    }
  }

  .bracket {
    @include access_hidden;
  }

  .number {
    @include heading-m;
    display: block;
    margin: 0;
  }

  .text {
    @include body-s-mob;
  }
}


// RESPONSIVE
@media screen and (max-width: 1000px) {
  .summary-list {
    a {
      @include columns(7);
      margin: 0;
      padding: $spacing-3-m;
    }

    img {
      @include columns(4);
    }

    li {
      @include items(2, $spacing-3-m);
      margin-bottom: $spacing-3-m;
    }
  }
}


@media screen and (max-width: 640px) {
  .summary-list {
    a {
      @include heading-s-mob;
    }

    li {
      float: none;
      margin-left: 0;
      overflow: hidden;
      width: auto;
    }
  }
}

