/* -------------------------------------------------------------------------- *\
 * Necessary styling for the dialog to work
 * -------------------------------------------------------------------------- */

.dialogue[aria-hidden="true"] {
  display: none;
}

/* -------------------------------------------------------------------------- *\
 * Styling of dialogue
 * -------------------------------------------------------------------------- */

.dialogue-overlay {
  z-index: 2;
  background-color: white;
  position: fixed;
  top: 140px;
  left: 0;
  bottom: 0;
  right: 0;
}

.dialogue-content {
  z-index: 3;
  position: absolute;
  top: 140px;
  left: 0;
  padding: 0em 1em;
}

@media screen and (min-width: 700px) {
  .dialogue-content {
    padding: 0em 2em;
  }
}

/* -------------------------------------------------------------------------- *\
 * Styling of dialogue body
 * -------------------------------------------------------------------------- */

.dialogue {
  &__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.21;
    letter-spacing: 0.2px;
    text-align: left;
    color: #333333;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  &__metadata {
    font-size: 16px;
    line-height: 1.44;
    text-align: left;
    color: #333333;
  }
  &__content {
    margin-top: 45px;
  }
  &__p {
    font-size: 16px;
    line-height: 1.44;
    color: #333333;
  }
  &__list {
  font-size: 16px;
  line-height: 1.44;
  color: #333333;
  margin-top: 15px;
  }
  &__form {
    margin-top: 45px;
  }
  &__label {
  font-size: 16px;
  line-height: 1.44;
  color: #333333;
  }
}

/* -------------------------------------------------------------------------- *\
 * Extra styling for modals
 * -------------------------------------------------------------------------- */

.modal-overlay {
  z-index: 2;
  background-color: rgba(43, 46, 56, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal-content {
  background-color: rgb(255, 255, 255);
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal-close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-weight: bold;
  font-size: 1.25em;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  cursor: pointer;
  transition: 0.15s;
}
@media screen and (min-width: 700px) {
  .modal-close {
    top: 1em;
    right: 1em;
  }
}

