.uploadWidget {
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .inputfile + label {
    font-size: 16px;
    font-weight: 500;
    color: black;
    background-color: white;
    border: 2px solid #6f777b;
    padding: 0.475em 0.9375em 0.4625em;
    display: inline-block;
    cursor: pointer;
  }
  .inputfile + label svg {
      width: 1em;
      height: 1em;
      vertical-align: middle;
      fill: currentColor;
      margin-top: -0.25em;
      margin-right: 0.25em;
  }
  .inputfile:focus + label {
    border: 2px solid #ffbf47;
    outline: none;
  }
  .inputfile + label * {
    pointer-events: none;
  }

  .fileList {

  }
}