%p
  We notice that you don't have a trade profile.
  %br
  = link_to "Create a trade profile", url, target: :blank
  for free to promote what you sell and provide an easy way for overseas buyers to find you.
