.container
  .legacy.margin-top-30
    %h1 Thank you for your enquiry
  .panel
    %h2 What happens next?
    %p Your enquiry has been sent to the expert managing this opportunity. They will respond within 5 working days to discuss potential next steps.
    %p
      = link_to 'View your enquiries to date', dashboard_path, class: 'button button-blue'
    - unless trade_profile(@enquiry.company_house_number)
      %p
        We noticed that you don't have a trade profile.
        = link_to 'You can create one here.', Figaro.env.TRADE_PROFILE_CREATE_PAGE, target: :blank