.legacy
  = content_for :hero do
    %h1 Thank you for your enquiry

  .panel
    %h2 What happens next?
    %p Your enquiry has been sent to the expert managing this opportunity. They will respond within 5 working days to discuss potential next steps.
    %p
      = link_to 'View your enquiries to date', dashboard_path, class: 'button'
