%h1.heading-medium Select granularity
%div.form-group
  %fieldset.inline
    %legend.visually-hidden Select Granularity
    .multiple-choice{'data-target': 'select-service-provider'}
      = radio_button_tag 'granularity', 'ServiceProvider', stats_search_form.granularity == 'ServiceProvider'
      %label{:for => "granularity_ServiceProvider"} Service Provider
    .multiple-choice
      = radio_button_tag 'granularity', 'Country', stats_search_form.granularity == 'Country'
      %label{:for => "granularity_Country"} Country
    .multiple-choice
      = radio_button_tag 'granularity', 'Region', stats_search_form.granularity == 'Region'
      %label{:for => "granularity_Region"} Region
    .multiple-choice
      = radio_button_tag 'granularity', 'Universe', stats_search_form.granularity == 'Universe'
      %label{:for => "granularity_Universe"} Universe