.govuk-option-select.js-collapsible
  %button.js-container-head{"aria-controls" => "case_type", "aria-expanded" => "true", :type => "button"}
    .option-select-label Case type
    .js-selected-counter 5 selected
  #case_type.options-container{:style => "max-height: none; height: 209px;"}
    .js-auto-height-inner
      %label{:for => "case_type-ca98-and-civil-cartels"}
        %input#case_type-ca98-and-civil-cartels{"aria-controls" => "js-search-results-info", :name => "case_type[]", :type => "checkbox", :value => "ca98-and-civil-cartels"}/
        CA98 and civil cartels
      %label{:for => "case_type-competition-disqualification"}
        %input#case_type-competition-disqualification{"aria-controls" => "js-search-results-info", :checked => "checked", :name => "case_type[]", :type => "checkbox", :value => "competition-disqualification"}/
        Competition disqualification