%div
  %div.optionSelect
    %div.optionSelect__container
      %label{:for=> 'dit'}
        = check_box_tag 'post', 1, 'post'
        DIT
      %label{:for=> 'third_party'}
        = check_box_tag 'third_party', 1, 'third_party'
        Third party
