<!--
  Dialogue container
-->
<div class="dialogue" aria-hidden="true" id="announcement-dialog">
  <div class="dialogue-overlay" tabindex="-1" data-a11y-dialog-hide></div>
  <div class="dialogue-content" aria-labelledby="dialogTitle" aria-describedby="dialogDescription" role="dialog">
    <div role="document">
      <div class="grid-row">
        <div class="column-two-thirds">

          <h1 class="dialogue__title">Responding to companies</h1>

          <div class="dialogue__metadata metadata">
            <dl>
              <dt>Published on:</dt>
              <dd>12 March 2018</dd>
            </dl>
          </div>

          <div class="dialogue__content">

            <p class="dialogue__p"></p>

            <ul class="dialogue__list list list-bullet">
              <li>
                from 3 April it will be mandatory for you to use the reply feature in the admin centre instead of your email when you first respond to companies
              </li>
              <li>
                please see our <a href="/downloads/Post_to_User_FAQ.pdf">FAQ Document</a> for more information
              </li>
            </ul>

            <form action="/admin" method="get" target="_self" class="dialogue__form">
              <div class="form-group">
                <div class="multiple-choice">
                  <input id="announcement-accept" name="announcement-accept" type="checkbox" value="true">
                  <label for="announcement-accept">I have read the service update</label>
                </div>
              </div>
              <div class="form-group">
                <input type="submit" name="commit" value="Continue" class="button">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
