<!--
  Dialog container related notes:
  - It is not the actual dialog window, just the container with which the script interacts.
  - It has to have the `aria-hidden="true"` attribute (if omitted, the script
  will add it on instantiation anyway).
  - It can have a different id than `my-accessible-dialog`, but it needs an `id`
  anyway.
-->
<div class="dialog" aria-hidden="true" id="my-accessible-dialog">
  <div class="dialog-overlay" tabindex="-1" data-a11y-dialog-hide></div>
  <div class="dialog-content" aria-labelledby="dialogTitle" aria-describedby="dialogDescription" role="dialog">
    <div role="document">
      <button data-a11y-dialog-hide class="dialog-close" aria-label="Close this dialog window">&times;</button>

      <h1 id="dialogTitle">Updates</h1>

      <p id="dialogDescription">We have some new updates</p>

      <form action="/admin" method="get" target="_blank">
        <label for="email">Read?</label>
        <input type="checkbox" name="EMAIL" id="email" placeholder="john.doe@gmail.com" required>
        <button type="submit" name="button">Agree</button>
      </form>
    </div>
  </div>
</div>