- if flash[:alert]
  - if flash[:alert] == t('devise.failure.invalid')
    %p.alert.flash.error
      = t('devise.failure.invalid')
    %p.alert.flash.error
      Some users have been unable to log in with their previous password.
      If you encounter this problem, please
      = link_to 'reset your password', new_editor_password_path
      \.
  - else
    %p.alert.flash.error
      = flash[:alert]
