%footer#footer
  .container
    .feedback-section
      %p
        Do you have other suggestions? Please
        %a{ :href => "mailto:#{t('organisation.feedback_email')}?subject=EIG%20beta%20feedback" }
          email us with your feedback
