%header#header
  .container
    %a{:href => '/', :title => 'Go to the Opportunities homepage', :id => 'logo', :class => 'content'}
      %img{:src => '/images/graphic_crown.png', :height => '31', :alt => ''}
      = t('organisation.name')

    = render partial: 'admin/includes/menu'

    - if current_editor
      = button_to('Log out', destroy_editor_session_path, :class => 'button', :id => 'logout', :method => :delete)
    - else
      = link_to('Log in', new_editor_session_path, :class => 'button', :id => 'login')
