%header#header
  .container
    %a{:href => '/', :title => 'Go to the Opportunities homepage', :id => 'logo', :class => 'content'}
      = image_tag 'dfbt-logo-white.png', :height => '56', :alt => 'Department for Business & Trade'

    = render partial: 'admin/includes/authenticator'
    = render partial: 'admin/includes/menu'
