= stylesheet_link_tag 'transformation_admin/main', media: 'all'
/[if IE 9]
  = stylesheet_link_tag 'transformation_admin/main_ie9_fixes'
/[if lte IE 8]
  = stylesheet_link_tag 'transformation_admin/main_ie8_fixes'
