= javascript_include_tag 'transformation/third_party/jquery-3.2.0.min'
= javascript_include_tag 'transformation_admin/dit.page.all'

-# You can add constants for use in JS here:
:javascript
  // dit.constants.EXAMPLE_CONSTANT = "Some constant value";
