= javascript_include_tag 'transformation_admin/dit.page.all'

-# You can add constants for use in JS here:
:javascript
  // dit.constants.EXAMPLE_CONSTANT = "Some constant value";
  dit.constants.CPV_CODE_LOOKUP_URL = "#{Figaro.env.EXPORT_COMPANIES_HOUSE_SEARCH}";
